[2016-09-29 21:19] thomaslevesque commented on #477
The new behavior brought an unexpected breaking change, see #876
We might want to revert this.

[2016-09-29 21:25] thomaslevesque commented on #876
In other words, the new behavior is equivalent to doing this:

[code]

[2016-09-30 00:22] blairconrad commented on #876
Very well explained, @thomaslevesque.
I hate to flip-flop, and I think the original intent of #477 can still provide value, but the unintended change is a bug, and I've come to believe as you do—that it should be reverted.
I think we should release 2.3.1, reverting the change.

As you say, people who do need their fakes to implement all interfaces still have the option of explicitly configuring th

[2016-09-30 08:37] thomaslevesque commented on #876
I guess the new behavior *could* be considered to make sense, if we configured each explicit interface implementation to call the base class implementation by default. So I made a few tests, and noticed something strange. If we do this:

[code]

Then `((ICollection<int>)list).Count` returns the same value as `list.Count`, as expected.

**But** if we just create the fake with `o => o.CallsBaseMetho

[2016-09-30 09:51] blairconrad commented on #876
Had I to guess, I'd think it might be #463.

[2016-09-30 11:51] thomaslevesque commented on #463
[Exactly](https://github.com/FakeItEasy/FakeItEasy/blob/master/src/FakeItEasy/FakeOptionsExtensions.cs#L60-L62)!

[code]

Not sure how to fix it, though.

[2016-09-30 20:45] adamralph commented on #876
Neither path is particularly attractive but I think the safer option is to revert, release 2.3.1, with the removal of #477 in the release notes, re-open #477 with no milestone and re-assess it.

[2016-09-30 21:05] thomaslevesque commented on #876
Thanks @adamralph

Since we all agree, let's revert.

[2016-09-30 21:22] #876 closed

[2016-09-30 21:23] thomaslevesque commented on #477
Reverted, as discussed in #876

[2016-09-30 22:15] thomaslevesque commented on #873
Tweet: https://twitter.com/fakeiteasyfx/status/781980344031571969

[2016-10-01 07:15] adamralph opened #880 "2.4.0 release"
Can be labelled **ready** when all other issues on this milestone are closed.
- [ ] run code analysis in VS in _Release_ mode and address violations (send a regular PR which must be merged before continuing)
- [ ] if necessary, change `VERSION_SUFFIX` on the [CI Server](http://teamcity.codebetter.com/admin/editBuildParams.html?id=buildType:bt929)
    to appropriate "-beta123" or "" (for non-betas)

[2016-10-01 07:15] #873 closed

[2016-10-01 11:32] blairconrad opened #883 "weakness in next_version rake task"
The `next_version` rake task doesn't work because of the ruby SSL bug.
Previously we'd worked around that by having the rakefile download a PEM file from http://curl.haxx.se/ca/cacert.pem unless the `SSL_CERT_FILE` environment variable was set.
Unfortunately, that URL now redirects to HTTPS, so the approach no longer works.
I've just cached a version of the PEM and permanently set my SSL_CERT_FILE

[2016-10-01 12:04] blairconrad commented on #883
**or** we could just commit the PEM and reference it if `SSL_CERT_FILE` isn't set.

[2016-10-01 21:02] thomaslevesque commented on #883
+1
We might need to update it manually every now and then, though

[2016-10-01 21:18] blairconrad commented on #883
It's a danger. But mine's from... 2014?

[2016-10-01 21:42] adamralph opened #886 "Package links are neglecting the analyzer"
In both README.md and on https://fakeiteasy.github.io/ we link to https://www.nuget.org/packages/FakeItEasy which neglects the analyzer package. Perhaps we should create a "FakeItEasy" account on nuget.org, give it ownership of both packages, and then link to it's profile page instead, which would list both packages?

Alternatively, we could link to https://www.nuget.org/packages?q=fakeiteasy whic

[2016-10-02 09:04] adamralph opened #888 "Decommission CodeBetter CI in favour of AppVeyor"

[2016-10-02 09:07] adamralph commented on #888
CodeBetter CI seems dead in the water, so giving this a P1.

[2016-10-02 09:14] adamralph commented on #861
Is this done?

[2016-10-02 10:47] #868 closed

[2016-10-02 10:47] #888 closed

[2016-10-02 10:58] blairconrad commented on #861
@adamralph, between us I think we've done everything.

There's only one project left, we have a good NuGet URL, and the check is required:
![image](https://cloud.githubusercontent.com/assets/3275797/19020122/9c1a7a14-886d-11e6-9d9a-d92093247267.png)

Closing. Thanks for the reminder!

[2016-10-02 10:58] #861 closed

[2016-10-02 13:05] blairconrad commented on #886
Great observation, @adamralph. I agree; we should do something about this.

However, I don't favour linking to the search page as our "Package(s)" link, for a variety of reasons:

* as you point out, the order may change, pushing our packages lower (unlikely)
* packages may start matching that have nothing to do with FakeItEasy (unlikely)
* the link might be interpreted as claiming credit for othe

[2016-10-02 14:18] thomaslevesque commented on #886
I also think that a dedicated NuGet account would be the best approach.

[2016-10-02 17:29] adamralph commented on #886
@blairconrad all good points. OK, I'm happy to proceed with the NuGet account approach too. We can spin off the promotion of the ecosystem into a separate issue, if we have the appetite.

[2016-10-02 20:03] adamralph commented on #888
I'd pause the build configs on CodeBetter CI, but it's impossible to even get into the site. Ah well, the worst we'll have is some redundant build status updates if/when it does wake up again, and at that point we should be able to pause them. After a while running on AppVeyor I guess we'll delete them entirely.

[2016-10-02 20:11] blairconrad commented on #886
Creating an account now.

[2016-10-02 20:22] blairconrad commented on #886
AHA!
[image](https://cloud.githubusercontent.com/assets/3275797/19023422/544726a2-88bc-11e6-9845-deea568e03d0.png)

[2016-10-02 22:13] #886 closed

[2016-10-02 23:37] blairconrad commented on #886
Thanks, @adamralph.

[2016-10-03 16:47] #883 closed

[2016-10-04 23:48] blairconrad commented on #867
Hey, @winecraft. Are you still interested in pursuing this idea? We'd be happy to learn more about what your idea/plan is, but if it was just a passing fancy, we'll close the issue to simplify our bookkeeping.

Thanks!

[2016-10-07 10:44] blairconrad opened #894 ".Net Standard pre-release package forces downgrade of System.Linq.Expressions"
As reported by @jchannon in https://twitter.com/jchannon/status/784307755305672704:

![image](https://cloud.githubusercontent.com/assets/3275797/19187399/40146a1e-8c59-11e6-815f-ef566b094122.png)

I see our [project.json](https://github.com/FakeItEasy/FakeItEasy/blob/c8e3b690920ec5003a6e41272d59ca01c2176b91/src/FakeItEasy.netstd/project.json) requires 4.1.0, but the [nuspec](https://github.com/Fak

[2016-10-07 10:49] jchannon commented on #894
Im not sure how you guys are packaging your netstd package but you shouldnt need the nuspec file at all. The meta data can be contained in the project.json and dotnet pack can create the nupkg.

See here for example https://github.com/NancyFx/Nancy/blob/master/src/Nancy/project.json#L1-L11

[2016-10-07 11:16] blairconrad commented on #894
@jchannon, we've kept the nuspecs. Partly from inertia (I think) and partly because we're still using it to build our vanilla package for .NET 4.0 support.

I'd wondered about setting versions, but if I read your Cake file right, you mutate the project.jsons to get the build versions, yes?

[2016-10-07 11:18] jchannon commented on #894
Correct.

We get the version number, modify the json file, build and pack

On 7 October 2016 at 12:16, Blair Conrad <notifications@github.com> wrote:

[2016-10-07 11:18] blairconrad commented on #894
as an aside, https://ci.appveyor.com/project/FakeItEasy/fakeiteasy/build/33-sypfhiso/artifacts has an attempt at a fix.

[2016-10-07 13:34] jchannon commented on #894
Same issue on 000032

[2016-10-07 13:49] jchannon commented on #894
The weird issue is its downgrading from FIE 0000032 to 0000019 also

[2016-10-07 14:00] jchannon commented on #894
Just to be clear that build 33 artifact didn't work.

Calling @jeremymeng to the rescue.... 😄

[2016-10-07 14:14] jchannon commented on #894
OK after some testing, 33 does work!

[2016-10-07 15:05] blairconrad commented on #894
Sorry, I was occupied. Yay!
Was the issue the downgrade to the old package?

As @thomaslevesque points out, we'll probably want to refine the approach a little bit and trim the dependencies.

[2016-10-07 15:32] jchannon commented on #894
Yup my fault, you could possibly revert your project.json change?

I assume the fix was the nuspec change?

[2016-10-07 15:37] blairconrad commented on #894
Yeah, reverting the project.json is probably the right move.
I'd feel bad saying that without testing more (felt a little bad getting you to take my completely untested "fix"). But if you're game…

[2016-10-07 16:09] jchannon commented on #894
Yup go nuts... 😄

[2016-10-07 18:21] blairconrad commented on #894
I reverted the project.json changes and
https://ci.appveyor.com/project/FakeItEasy/fakeiteasy/build/33-qxlegkfg/artifacts
built.

[2016-10-11 15:12] blairconrad commented on #437
After looking into this, I'm inclined to **wont-fix**:

1. this is actually a step backwards for our fancy .NET Standard package, which is using a version of Castle.Core that contains the fix that #436 needs
2. if by some chance people are adding attributes (differing, which can even include just one attribute on one fake and none on another) that they don't _require_, their tests will break, with

[2016-10-11 23:47] thomaslevesque commented on #437
I didn't really understand what you were talking about in #3 until I looked at the implementation of https://github.com/castleproject/Core/pull/78. The implementation is indeed flawed, and the tests don't show it because, as you noted, they're flawed as well.

But I don't think it's difficult to tell if two `CustomAttributeBuilder`s are equivalent; it's just a matter of comparing the attribute typ

[2016-10-12 00:30] thomaslevesque commented on #437
Scratch that... I just realized the members of `CustomAttributeBuilder` are not public 😭

So, as you said, I don't think there's a reliable way to compare two `CustomAttributeBuilder` instances. Because of this, I think https://github.com/castleproject/Core/pull/78 does more harm than good and should probably be reverted.

[2016-10-12 20:06] blairconrad commented on #867
3 weeks of no activity. I'm calling it.

@winecraft, we can always re-open this discussion if you return with more information.

[2016-10-12 20:06] #867 closed

[2016-10-15 16:54] SurajGupta opened #897 "Strict Fake with catchall arguments"
I'm attempting to create a Strict Fake that returns different values for various argument values, but if none of the arguments match I'd like a catchall so that `ExpectationException` is not thrown.  I would like `ExpectationException` thrown for the methods that have no configuration.

for example:

[code]

here's what I'm expecting based on the order in which I configured the fake:

[code]

here

[2016-10-15 17:02] thomaslevesque commented on #897
Fake call rules are "stacked", and each call is evaluated against each rule "from the top". The first rule that matches is used. So in your current code, calls are evaluated against the catch-all rule first, which always matches, and the other rules are not even considered.

If you put the catch-all rule first, it should work as you expect.

[2016-10-15 18:23] blairconrad commented on #897
@SurajGupta, @thomaslevesque's explanation is absolutely correct, of course. But if you're looking for a little more information about this, check out [Changing behavior between calls](http://fakeiteasy.readthedocs.io/en/stable/limited-call-specifications/#changing-behavior-between-calls) in the docs.

[2016-10-15 18:53] SurajGupta commented on #897
@thomaslevesque @blairconrad - thanks for the quick reply and pointer to docs!

[2016-10-15 18:53] #897 closed

[2016-10-19 12:35] adamralph commented on #531
How are we affected by the recent revelation that netstandard 1.5 and 1.6 are going to be broken by 2.0?

[2016-10-19 12:54] khellang commented on #531
I'm not sure the breaking change is real after all; https://twitter.com/terrajobst/status/786993233913978880

[2016-10-19 13:16] adamralph commented on #531
Thanks @khellang, I missed that. Good to know!

[2016-10-27 23:25] thomaslevesque commented on #437
My PR to fix the custom attribute comparison (https://github.com/castleproject/Core/pull/219) has been merged, so we can now fix the problem by upgrading to Castle.Core 4.0.0-beta002.

However, since there are breaking changes in the API, it means that the code between the stable and netstd versions of FakeItEasy will have to be different until the final release of Castle.Core 4.0.0... Do we want

[2016-10-27 23:36] blairconrad commented on #437
I think it's better to wait.

[2016-10-29 13:36] #894 closed

[2016-11-07 12:58] thunderbird55 opened #899 "Ignored/That argument constraints do not Work for ByRef-Arguments in VisualBasic"
All Versions >= 2.00

See the following interface
[code]

As soon as I want to use any argument constraint for an ByRef-Argument an exception is thrown. (System.InvalidOperationException: A<T>.Ignored, A<T>._, and A<T>.That can only be used in the context of a call specification with A.CallTo)

[code]

[2016-11-07 13:33] thomaslevesque commented on #899
Hi @thunderbird55,

Interesting... we never noticed this issue before, because it can't occur in C#. In C#, only a local variable or a field can be passed by reference, not a value (like `2`) or a property (like `A(Of Object).Ignored`), so there's no way to use an argument constraint on a by-ref parameter.

I'll look into it. In the meantime, for this specific case you can use this:

    A.CallTo(

[2016-11-08 11:00] thunderbird55 commented on #899
Hi @thomaslevesque
thank you for your quick response. For my case WhenArgumentsMatch works.
I think this issue happens because of the way VB handles ByRef-Arguments. As you wrote c# does not allows properties to pass by reference ( for good reasons).
The VB-Compiler creates automatically a local variable that is passed by reference.
So

`A.CallTo(Sub() test.BarByRef(2)).MustHaveHappened()`

become

[2016-11-08 11:29] thomaslevesque commented on #899
Yes, but that doesn't really explain the error message... I'll need to debug step by step to see exactly why it's not working.

[2016-11-08 11:42] blairconrad commented on #899
@thomaslevesque, I think @thunderbird55 has explained the error message. A corollary to [yo](http://www.quickanddirtytips.com/education/grammar/yo-as-a-pronoun)'s last statement is that

[code]

becomes

[code]

And the latter will throw on the first line.

[2016-11-08 12:38] thomaslevesque commented on #899
Ah, yes, I missed that. Actually, I expected the code to become something like this:

[code]

(probably not valid syntax, but you get what I mean)

But it doesn't really change anything, since `A(Of Object).Ignored` is still not directly passed as a parameter.

So, in fact, I'm not sure if this should be considered a bug. We can't use argument constraint on by-ref parameters:
- in C#, because the

[2016-11-08 12:42] thomaslevesque commented on #899
btw @thunderbird55, maybe this code didn't throw in FakeItEasy 1.x, but it didn't do what you would expect either: `A<T>.Ignored` returns null, so it was the same as doing `A.CallTo(Sub() test.BarByRef(Nothing))`.

Starting in 2.0.0, we made `A<T>.Ignored` and `A<T>.Matches()` throw when called outside a call specification, to prevent invalid usage that wouldn't give the expected result.

[2016-11-08 13:02] thunderbird55 commented on #899
@thomaslevesque
I just used A(Of Object).Ignored to keep the example as simple as possible.
The original test used this code:
[code]
And this code worked with version 1.23
I've created some new tests with a newer version of FakeItEasy but we mentioned that a few old tests didn't work.

And I think your expectation is right, I forgot that this was inside a lambda. But honestly I'm not sure what VB

[2016-11-14 15:48] blairconrad commented on #436
Assigning to @thomaslevesque, because I think he's interested. @thomaslevesque, if not, throw it back in the pool!

[2016-11-14 16:40] thomaslevesque commented on #436
Already started ;)

[2016-11-14 20:59] adamralph commented on #437
Since we are not going to do this in two stages anymore, this issue is redundant. We are fixing the bug #436 in 3.0.

[2016-11-14 20:59] #437 closed

[2016-11-15 01:35] blairconrad opened #902 "3.0.0 release"
Can be labelled **ready** when all other issues on this milestone are closed.

- [x] check integration package compatibility
  - [x] [AutoFixture.AutoFakeItEasy](https://github.com/AutoFixture/AutoFixture) - @blairconrad
    - fails - can't find `IFakeOptionsBuilder<T>` in the new FakeItEasy. This is no different than the case when using AutoFixture.AutoFakeItEasy against FakeItEasy 2.x. Fixing Au

[2016-11-15 14:27] #436 closed

[2016-11-15 14:28] adamralph commented on #531
Assigned to 3.0.0 milestone.

[2016-11-15 18:57] #864 closed

[2016-11-15 19:40] adamralph commented on #830
Is this something we want to do in 3.0?

[2016-11-15 21:52] blairconrad commented on #830
It's something I'd like to do.
Unless we're in a _tearing_ rush for 3.0, I'd try to get it in.

[2016-11-15 21:53] blairconrad commented on #830
by which I mean I think we should do it. Not claiming. Although I _would_ do it.

[2016-11-15 22:04] thomaslevesque commented on #830
I also think we should do it 👍

[2016-11-15 22:58] adamralph commented on #830
Fine by me. Adding to 3.0.0 milestone and un-on-holding.

[2016-11-16 10:40] thomaslevesque opened #904 "Automatic cancellation support"
I have a lot of dependencies with (usually `async`) methods that accept a `CancellationToken`. When the token is cancelled, these methods throw an `OperationCanceledException`. This is the expected implicit behavior for these methods, but by default, fakes don't throw anything when they receive a call with a cancelled token. So my thinking is that this behavior could be baked into FakeItEasy as a

[2016-11-16 10:45] blairconrad opened #905 "3.0.0-beta001 release"
Can be labelled **ready** when all other issues on this milestone are closed.

- [x] run code analysis in VS in *Release* mode and address violations (send a regular PR which must be merged before continuing)
- [x] if necessary, change `VERSION_SUFFIX` in [AppVeyor](https://ci.appveyor.com/project/FakeItEasy/fakeiteasy/settings) to appropriate "-beta123" or "" (for non-betas) value and initiate a

[2016-11-16 10:49] blairconrad commented on #904
I'm not trying to quash this issue, but have you tried to build the behaviour into a [FakeOptionsBuilder](http://fakeiteasy.readthedocs.io/en/stable/implicit-creation-options/)?

[2016-11-16 10:53] blairconrad commented on #904
Also, while I'm critiquing, you might want `First` instead of `FirstOrDefault`, since there's going to be an item in the enumerable, and if there weren't you'd throw a less-helpful exception anyhow.

[2016-11-16 11:01] thomaslevesque commented on #904
It wouldn't really solve anything... I want *all* fakes to have this behavior, and I don't want to create a fake options builder for each type of dependency.

By convention (with very few exceptions), a method that accepts a `CancellationToken` should always throw if the token is cancelled. What I'd like is to implicitly enforce that convention in FakeItEasy.

Good point!

[2016-11-16 11:14] blairconrad commented on #904
I was thinking of something like

[code]

Of course, you could get fancier in `CanBuildOptionsForFakeOfType` and look for methods that accept cancellation tokens. But I'm lazy.

[2016-11-16 12:36] thomaslevesque commented on #904
Ah, I didn't think of using a non-generic fake options builder. But that wouldn't work either, because we only use one FOB for a given fake type. Any other FOB with a higher priority would preempt the default one.

(btw, it might be interesting to consider using multiple FOBs for a given fake type)

[2016-11-16 13:36] blairconrad commented on #904
Ah, you're already using FOBs? That is a problem. You could in theory make a more complicated FOB that handles all your logic, but that sounds like it will become nightmarish.

I've off and on thought about the limitation of having only one active FOB per type, but I think allowing multiple to apply could be very confusing.

[2016-11-16 16:29] thomaslevesque commented on #904
Yes. But anyway, I realized my approach has annoying limitations: the generic "throw when token is cancelled" configuration doesn't magically combine with other call configurations. As soon as I configure a method explicitly, it overrides the previous rule, so it no longer throws when I call the method with a cancelled token... unless I constrain the token to not be cancelled in the new configurat

[2016-11-16 19:11] blairconrad commented on #904
Yeah, that was part of my concern about "nightmarish" FOB, or about combining FOBs.

Does this affect your desire for automated support for cancellation tokens?
If it were to happen, I'd guess that the best we could do was "unconfigured methods will throw when one of the arguments is a cancelled token", and as soon as you introduce your own configuration to a method, you'll have to account for the

[2016-11-16 19:18] thomaslevesque commented on #904
Well, ideally I'd still like to have it, but I'm not sure how it would work.

The way I eventually handled it is by creating a `NotCancelled` extension method on `IWhereConfiguration<T>` which adds a condition on the token, so I can do something like this:

[code]
The `.NotCancelled()` adds a check on the cancellation token, to avoid overriding the "throw when token is cancelled" rule. I suppose w

[2016-11-16 19:22] thomaslevesque commented on #904
A quick look at the code shows that it is actually possible:
https://github.com/FakeItEasy/FakeItEasy/blob/master/src/FakeItEasy/Core/FakeManager.cs#L86-L87

Currently we only add an `EventRule` to it.

[2016-11-16 19:30] thomaslevesque commented on #904
Not sure yet if it's something we'll want to do, but I'm going to POC it to get a better idea.

[2016-11-16 22:43] adamralph commented on #531
I checked off the integration tests item in [The List](https://github.com/FakeItEasy/FakeItEasy/issues/531#issuecomment-236366247).

Only specs to go! That's a good incentive to sort out xbehave once and for all.

BTW - I'd be content to push an 3.0 alpha to nuget.org now if we want to unblock https://github.com/NancyFx/Nancy/issues/2612 and then push the first beta once we've got the specs runnin

[2016-11-16 22:45] thomaslevesque commented on #531
Sounds like a good plan 👍

[2016-11-16 23:03] blairconrad commented on #531
Oh, bother. I'd made a beta001. Can make an alpha001.

[2016-11-16 23:08] blairconrad opened #907 "3.0.0-alpha001 release"
Can be labelled **ready** when all other issues on this milestone are closed.

- [x] run code analysis in VS in *Release* mode and address violations (send a regular PR which must be merged before continuing)
- [x] if necessary, change `VERSION_SUFFIX` in [AppVeyor](https://ci.appveyor.com/project/FakeItEasy/fakeiteasy/settings) to appropriate "-beta123" or "" (for non-betas) value and initiate a

[2016-11-17 08:42] adamralph commented on #820
Based on recent discussions, I'm unblocking this and putting it on the 3.0.0 milestone.

[2016-11-17 08:45] adamralph commented on #907
Should we slim down our alpha releases? I propose removing a few points, and only tagging rather than creating a GH release:

- [ ] ~~run code analysis in VS in *Release* mode and address violations (send a regular PR which must be merged before continuing)~~
- [x] if necessary, change `VERSION_SUFFIX` in [AppVeyor](https://ci.appveyor.com/project/FakeItEasy/fakeiteasy/settings) to appropriate "-b

[2016-11-17 09:52] thomaslevesque commented on #907
+1 for simplifying the process for alpha releases

But we should probably still tweet the releases, if we want people to try them out.

[2016-11-17 11:57] blairconrad commented on #907
Contrary Blair comes to the discussion.
My inclination would be for every release to look the same. So I'd go for _more_ work!

But let's leave that for another day.
I like to run the code analysis on every build, but I can give that up.

I think we should have a Release. Otherwise, how's anyone to find out what went into the build?
And I'm not really sure what's saved by not making it anyhow. The

[2016-11-17 12:19] adamralph commented on #907
@blairconrad keeping all the release issues the same would indeed be nice.

I'll make a different proposal instead, which applies to all releases, regardless of phase (alpha/beta/RC/RTM).

I propose we remove this point from all releases:

- de-list pre-release or superseded buggy NuGet packages if present

The problem here is that it the NuGet client can display erratic behaviour in some cases wh

[2016-11-17 13:50] blairconrad commented on #907
Thanks for the counter, @adamralph. I'm happy with all points!

[2016-11-17 14:14] blairconrad opened #908 "merge .NET Standard and .NET Full builds"
We currently have

* build.cmd
* rakefile.rb
* FakeItEasy.sln
* FakeItEasy.nuspec

and *.netstd.* versions of the same.

AppVeyor builds both `build*.cmd`s.
The `FakeItEasy.netstd.nuspec` packages everything that's in `FakeItEasy.nuspec`.

We should

- move the netstd versions over top of the others
- update AppVeyor to run the remaining build.cmd, and
- restore the proper version generation in th

[2016-11-18 11:56] adamralph opened #910 "Rename IAfterCallSpecifiedConfiguration to IAfterCallConfiguredConfiguration"
See https://github.com/FakeItEasy/FakeItEasy/pull/804#r73755669

[2016-11-18 16:09] #803 closed

[2016-11-18 19:37] #908 closed

[2016-11-20 03:03] blairconrad commented on #907
I lost the reference, but now that we have `Then`, are we good to release the alpha?

[2016-11-20 06:17] adamralph commented on #907
Yep, I think we should release the first alpha straight away. We can always release more alphas before beta, even if there are breakages between the alphas.

[2016-11-20 09:53] thomaslevesque commented on #907
Yes, I think we're good to go.

[2016-11-20 12:21] blairconrad commented on #820
I notice that we expose `IFakeOptionsForWrappers` and `IFakeOptionsForWrappers<T>` in the netstd build, and they only expose `RecordedBy`.
Shall we replace them with `IFakeOptions` (`<T>`) for the netstd build? If we'd remove it once we remove Self-Initializing Fakes, I think it makes sense to make the change now.

[2016-11-20 12:34] blairconrad commented on #820
Also, want to pre-tweak the `Obsolete` message?

[code]

to appear on all the `RecordedBy`s. I didn't think that forcing an error was warranted. Let the sticklers' build settings do that for them…

[2016-11-20 12:44] blairconrad opened #913 "Simplify release process"
As @adamralph [suggests](https://github.com/FakeItEasy/FakeItEasy/issues/907#issuecomment-261233206):

Sounds good to me.

[2016-11-20 12:45] blairconrad commented on #913
Oh!

Also, we've been saying

but it seems we've every time been attaching both packages, even if there's only a change to one.
I'm good to just attach the changed package, but wanted to make sure you all are too.
If not, we should update this directive.

[2016-11-20 13:03] blairconrad commented on #907
https://twitter.com/fakeiteasyfx/status/800323544164900864

[2016-11-20 16:59] thomaslevesque commented on #820
👍

Maybe something less definite than "the next major release"? Unless we're certain we want to remove it in 4.0.0.

Agreed. Forcing an error would have the same effect as removing the feature right now. As long as it's not actually removed, it should still be usable.

[2016-11-20 17:05] thomaslevesque commented on #913
I'm a bit torn on this... On one hand, it makes sense to not release the analyzer if it hasn't changed. On the other hand, it's nice to have the same version for the library and the analyzer; if I see that I'm referencing FakeItEasy 3.0.0 and FakeItEasy.Analyzer 2.3.1, I'm going to wonder if the analyzer is out of date. Also, if we make a meta-package that includes both the library an analyzer (I

[2016-11-20 17:47] blairconrad commented on #913
Yeah, I'm torn too.

One other point: if we end up adding more automation to the release, it's probably easier to deal with all the packages in the same manner.

[2016-11-20 17:56] #830 closed

[2016-11-20 18:08] blairconrad commented on #830
Thanks for the merge!
Oh. I should update release notes. I wonder if we're going for an alpha002 or a beta001…

[2016-11-20 18:22] thomaslevesque commented on #830
Well, Castle.Core 4.0.0 is beta now, so I guess we could do a beta as well, and release a final version once Castle.Core goes final too.

[2016-11-20 19:38] adamralph commented on #820
👍 to replacing with `IFakeOptions` (`<T>`)

In NServiceBus and related packages, we do indeed [specify the version number when the item will be removed](https://docs.particular.net/nservicebus/upgrades/release-policy#deprecation). I think it's safe to say that we'll do it in 4.0. My suggestion:

For the reason @thomaslevesque states, I agree that the obsolete should be a warning. We could be even

[2016-11-20 19:46] adamralph commented on #913
I don't mind keeping the analyzer releases in lockstep with the main package. @thomaslevesque makes a good point. When either package is ahead of the other, I can see people asking why the other is out of date.

This is tangentially related, but I've been giving some more though recently to whether the packages should't be bundled together. IIRC one of the reasons we were put off from doing this l

[2016-11-20 19:52] blairconrad opened #914 "Replace IFakeOptionsForWrappers with IFakeOptions in .NET Standard build"
From https://github.com/FakeItEasy/FakeItEasy/issues/820#issuecomment-261774982:

Everyone else thought it made sense too!

[2016-11-20 19:55] blairconrad commented on #820
This was my initial impulse as well. I don't know why I phrased as "next major release". So... vague.

Not warn in 3.0.0, error in 4.0.0, and remove in 5.0.0?

Either way, I agree that it's overkill.

[2016-11-20 19:55] #907 closed

[2016-11-20 19:56] adamralph commented on #830
Beta generally means that no more breaking changes are planned. Given that we still have https://github.com/FakeItEasy/FakeItEasy/issues/910 on the [3.0.0 milestone](https://github.com/FakeItEasy/FakeItEasy/milestone/31), I'm not sure we can progress past alpha yet.

I'm also not sure about #904 since I haven't had a chance to catch up on the conversation there yet.

[2016-11-20 19:57] adamralph commented on #914
Do we need a separate issue for this? For me it feels like part of #531

[2016-11-20 19:57] blairconrad commented on #830
Whoa. Did we not meet that goal in the lead-up to 2.0!

I guess maybe at each release we hadn't _planned_ any breaking changes.

[2016-11-20 19:58] adamralph commented on #914
Ah, I guess you want to easily form release notes for the next pre-release. In that case, should we use the 3.0.0-pre milestone? IIRC this exactly the type of case it was designed for.

[2016-11-20 20:00] adamralph commented on #820
Oh, sorry, yes, I had an off by one error 😄

[2016-11-20 20:01] adamralph commented on #830
Yeah, I think the transition from alpha to beta is still at the mercy of breaking changes that you don't yet know you need to do, but I think that's fine.

[2016-11-20 20:06] thomaslevesque commented on #830
I thought that was RC?

[2016-11-20 20:10] adamralph commented on #830
An RC is the version that will be RTM, unless someone finds a bug. I.e. RTM should ideally be built off the same commit. If you look at our current 3.0.0 milestone, after we close #910, the remaining work is deprecating self initialised fakes and adding acceptance tests for netstd, which sound like text book "remaining things to do after the beta release", before RC.

[2016-11-20 20:48] blairconrad commented on #914
Yes, good point. Changing milestone.

[2016-11-20 21:37] thomaslevesque commented on #913
@adamralph good point about analyzers in the new project model. However I think we should keep releasing a package without the analyzer, if only to avoid conflicts with ReSharper's external annotations.

[2016-11-20 22:01] #910 closed

[2016-11-21 00:18] #913 closed

[2016-11-21 00:23] blairconrad opened #919 "3.0.0-alpha002 release"
Can be labelled **ready** when all other issues on this milestone are closed.

- [ ] run code analysis in VS in *Release* mode and address violations (send a regular PR which must be merged before continuing)
- [ ] if necessary, change `VERSION_SUFFIX` in [AppVeyor](https://ci.appveyor.com/project/FakeItEasy/fakeiteasy/settings) to appropriate "-beta123" or "" (for non-betas) value and initiate a

[2016-11-21 00:56] #914 closed

[2016-11-22 19:59] #820 closed

[2016-11-26 11:01] adamralph commented on #904
Given that #906 was abandoned, should we withdraw this?

[2016-11-26 11:10] thomaslevesque commented on #904
Well, the approach I proposed in my PR was probably too risky, but I'm still hoping we can find a way to improve the experience around cancellation. If there's no interest, though, feel free to close this issue.

[2016-11-26 11:11] adamralph commented on #904
I'm fine with leaving it open if we still want to explore other ways of doing it.

[2016-11-27 23:35] adamralph commented on #531
FYI I just pushed a xbehave 2.2.0 beta 1 to NuGet, with support for .NET Standard 1.0! https://www.nuget.org/packages/Xbehave/2.2.0-beta0001-build680

[2016-11-28 13:39] ar7z1 opened #926 "Support Invokes method with 5 arguments"
I'd like to call `Invokes` for method with 5 arguments ([IDataRecord.GetBytes](https://msdn.microsoft.com/en-us/library/system.data.idatarecord.getbytes)):
[code]

But `Invokes` doesn't support methods with 5 arguments :-(

[2016-11-28 13:39] ar7z1 commented on #926
I'll create a PR soon.

[2016-11-28 13:55] ar7z1 commented on #926
Create a PR #927

[2016-11-28 14:07] blairconrad commented on #926
Hi, @ar7z1. Thanks for your interest in FakeItEasy.

However, we've intentionally limited the "convenience" versions of `Invokes`, `Throws`, and so on to 4 arguments. We made this decision both because of the increasing effort involved in maintaining more overloads, and because methods with a large number of arguments are often considered to be poor design.

There's no rule that says "4 is good, 5

[2016-11-28 14:09] blairconrad commented on #926
In the absence of a differing opinion from the other owners, I'll close this issue **wontfix**.

[2016-11-28 14:19] thomaslevesque commented on #926
Thanks @ar7z1, but I agree with @blairconrad on this; we have to put a limit somewhere. Note that the convenience overloads of `Invokes` are defined as extension methods, so you can always declare more of them in your own code if you need them.

[2016-11-28 14:21] adamralph commented on #926
👍 to close.

[2016-11-28 14:21] #926 closed

[2016-11-28 14:51] ar7z1 commented on #926
Hi, @blairconrad, @thomaslevesque and @adamralph. Thanks for review and comments!

Ok, I'll declare `Invokes` in my code.

[2016-11-28 15:03] adamralph commented on #926
@ar7z1 thanks again for the contribution. Even though we didn't accept this proposal, we appreciate your effort.

[2016-11-28 15:46] ar7z1 commented on #926
@adamralph not at all! :-)

[2016-11-28 21:32] thomaslevesque commented on #531
I'm working on making the specs work on netcoreapp1.0 now. I haven't done much for .NET Core support so far, so I guess it's my last chance :wink:

[2016-11-28 21:42] blairconrad commented on #531
Haha! I was just having some fun.

Also, welcome to heck.

[2016-11-28 21:52] adamralph commented on #531
The project.json for the test project in xbehave itself might be a good
reference. The explicit use of the testutility package should be ignored
though, that's for the meta level code which allows scenarios to test
scenarios.

On 28 Nov 2016 22:42, "Blair Conrad" <notifications@github.com> wrote:

[2016-11-28 22:13] thomaslevesque commented on #531
Well, the worst part is the poor VS integration. No Intellisense, no test runner and no debug for netstd 😒

Thanks; actually, I copied and edited the project.json from integration tests, and it's working fine. I just have one failing scenario to fix.

[2016-11-29 06:11] adamralph commented on #531
The VS test runner should work. It works for the xbehave solution.

On 28 Nov 2016 11:13 p.m., "Thomas Levesque" <notifications@github.com>
wrote:

Also, welcome to Heck.

Well, the worst part is the poor VS integration. No Intellisense, no test
runner and no debug for netstd 😒

The project.json for the test project in xbehave itself might be a good
reference. The explicit use of the testutility p

[2016-11-29 12:42] thomaslevesque commented on #531
For me it doesn't see *any* test, not even the net40 ones. Maybe I need to install something else.

[2016-11-30 07:11] adamralph commented on #531
[The List](https://github.com/FakeItEasy/FakeItEasy/issues/531#issuecomment-236366247) is complete!

Fantastic work all round.

[2016-11-30 07:11] #531 closed

[2016-11-30 07:18] adamralph commented on #919
I think we're ready for the next release. If we think that #904 will be part o 3.0.0 then it should be an alpha. If not, then it can be a beta.

[2016-11-30 07:58] thomaslevesque commented on #919
I don't think #904 should be in any release at this point, it's just an
open discussion.

[2016-11-30 10:10] blairconrad commented on #531
Huzzah! Well done, everyone!

![image](https://cloud.githubusercontent.com/assets/3275797/20748218/4df01d5e-b6bb-11e6-91c4-14d639f362f0.png)

[2016-11-30 10:20] adamralph commented on #531
![](http://static.celebuzz.com/uploads/2013/06/14/request-five.gif)

[2016-11-30 10:20] adamralph commented on #919
In that case, let's go with #905 instead.

[2016-11-30 10:20] #919 closed

[2016-11-30 10:23] blairconrad commented on #919
`VERSION_SUFFIX` is now `-beta001`.

[2016-11-30 10:23] blairconrad commented on #919
building

[2016-11-30 10:50] blairconrad commented on #905
https://twitter.com/fakeiteasyfx/status/803913311469367296

[2016-11-30 10:52] #905 closed

[2016-11-30 11:24] adamralph commented on #905
Thanks @blairconrad !

[2016-12-01 12:45] thomaslevesque commented on #904
Thinking about this again... We could change the default behavior for unconfigured methods to throw (or return a cancelled task) when a cancelled token is passed, but *not* prevent this behavior from being overridden as I had initially suggested (@blairconrad eventually convinced me this was a crazy idea).

This would still be a breaking change, but I think it would have a very low impact. In unit

[2016-12-01 13:54] blairconrad commented on #904
I'm in. For all the things.

I see the value in having the default behaviour respect a cancellation token. My main fear was the change in semantics of explicitly configuring a method, and especially what it meant for `A<CancellationToken>._`.

The only tweak I'd suggest (and you may already have thought of it, just not bothered mentioning it because it wasn't yet relevant) is to give `IsNotCancell

[2016-12-01 14:17] thomaslevesque commented on #904
Question: should async methods throw an `OperationCanceledException` directly, or return a cancelled task? From what I can see in the BCL (`Task.Delay`, `Stream.ReadAsync`, `SemaphoreSlim.WaitAsync`, `HttpClient.SendAsync`...), methods that receive an already cancelled token return a cancelled task, so I think we should do the same. But it makes the implementation a little more complex, because th

[2016-12-01 14:47] blairconrad commented on #904
Returning a cancelled task sounds like the right thing to me.

I would've guessed that the new rule (and that's how I'd try to implement this, by adding a new post-user rule in the `FakeManager` constructor) would just return a newly-created cancelled task when the method is passed a cancelled token. (Or throw the exception if the return type is not a task.)

[2016-12-01 19:21] adamralph commented on #904
👍 from me!

[2016-12-01 20:38] thomaslevesque commented on #904
Since it is breaking, and we've already released a beta, is it too late to include it in 3.0.0?

[2016-12-01 20:49] blairconrad commented on #904
NEVER!

[2016-12-01 20:51] blairconrad commented on #904
More seriously, I certainly hope not. I'm not sure where the "beta == no more breaking changes" comes from, but it seems overly limiting to me. I do not know why we can't just keep breaking things during the pre-release phase.

Not that I'm advocating complete pandemonium. We'll be as responsible as we can, but I think it's silly to block progress just because we didn't anticipate this change when

[2016-12-01 21:01] thomaslevesque commented on #904
@adamralph [mentioned it](https://github.com/FakeItEasy/FakeItEasy/issues/830#issuecomment-261801004) a few days ago, and it was a little surprising to me.

Actually, that's my fault. I might have been hasty in [saying](https://github.com/FakeItEasy/FakeItEasy/issues/919#issuecomment-263807345) this issue shouldn't be included in any release yet... I didn't think we'd be so quick to reach an agree

[2016-12-01 21:05] blairconrad commented on #904
Oh, sorry. I was unclear. I meant I didn't know the provenance. I was alluding to his comment.

Pfah! Don't be so hard on yourself.

I'd much rather get it in now.

[2016-12-01 21:16] adamralph commented on #904
I'm fine with it being part of 3.0.0.

There's no firm definition of the phases, but the way I see it is:

- alpha: anything may change before RTM and probably will.
- beta: things may still change before RTM but they probably won't.
- RC: RTM quality. *Will be the RTM if no bugs are found*. The only changes before RTM will be bug fixes and they will generate a new RC each time.

I think beta is t

[2016-12-01 21:17] blairconrad commented on #904
:+1:

[2016-12-02 00:31] thomaslevesque opened #932 "Add a ThrowsAsync method to return a failed task"
While thinking about how [automatic cancellation](https://github.com/FakeItEasy/FakeItEasy/issues/904) should work for async methods, I realized that the current behavior for `Throws` isn't ideal for these methods. The problem is that there are two ways for a `Task`-returning method to "throw":

1. it can throw an exception directly, if its implementation is not actually asynchronous but just has

[2016-12-02 01:56] blairconrad opened #933 "3.0.0-beta002 release"
Can be labelled **ready** when all other issues destined for this release are closed.

- [x] run code analysis in VS in *Release* mode and address violations (send a regular PR which must be merged before continuing)
- [x] change `VERSION_SUFFIX` in [AppVeyor](https://ci.appveyor.com/project/FakeItEasy/fakeiteasy/settings) to "-beta002" and initiate a build
- [x] check build
- edit draft release i

[2016-12-04 22:43] #904 closed

[2016-12-04 22:44] adamralph commented on #933
Now that #904 is done, I guess we're ready to release this beta.

[2016-12-05 12:21] adamralph commented on #880
Shall we close this? I think it's highly unlikely we'll ever release a 2.4.0.

[2016-12-05 12:24] blairconrad commented on #880
There's always the "reopen" button!

[2016-12-05 12:24] #880 closed

[2016-12-05 12:27] adamralph commented on #880
Thanks. I'll close the milestone too.

[2016-12-05 13:00] Mertsch opened #938 "Why have a TaskHelper?"
What is the purpose of `internal static class TaskHelper`?

especially considering that there is something equivalent at https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/Tasks/Task.cs
[code]

[2016-12-05 13:04] thomaslevesque commented on #938
We still support .NET 4.0, which doesn't have  `Task.FromResult`

[2016-12-05 13:11] Mertsch commented on #938
@thomaslevesque Thanks

[2016-12-05 13:11] #938 closed

[2016-12-05 13:38] blairconrad commented on #880
RIGHT! Sorry.

[2016-12-05 19:19] thomaslevesque commented on #933
https://twitter.com/fakeiteasyfx/status/805853943972720640

[2016-12-05 19:30] thomaslevesque opened #939 "3.0.0-rc001 release"
Can be labelled **ready** when all other issues destined for this release are closed.

- [x] run code analysis in VS in *Release* mode and address violations (send a regular PR which must be merged before continuing)
- [x] change `VERSION_SUFFIX` in [AppVeyor](https://ci.appveyor.com/project/FakeItEasy/fakeiteasy/settings) to "-rc001" and initiate a build
- [x] check build
- edit draft release in

[2016-12-05 19:31] #933 closed

[2016-12-05 19:59] blairconrad opened #940 "Add a (manual) NuGet deployment option to AppVeyor"
@thomaslevesque instigated this. We should probably

- [x] add the [NuGet.org environment](https://ci.appveyor.com/environment/12362) to AppVeyor
- [x] try it out in the next release (3.0.0-beta003 and 3.0.0 releases have been updated to suggest this)
- [ ] update the "release issue" checklists to instruct us to do that next time (#990)

[2016-12-06 13:01] adamralph commented on #940
If we're going to do this, I wonder if we should start building tags, since then we can just click the tag in the build list when deploying. It would need us to alter our workflow a little though, since we'd need to tag the commit (or do so by creating a GitHub release) and then publish to NuGet.org.

One question though - where should we get the nupkg files for attaching to the GH release? I thin

[2016-12-06 13:02] adamralph commented on #940
BTW - this is also a thing:

![image](https://cloud.githubusercontent.com/assets/677704/20926449/9b4eee58-bbbc-11e6-812e-836bb3ac3d62.png)

[2016-12-06 13:06] thomaslevesque commented on #940
I guess it would make sense; I don't mind the change in the workflow.

I think they should come from AppVeyor

Oh, interesting. Does it mean it can automatically attach the artifacts to the release?

[2016-12-07 13:37] SurajGupta opened #942 "Request to add Dummy(Type type) convenience method to A"
Wondering if we could add this method to static class `A` for convenience:
`public static object Dummy(Type type)`

[2016-12-07 13:48] thomaslevesque commented on #942
It's already there, but not in `A`:

    object FakeItEasy.Sdk.Create.Dummy(Type typeOfDummy)

[2016-12-07 14:08] SurajGupta commented on #942
thanks!  I think it would be more discoverable in `A`, but also realize that you probably don't want to inflate that class too much.

[2016-12-07 17:03] blairconrad commented on #942
Sounds like this has been resolved. Closing.
Thanks for your interest in FakeItEasy, @SurajGupta!

[2016-12-07 17:03] #942 closed

[2016-12-08 06:31] adamralph commented on #932
I don't think this is a problem. In the world of async, `Task` is the new `void`, and `Task<int>` is the new `int`.

[2016-12-08 06:33] adamralph commented on #940
I'm not sure, but I can't think of any other reason for that deployment provider to exist.

[2016-12-08 06:41] blairconrad commented on #932
Darn. I'd meant to comment on this a while ago. Sorry, @thomaslevesque.

For me, `ThrowsAsync` is figureoutable, but not obvious. I worry that it could be misinterpreted as a kind of "*Lazily"
Also, one drawback (I think) is that it will be available on every method with a return value, not just the ones that return tasks, no?
So we'll have to catch misuses and throw exceptions at runtime?

[2016-12-08 10:09] thomaslevesque commented on #932
Unless it's implemented as an extension method. But I'm afraid we're going to hit the same issue as in #804, where some extension methods suddenly had an extra generic type parameter, making them hard to use because both generic type parameters had to be specified (which is why we eventually put them in the interface)

[2016-12-08 10:29] thomaslevesque commented on #932
Actually, it works fine in the basic cases:

    public static void ThrowsAsync(this IReturnValueConfiguration<Task> configuration, Exception ex)
    {
        configuration.ReturnsLazily(call => Task.FromException(ex));
    }

    public static void ThrowsAsync<T>(this IReturnValueConfiguration<Task<T>> configuration, Exception ex)
    {
        configuration.ReturnsLazily(call => Task.FromExcept

[2016-12-08 11:18] blairconrad commented on #932
So, to recap, you can implement an acceptable subset of the desired methods that only apply to faked methods that return a task, and your only roadblock is my complaint about the name?
If that's the case, complaint withdrawn!

[2016-12-08 11:27] thomaslevesque commented on #932
Basically, yes 😉

I don't mind picking another name, but I can't think of anything more adequate. `ReturnsFailedTask` would be accurate, but doesn't seem very natural to me.

[2016-12-08 12:06] blairconrad commented on #932
I probably would've come around to `ThrowsAsync` even it was available when configuring any method.
Since it's limited to Task-returning methods, my concerns have essentially been nullified.
:shipit:

[2016-12-08 23:43] thomaslevesque commented on #932
Actually, those extension methods have the same problem we had discussed in https://github.com/FakeItEasy/FakeItEasy/pull/804#discussion-diff-71817665

They work if we do this:

    A.CallTo(() => foo.BarAsync(A<int>._, A<string>._)).ThrowsAsync((int i, string s) => ...);

But if the generic arguments are specified explicitly, the return type has to be specified as well:

    A.CallTo(() => foo.Ba

[2016-12-08 23:46] thomaslevesque commented on #932
Scratch that... these methods are specific to task-returning methods, so I can't put them in the general interface.

[2016-12-08 23:51] thomaslevesque commented on #932
In fact, we already have the same problem with `ReturnsLazily` for async methods, and I had never noticed it before, so maybe it's not such a big deal...

This works:

    A.CallTo(() => foo.BarAsync(A<int>._, A<string>._)).ReturnsLazily((int i, string s) => ...);

But here we need to specify the return type:

    A.CallTo(() => foo.BarAsync(A<int>._, A<string>._)).ReturnsLazily<double, int, strin

[2016-12-10 23:46] blairconrad opened #944 "Hide object members on fluent API interfaces"
A number of types don't hide object members. Here are the public non-static types that don't:

* FakeItEasy.ArgumentValueFormatter`1[T]
* FakeItEasy.Configuration.ArgumentCollection
* FakeItEasy.Configuration.FakeConfigurationException
* FakeItEasy.Configuration.IDoNothingConfiguration`1[TInterface]
* FakeItEasy.Configuration.IOutAndRefParametersConfiguration`1[TInterface]
* FakeItEasy.Configurati

[2016-12-11 12:16] thomaslevesque commented on #944
I think most of those types shouldn't hide object members. The only ones I see that should are in the `FakeItEasy.Configuration` namespace.

IMO there's no reliable way to automatically identify types should have `IHideObjectMembers` just based on their names; we should probably list them explicitly.

[2016-12-11 12:29] blairconrad commented on #944
Ah, yes. `FakeItEasy.Configuration`. That's probably better than any of my 3 options.

As the classes are today, restricting to `(*Specification or *Configuration)` yields the same correct (IMO) results as restricting to the `FakeItEasy.Configuration` namespace:

* FakeItEasy.Configuration.IDoNothingConfiguration`1[TInterface]
* FakeItEasy.Configuration.IOutAndRefParametersConfiguration`1[TInterfa

[2016-12-11 12:31] blairconrad commented on #944
Update! In the previous comment, the filter was only looking at interfaces!

[2016-12-11 12:38] thomaslevesque commented on #944
In fact, `FakeItEasy.Configuration` doesn't cover everything. There's also `FakeItEasy.Creation.IFakeOptions` (`<T>`), `FakeItEasy.IArgumentConstraintManager<T>`, `FakeItEasy.IOutputWriter` and maybe a few others.

Maybe we could just manually mark types that are part of the fluent API with a custom attribute, and have a test that checks that those types implement `IHideObjectMembers`. But then, i

[2016-12-11 12:53] blairconrad commented on #944
Good find for the other interfaces. Fortunately, they've already been covered.
I think that most activity around the API changes will live in `FakeItEasyConfiguration` in the future; it does seem to be the place where we miss the most types. Searching that namespace would provide an additional safety net, as would including all exposed interfaces in the solution (this just means a bigger whitelist

[2016-12-11 12:56] thomaslevesque commented on #944
I'm definitely not against it. And `IOutputWriter` too, which doesn't have it.

[2016-12-11 13:44] blairconrad commented on #944
On rereading that, I come off like a huge jerk, who's bitter about the "test" discussion.
I am a jerk, but am not bitter about the discussion.
Apologies, @thomaslevesque!

:+1+: Thanks.

[2016-12-11 15:08] thomaslevesque commented on #944
Not at all

[2016-12-12 00:32] #932 closed

[2016-12-12 00:54] blairconrad commented on #944
what do you think about `IFakeObjectCall`?

[2016-12-12 01:24] blairconrad commented on #944
Hmmm. Perhaps not. We return those from `Fake.GetCalls` and so on.

[2016-12-12 09:01] thomaslevesque commented on #944
It's not a fluent interface, so I don't see any reason to hide object members.

[2016-12-12 09:03] #944 closed

[2016-12-12 15:37] blairconrad commented on #808
If we're interested in making a change for this issue, we should consider moving now that we're (I hope) nearing the end of the 3.0.0 pre-release phase. If we're not, I think we should close it. And I think we should close it.

`AtLeast` and `Exactly` without the `Repeated` prefix sound nice, but at the cost of additional entry points, so that's a bit of a downside. And the effect could be achieve

[2016-12-13 12:01] blairconrad commented on #899
I renamed this to make the title a little more accurate (as I understand things). And labelled it as a discussion so we don't lose it.
At some point, we should decide whether it's a bug or... I don't know what. Even if we can't fix the problem, we should probably document it.

Also, I'm a little confused. Based on my understanding of how `That` and `Ignored` work, I don't know how @thunderbird55's

[2016-12-13 12:44] thomaslevesque commented on #808
I don't think we should change anything. `Repeated` isn't perfect, but it's what we have, most users seem happy with it, and we don't have a good alternative.

[2016-12-13 13:41] blairconrad commented on #899
At the very least, I'd update the docs, explaining the shortcoming for the VB users.

[2016-12-13 21:39] blairconrad commented on #899
Late-breaking news!

The cause of the problem isn't what we thought it was. And it's a bug. The fixes for #220 and #559 conspired together to cause it.

When we try to get the value to implicitly assign to the ref parameter, we end up invoking `A.That` outside the scope of the capturing expression, and we throw.
A blunt-force approach to fixing it is to [catch the exception and use a default value

[2016-12-13 22:15] thomaslevesque commented on #899
Isn't it what we were saying the cause was?

[2016-12-13 23:07] thomaslevesque commented on #899
OK, I see what you mean now. The problem seems to be here: https://github.com/FakeItEasy/FakeItEasy/blob/master/src/FakeItEasy/Expressions/ExpressionArgumentConstraintFactory.cs#L39
Basically, we shouldn't be calling `argument.Value` outside the constraint trap, because it ends up evaluating the expression.

I have a fix ready, I'll send a PR ASAP

[2016-12-14 00:41] blairconrad commented on #899
We could also consider backporting to the 2.x branch.
Unless it's having a dire effect on @thunderbird55, I'd prefer not to. (Because lazy.)
@thunderbird55, would you be able to move up to a 3.0.0-beta003 (or thereabouts) as easily as something like 2.3.2?

[2016-12-14 01:02] thomaslevesque commented on #899
I don't mind backporting the fix to 2.x, it's not a big deal.

[2016-12-14 01:19] #899 closed

[2016-12-14 01:24] blairconrad commented on #899
It _is_ a nice gesture. If I thought 3.0 were coming out real soon, I'd say skip it.

But if you're game, I'll happily do the review/merge. Thanks!

[2016-12-14 01:28] blairconrad commented on #899
Oh, if you do decide to port to 2.3.2, beware of #515.
Manual creation of the release is the way to go, I think.

[2016-12-14 01:40] thomaslevesque commented on #899
I'll take care of it tomorrow if I can. For now I just created the support-2 branch and cherry-picked the fix.

[2016-12-14 03:05] blairconrad opened #948 "2.3.2 Release"
Can be labelled **ready** when all other issues on this milestone are closed.

- [x] run code analysis in VS in *Release* mode and address violations (send a regular PR which must be merged before continuing)
- [x] if necessary, change `VERSION_SUFFIX` in [AppVeyor](https://ci.appveyor.com/project/FakeItEasy/fakeiteasy/settings) to appropriate "-beta123" or "" (for non-betas) value and initiate a

[2016-12-14 03:24] blairconrad commented on #899
Merged and made release, milestone, release issue, PR to set version. I think we are in good shape.

[2016-12-14 08:40] thomaslevesque commented on #899
Thanks!

[2016-12-14 16:56] blairconrad commented on #948
https://twitter.com/fakeiteasyfx/status/809079403498078209

[2016-12-14 16:59] #948 closed

[2016-12-15 07:53] thunderbird55 commented on #899
Thank you very much.
I just tried version 2.3.2 and now it works :)
Unfortunately some other tests fail now but I already know the reason and will open a new ticket for that.

[2016-12-15 08:15] thunderbird55 opened #951 "Configuring a call on a strict fake without Returns"
Hi,
due to issue #899 I upgraded FakeItEasy from version 2.1.0 to 2.3.2 and mentioned a different behavior.
In 2.1.0 if a call to a strict fake is configured without a return then the calls to the fake work and the default value is returned.
In 2.3.2 there is only an exception with the message "Call to non configured method "Bar" of strict fake".

In my opinion the new behavior is ok but a better

[2016-12-15 11:26] blairconrad commented on #951
Thanks for alerting us, @thunderbird55.
The code you have is an error, in that `A.CallTo` _without a directive regarding the method's behaviour_ is meaningless.

`A.CallTo` was always intended to have no effect without such a directive (e.g. `Returns`, `DoesNothing`, etc.), and this was remedied when we fixed #556.
We do regret that fixing this bug causes some inconvenience for people who've been

[2016-12-15 12:06] thunderbird55 commented on #951
Hi @blairconrad,
I agree with you that all CallTos should have a directive. So I already changed my tests.
But I think the exception message is ambiguous. So my intention to open this issue was to suggest a better exception message for this case.

PS: I cannot use the analyzer because unfortunately I have to use VB.NET :(

[2016-12-15 12:28] thomaslevesque commented on #951
In fact, the message you're seeing is correct. `A.CallTo(...)` alone doesn't configure the fake, it just specifies which call you're going to configure. It has no side effect until you configure what the call does (return, throw...).

Ah, yes, the analyzer only works for C#. We should probably consider making an analyzer for VB.NET as well.

[2016-12-15 14:30] blairconrad commented on #951
@thunderbird55, another option for early warnings is ReSharper. It detects the unused return values from the `A.CallTo`.

[2016-12-15 15:43] thunderbird55 commented on #951
As user I had the following view:
1. A.CallTo to specify the expected arguments
2. The directive to configure the action and/or the return value

And the message "Call to non configured ..." indicated to me that the first part is wrong.
Now I know the technical background and so it's ok for me. I still think a message that there is no directive would be nice, but it's not really necessary.

I alre

[2016-12-15 17:39] blairconrad commented on #951
Thanks for the perspective on the behaviour and error message. It's illuminating.

Although even your "I had the following view" phrasing is telling: you don't mention "configure" until step 2. :wink:

As you say, a good part of our resistance is technical: due to the form of the API, it's not that easy to tell when configuration is done. We say `A.CallTo`. Maybe we're done, maybe we aren't. Thing

[2016-12-16 10:18] thunderbird55 commented on #951
Ok, then I would say let's close this issue. I thought maybe there is only an additional if necessary.

I totally agree with you. In my former company we had a similar approach.
In my current company the philosophy is "don't change anything". But better we don't talk about this because I'm getting angry when I'm thinking about this :(

[2016-12-16 10:32] thomaslevesque opened #952 "Add an analyzer that supports VB.NET"
As discussed in https://github.com/FakeItEasy/FakeItEasy/issues/951#issuecomment-267312413

Currently the analyzer only supports C#, we should add one for VB.NET. Hopefully we can share part of the code between the two analyzers.

[2016-12-16 11:43] #951 closed

[2016-12-23 19:54] thomaslevesque commented on #952
I started to work on this. For now I just copied the C# analyzer and replaced "CSharp" with "VisualBasic" everywhere, and it's partially working.

It seems to be possible to write an analyzer that work for both C# and VB. Not sure if it's feasible in our case, but if it is, it would probably be the best approach. Otherwise, we'll probably need a Analyzer.Common project for shared code.

[2016-12-23 20:17] thomaslevesque commented on #952
OK, there was actually a minor thing to fix, now it works:

![screenshot](http://i.imgur.com/X7bDRtu.png)

(and the fix is actually compatible with the C# version, so good news so far)

[2016-12-23 20:36] blairconrad commented on #952
That's tremendous, @thomaslevesque!

[2016-12-23 20:39] thomaslevesque commented on #952
So, it's pretty easy to make `UnusedReturnValueAnalyzer` work for both C# and VB, but it's a bit ugly. Some of the code has to be duplicated, because the types to use are different (for instance, `Microsoft.CodeAnalysis.CSharp.Syntax.InvocationExpressionSyntax` and `Microsoft.CodeAnalysis.VisualBasic.Syntax.InvocationExpressionSyntax` are completely different types), so I have to use aliases or fu

[2016-12-27 12:37] blairconrad opened #955 "Adopt GitFlow"
This arose from a [Gitter conversation about how we support older releases](https://gitter.im/FakeItEasy?at=586104e2c895451b7520c61a).

@adamralph proposed moving from GitHub Flow to [GitFlow](http://nvie.com/posts/a-successful-git-branching-model/#hotfix-branches). @thomaslevesque and @blairconrad agree.

We'll need to  (at least - augment, since I'm sure I've forgotten things)

- [x] create the

[2016-12-27 13:05] thomaslevesque commented on #955
I like this option; it's easy and not too disruptive.

I kind of like milestones. It makes it easier to see where we're headed, what goes in the next release, etc

It's an interesting idea. However, if this file is going to contain the whole history of release notes, parsing it won't be trivial.

For now, I'd vote for the first option. We can always take some of your other ideas later if we want.

[2016-12-27 13:53] blairconrad commented on #955
@thomaslevesque, thanks for the feedback. I agree that status quo (or near status quo) is a good first step. Other changes can always be considered later.

----

As an aside,

Actually, not so much, at least as I imagine it. Consider:

[code]

You just read down to the previous `##` and copy it into the release.

[2016-12-27 14:04] thomaslevesque commented on #955
True. And anyway, we could always use a Markdown parser if needed

[2016-12-28 07:30] #952 closed

[2016-12-28 07:37] adamralph commented on #955
The milestones/release notes proposal has value but I do think it should be addressed in another issue.

I think it could be quite confusing (not only for us but for the rest of the community) if we switch to gitflow before 3.0.0, and I'm not sure it will give us much value before then. If we were using gitflow now, then what is currently `master` would be `develop` and what is currently `support-

[2016-12-30 16:39] blairconrad commented on #955
I'd've thunk that `master` would be `develop` and what is currently `3.0.0-beta002` would be `master`.
`support-2` wouldn't enter into it, I wouldn't think, as GitFlow doesn't address hotfixing releases that didn't come from `master`. It seems to assume that we'd want at most one hotfix off any release (of course, we're complicating things by considering adopting GitFlow for an existing project, b

[2016-12-30 18:36] adamralph commented on #955
With gitflow, you only merge to master when you release stable.

[2016-12-30 18:39] adamralph commented on #955
That's correct. Typically, alphas and betas are released from develop, RC's from release-* and stables from master.

[2016-12-30 19:31] blairconrad commented on #955
Hmm. Okay. That's different from my reading, but there's so much opportunity for interpretation. I'm still of the opinion that anything we'd want to put out on NuGet is a "release", even if the version contains a "-", but I'm happy to try out what you're used to.

On another note, how attached are you to the branch names as given in [A successful Git branching model](http://nvie.com/posts/a-succes

[2016-12-30 19:40] adamralph commented on #955
I'd probably prefer to stick to the usual branch names and definitions, as defined in that article. What we are currently calling `support-2` is what `master` is for in gitflow, and what we are currently calling `master` is what `develop` is for in gitflow. `release-` branches only exist for a short time, in order to "stabilise" `develop`. Indeed, in our workflow, I beilieve the only time we'd onl

[2016-12-31 17:40] thomaslevesque commented on #955
I'd also prefer to use the standard branch names from gitflow.

I don't think it really matters; you can change the default branch in Github, and it will automatically be checked out when you clone the repo.

Sounds good to me

[2016-12-31 17:55] adamralph commented on #955
The repos I currently work on which use gitflow do indeed have their default branch set to develop. It doesn't seem to cause any problems.

[2017-01-01 19:22] thomaslevesque opened #957 "A.CallToSet(...).Throws(...) causes a stack overflow"
Observed on 3.0.0-beta002

Can be reproduced with this code:

[code]

Current stable release (2.3.2) is not affected; I suspect the bug was introduced by the refactoring of configuration interfaces in #804.

[2017-01-01 19:37] thomaslevesque commented on #957
Actually it's not just `Throws`, but also `DoesNothing` and `CallsBaseMethod` that are affected. It looks like `ProperySetterAdapter` (yes, the name has a typo) calls itself recursively.

[2017-01-01 20:14] thomaslevesque commented on #957
Looks like the problem was introduced in this commit: https://github.com/FakeItEasy/FakeItEasy/commit/ee1ce19d7326deb833bbbcf65bbd1abb56d93c0f#diff-61b06fef23587a634bf685c67fe21754

I thought I understood @blairconrad's clever adapter mechanism, but apparently I didn't...

[2017-01-01 23:03] thomaslevesque commented on #838
This is a bit harder than expected, but I'm making progress. I should have a PR ready soon.

[2017-01-02 00:11] thomaslevesque opened #959 "Remove IStartConfiguration<T> from Fake<T>'s interfaces"
Relates to #864

There's absolutely no reason for `Fake<T>` to implement `IStartConfiguration<T>`. This interface is now internal anyway, and the members of `Fake<T>` are never called via the interface.

Technically, it's not a breaking change, but there's a bug the version of `PublicApiGenerator` that we use, which causes `IStartConfiguration<T>` to appear in `Fake<T>`'s implemented interfaces, e

[2017-01-02 16:32] blairconrad commented on #957
When "clever" can be considered a pejorative. 😞

[2017-01-02 16:34] #957 closed

[2017-01-03 22:36] thomaslevesque opened #962 "Default behavior of read/write properties should not override explicit getter or setter configuration"
(Spawned from a [discussion on the chat](https://gitter.im/FakeItEasy?at=586a3b787a3f79ef5dc86a23))

I recently noticed a surprising behavior for faked read/write properties. [As documented](http://fakeiteasy.readthedocs.io/en/stable/read-write-property-behavior/), setting the value of an unconfigured property configures it to return the assigned value. But when you do that, **it also overrides an

[2017-01-03 22:44] thomaslevesque commented on #962
This issue is caused by the current implementation of the default call rules for properties, which is described in [this gist](https://gist.github.com/thomaslevesque/f75fa12b3abc402ae4a24c665eaa6307).

A proposed solution is to change these rules as follows:
1. `PropertyBehaviorRule` no longer applies to property setters, but only to getters
2. `PropertySetterRule` will still add a `PropertyBehavi

[2017-01-03 22:47] thomaslevesque commented on #962
I mark the issue as breaking because it's an observable behavior change, but it's unlikely that people rely on the current behavior. In fact, it could be argued that the current behavior is a bug, in which case this change would merely fix it.

[2017-01-04 03:13] blairconrad commented on #962
@thomaslevesque, I know we ended our chat today with me being on board, but as I continue to think about it, I'm still concerned about some of the corner cases. Sorry to waffle on this.

I agree that in the two examples you have above, we should throw. The thing I'm worried about is what the behaviour should be in this sort of situation:

[code]

Under the proposed solution, this would not throw,

[2017-01-04 09:23] thomaslevesque commented on #962
I don't necessarily think it should do that. You make a pretty convincing argument. Especially the fact that the production code can set the property and thus override the configured getter behavior is a real issue.

On the other hand... I just asked two of my colleagues what they would expect your code snippet to do, and both answered "dump 42".

So, should we pick the more intuitive behavior, or

[2017-01-04 10:49] blairconrad commented on #962
A very good idea! Now I'm more torn than I was before.

Unfortunately, in my head it's still "properties on Fakes will act like field-backed properties (with a default Dummy value) until someone configures them".

This is a real problem if that explanation only exists in _my_ head.

[2017-01-04 14:29] thomaslevesque commented on #962
OK, I tried to implement the behavior you suggest. Now we have [one failing test](https://github.com/FakeItEasy/FakeItEasy/blob/fdeb2b1f8a9e0dd363233befa97ff5fa9985722f/tests/FakeItEasy.Tests/Core/FakeManagerTests.cs#L207-L223), which was testing specifically the behavior that has changed.

To match the new behavior, this test could be rewritten like this:

[code]

It does seems a little strange t

[2017-01-04 14:42] blairconrad commented on #962
Very interesting examples, @thomaslevesque, and that last one _is_ confusing!

You're too fast for me. Before your insight, I had been on the verge of pointing out that my example isn't realistic. Nobody's going to write

[code]

They're going to write

[code]

This is the kind of confusion I was anticipating. "I said the getter should throw! What's going on?".

[2017-01-04 14:42] blairconrad commented on #962
(Oh, I polled the guy in the next cube. Sadly, he had the same expectation I did!)

[2017-01-04 14:47] thomaslevesque commented on #962
Yes, and that's why I think the latest behavior I tried makes sense. But it's (very) confusing...

[2017-01-04 15:38] #838 closed

[2017-01-04 20:07] blairconrad commented on #962
Just to be clear, does that mean the one you described in https://github.com/FakeItEasy/FakeItEasy/issues/962#issuecomment-270382936 ?

If so, I think it's the better choice overall. There some possibility of confusion, but I doubt we'll have a problem.

[2017-01-04 21:03] thomaslevesque commented on #962
Yes

[2017-01-04 21:19] thomaslevesque commented on #962
I just pushed the latest changes (still work in progress, need to add some tests and documentation)

[2017-01-05 02:12] blairconrad commented on #962
Thanks, @thomaslevesque. I've not taken a close look yet (perhaps after volleyball). I'd imagined what I think is a less dramatic change - just putting the `PropertyBehaviorRule` in the post-user rules. With this change, all the tests pass, and all the examples above work like we discussed. For your consideration: https://github.com/blairconrad/FakeItEasy/commit/7e9222dea706a047b65ca5e19cbda1e9f84

[2017-01-05 10:56] thomaslevesque commented on #962
I thought about it, but it *is* a user rule, and should be removed when `ClearUserRules` is called. It seemed more logical to put it at the end of the user rules.

[2017-01-05 12:40] thomaslevesque commented on #962
I don't think I ever used it, but if it's there, it should work as expected.

[2017-01-05 13:51] blairconrad commented on #962
Sure. I think things that are there should work as expected too.
But I'd rather people just throw away their Fakes when they don't like what they've done to them.

(And one _could_ take the stance that remembered property values arising from interacting with the properties aren't "configuration". But I'm not trying to take that stance.)

[2017-01-10 16:26] blairconrad opened #964 "document automatic fake injection into systems under test"
Because we should. And because @apacha [asked about it on StackOverflow](http://stackoverflow.com/q/41572966/1199).

[2017-01-10 17:03] thomaslevesque commented on #964
Very interesting article in your SO answer :wink:

In fact, I no longer use this feature, because it's trying to do some of the work of an IoC container, but offers no control at all compared to a full blown container. Instead, I use an [auto-mocking extension for Unity](http://www.thomaslevesque.com/2015/06/14/create-an-auto-mocking-container-with-unity-and-fakeiteasy/) which I use like this:

[c

[2017-01-10 18:15] blairconrad commented on #964
I don't think I quite follow. You mean augment `Fake.InitializeFixture` so it knows about IoCs, to contrast with the approach taken by AutoFac's fakeiteasy integration, just to pick one example?

[2017-01-10 20:40] thomaslevesque commented on #964
I don't really follow myself either 😛
I haven't really thought it through yet, I was just thinking there might be a way to combine the advantages of `Fake.InitializeFixture` and of the approach I described above.

No, I don't mean that FakeItEasy should know about specific IoCs; there would have to be an abstraction. I haven't looked closely at the existing FIE integrations yet.

Anyway, this is c

[2017-01-11 17:20] cable729 opened #965 "Mutating an object parameter erases all history for CallTo assertions"
If I have a method I'm testing that updates the same object multiple times and overwrites fields, I can't test each call to that method, because the calls are using the same object, and mutating it. FakeItEasy doesn't clone objects and only keeps a handle to the reference, so calls early on will be mutated when the service mutates that object.

Here is an example of a test that does not seem like

[2017-01-11 17:47] blairconrad commented on #965
@cable729, what you say is absolutely true. Unfortunately, this is essentially a duplicate of #306 (which points at a StackOverflow question that suggests a workaround.)

I doubt we'll see any change around this, but if someone comes up with a great idea, we'd be keen to hear it. If you want to pursue the issue, I recommend doing so over at #306.

[2017-01-11 17:47] blairconrad commented on #965
Closing as duplicate of #306.

[2017-01-11 17:47] #965 closed

[2017-01-11 17:54] thomaslevesque commented on #965
Hi @cable729,

In order to make your assertion work, FakeItEasy would need to be able to check if the argument matched the constraint *at the time of the call*, but since the assertion is made *after* the call, there's no way to know in advance what the assertions will be. The only way make this work would be to clone the arguments of each call when the call is recorded, to have a "snapshot" of th

[2017-01-11 17:57] blairconrad commented on #965
@thomaslevesque an excellent point!

[2017-01-11 17:59] blairconrad commented on #306
As @thomaslevesque points out in https://github.com/FakeItEasy/FakeItEasy/issues/965#issuecomment-271941598, this may not be resolvable:

[2017-01-11 18:07] cable729 commented on #965
Thanks for the quick response. I've actually tried that workaround and using `.Invokes()` causes `.Returns()` to not work and just return `null`. I'll try to recreate a small example again and post it. Is this something you've seen before?

[2017-01-11 18:18] cable729 commented on #306
I actually think it is possible to make both work. The default way to compare objects is by reference, so this kind of thing already works:

    var user1 = new User();
    var user2 = new User();
    repo.Update(user1);
    repo.Update(user2);
    A.CallTo(() => repo.Update(user1)).MustHaveHappened();
    A.CallTo(() => repo.Update(user2)).MustHaveHappened();

If we want to augment the library to

[2017-01-11 18:25] cable729 commented on #306
However, I'm not really a fan of asserting like this. Doing complex assertions is painful, because you don't get the nice assertion printout of exactly what matching failed. So either I have to re-run the test and debug it or take out some matching logic one by one. I'd like to do something like this:

    var calls = Get.CallsTo(() => repo.Update(A<User>._));
    calls.First().Arg<User>(0).Id.Sho

[2017-01-11 19:06] blairconrad commented on #965
@cable729, thanks for asking. Sounds like #830, which is fixed in 3.0.0-beta001. Would you consider picking it up and trying?

[2017-01-11 19:06] thomaslevesque commented on #965
Could you show what you tried exactly?

The fact that it returns null is a known issue (#830), which is fixed in the upcoming 3.0.0 version. However that wouldn't be enough to make your workaround work.

If you're doing something like this:

[code]

note that the second configuration overrides the first (when the argument matches the constraint), so the first configuration has no effect.

[2017-01-11 19:15] thomaslevesque commented on #306
Yes, I thought about it too, but it raises a number of other issues. For instance:

- how deep should the clone be? If it's a shallow clone, it just moves the problem a bit further without actually removing it. This would still fail because `u.Foo` wouldn't be cloned.
[code]

- If it's a deep clone, where do you stop cloning? what about circular references? It's a pretty hard problem... And anyway

[2017-01-13 22:24] cable729 commented on #965
Is that intended behavior for `Invokes` to override `Returns`? I would like to be able to do both, actually.

[2017-01-14 00:56] blairconrad commented on #965
@cable729, `Invokes` is not supposed to override `Returns`.

@thomaslevesque's comment about the second configuration line above overriding the first when the argument matches the constraint describes a feature of how call specification works in general in FakeItEasy, and isn't specific to `Invokes` and `Returns`, or in fact any action that you can specify. As noted in [Changing behavior between c

[2017-01-16 11:29] blairconrad opened #966 "WithNonVoidReturnType matches methods with void return type"
Specifically, this fails:

[code]

Found while working on external Self-Initializing Fakes project.

[2017-01-16 11:41] blairconrad commented on #966
`WithNonVoidReturnType` was introduced in 2.1.0, so this is a candidate for backport to the `support-2` branch.

[2017-01-17 11:38] blairconrad opened #969 "2.3.3 release"
Can be labelled **ready** when all other issues on this milestone are closed.

- [x] run code analysis in VS in *Release* mode and address violations (send a regular PR which must be merged before continuing)
- [x] if necessary, change `VERSION_SUFFIX` in [AppVeyor](https://ci.appveyor.com/project/FakeItEasy/fakeiteasy/settings) to appropriate "-beta123" or "" (for non-betas) value and initiate a

[2017-01-17 13:56] blairconrad opened #970 "WithNonVoidReturnType rules describe themselves as "any call""
As @thomaslevesque noted in https://github.com/FakeItEasy/FakeItEasy/pull/967#pullrequestreview-16797165:

[2017-01-17 18:21] blairconrad commented on #970
Fixed in #971.

[2017-01-17 18:21] #970 closed

[2017-01-17 18:21] blairconrad commented on #966
Fixed in #971.

[2017-01-17 18:21] #966 closed

[2017-01-18 10:28] blairconrad commented on #969
https://twitter.com/fakeiteasyfx/status/821665300957589505

[2017-01-18 10:30] blairconrad commented on #970
This issue has been releaseed in FakeItEasy 2.3.3:
https://github.com/FakeItEasy/FakeItEasy/releases/tag/2.3.3

[2017-01-18 10:30] blairconrad commented on #966
This issue has been releaseed in FakeItEasy 2.3.3:
https://github.com/FakeItEasy/FakeItEasy/releases/tag/2.3.3

[2017-01-18 10:31] blairconrad commented on #969
Released FakeItEasy 2.3.3:
https://github.com/FakeItEasy/FakeItEasy/releases/tag/2.3.3

[2017-01-18 10:31] #969 closed

[2017-01-20 20:25] thomaslevesque commented on #962
Hey @adamralph, I know you're busy, but I'd really like to have your insight on this if you can spare some time. I'll try to recap the current situation and what we would like to change, so that you don't need to read the whole discussion(s).

Basically, the idea is to make the default behavior of read/write properties apply only to properties that haven't been configured explicitly.

For instance

[2017-01-20 20:56] blairconrad commented on #962
@thomaslevesque, that was perfect.

[2017-01-21 07:46] adamralph commented on #962
Hi chaps, sorry being out of the loop for a while. I have a nice chunky email backlog to get through but I'm sure you've been doing a sterling job in my absence.

WRT this issue, when I read the code snippets in the summary, if I try and take the view of a naive user, the current behaviour seems to follow my intuition:

[code]

[2017-01-21 07:59] adamralph commented on #962
Perhaps another way to consider this is by regarding a property as a pair of `get_Bar()`, `set_Bar(int value)` methods, which is actually what it is. That might colour things slightly differently. I'll give it some thought... 🤔

[2017-01-21 12:21] blairconrad commented on #962
@adamralph, no need to apologize. Everyone has stuff going on.

Your point two comments ago is a good one, but the user is unlikely to ever see code like that. What they will see is my sample in https://github.com/FakeItEasy/FakeItEasy/issues/962#issuecomment-270386236, where the property is explicitly configured in the test but then maybe set in the production code. And this is where the confusio

[2017-01-21 14:27] thomaslevesque commented on #962
That's a good point. However, would you have the same expectation if the property was set by the system under test? In real test code, it's unlikely that a user would set the property after configuring the getter.

OK, maybe `DoesNothing()` is not the best example; the way I see it, `DoesNothing()` means that it should do nothing at all, not even apply the default behavior, but I realize it can be

[2017-01-21 14:29] thomaslevesque commented on #962
Another thing: this interpretation implies that there would be no way to suppress the default behavior...

[2017-01-22 20:33] medmondson commented on #765
This is something I can pick up

[2017-01-22 22:06] thomaslevesque commented on #765
Thanks @medmondson! Let us know if you need any help.

[2017-01-24 20:24] thomaslevesque commented on #962
Now that Castle.Core 4.0.0 is released, I think we're almost ready to release 3.0.0. But the change proposed in this issue is breaking, so if we don't include it in 3.0.0, it will have to wait until the next major release.

Anyway, we haven't reached a consensus so far. @adamralph, did any of the latest arguments change your mind?

What bothers me the most is the fact that calling the getter chang

[2017-01-27 16:59] erlis commented on #60
Team,

I see a few thread safety issues but all of them have been marked as closed.

I'm using version 2.3.3 and NUnit 3.4.1 running tests in parallel with the  `Parallelizable(ParallelScope.Fixtures)` setting and I'm having FIE failing an expectection with message:

` Assertion failed for the following call:
    Common.Logging.IAppLogger.Error("DeleteEmployeesByX DeleteEmployee failed. EeId: {0}"

[2017-01-28 02:04] blairconrad commented on #60
Hi, @erlis. Thanks for bringing this up.

As you say, all of our known thread safety issues have been closed. It's entirely possible that we've missed something.
I doubt the `Ignored` is the culprit here (but anything's possible).

It's hard to do much debugging without more information. Do you have a minimal test case that reproduces the issue and that you could share? Alternatively, I can try to

[2017-02-05 11:21] blairconrad commented on #962
@adamralph, I hate to be a nag, but have you had any time to consider the change again? It would be nice to reach a consensus sometime soon.
If it's any help, you needn't (IMO) take time to worry about the implementation; I think @thomaslevesque and I can evaluate that well enough.
It's all about whether you support the observed behaviour.
Thanks!

[2017-02-05 22:36] adamralph commented on #962
@blairconrad no problem, I don't mind being nagged 😄

WRT your [previous example](https://github.com/FakeItEasy/FakeItEasy/issues/962#issuecomment-270386236), perhaps I'm missing something, but I see the getter being configured to throw, but I don't see the getter being used in the SUT, so why should I be expecting a throw?

[2017-02-05 23:48] blairconrad commented on #962
This is true! Um… It's implicit in `DoSomethingWith(this.Foo)`? I really shouldn't've bothered with an extra method at all. Here it is!

[code]

[2017-02-06 19:48] adamralph commented on #962
@blairconrad that makes sense. In that case, yes, I would expect the exception to be thrown when `foo.get_Bar()` is called.

I have to be honest (apologies if this is just me) and say that I'm no longer sure exactly what change is being proposed here. [This comment](https://github.com/FakeItEasy/FakeItEasy/issues/962#issuecomment-270247144) proposes a solution but only terms of implementation deta

[2017-02-06 20:25] thomaslevesque commented on #962
There is no change in the public API shape, it's only the behavior that changes. The proposed changes are described in my summary [here](https://github.com/FakeItEasy/FakeItEasy/issues/962#issuecomment-274171160). Basically, if a property getter or setter has been configured explicitly, this configuration will never be overridden by the default read/write property behavior.

In the examples I gave

[2017-02-06 21:53] adamralph commented on #962
@thomaslevesque thanks, and sorry that you had to repeat yourself.

I gave this some more thought and (in a u-turn from what I previously said) I think it's good if, effectively, the getter and setter behave just like any other methods, and what you are proposing is certainly a step in that direction.

If, for a moment we treat the getters and setters as what they actually are, i.e. `foo.Bar`  is

[2017-02-06 23:32] thomaslevesque commented on #962
Good point. And there are other cases where one might want to apply the default behavior, but do something else in addition. We currently provide no way to do that. With the current rule system, we always apply exactly one rule. Maybe we should, instead, use the "chain of responsibility" pattern, so that a rule can do something and optionally pass control to the next applicable rule. We could then

[2017-02-07 01:09] blairconrad commented on #962
Yeah, @adamralph's scenario is awkward, but I think rarely comes up, and we're not making it worse, I don't think.

And the chain of responsibility feature that @thomaslevesque does sound interesting. I'm not entirely sure it's worth spending a lot of time on (that's code for "I'm not going to do it" :wink:), but might provide benefit in some very specialized cirtcumstances.

Okay, if I read every

[2017-02-07 01:12] blairconrad commented on #939
With the discussion on #962 winding down, I think we may soon be in a position to release this issue. Is there anything else the other owners want to get in?

Me, I'd be happy with what we have. In fact, I'd suggest we go to 3.0.0 (or -rc001, if y'all want).

[2017-02-07 06:54] adamralph commented on #962
I'll take a quick look at the PR.

[2017-02-07 06:57] adamralph commented on #962
As a counterpart to [my comment on the PR](https://github.com/FakeItEasy/FakeItEasy/pull/961#pullrequestreview-20439924), is this issue correctly titled and described?

Also, it's currently marked as a discussion, but #962 is "fixing" it so I guess there's either an enhancement or bug fix happening?

[2017-02-07 07:00] adamralph commented on #939
The only other breaking issue in the backlog is #798 but I don't think that's worth tackling for 3.0.0. I'm happy to set the wheels in motion after we've solved #962. I think it may be worth releasing an RC, since it's a major release. What do you think?

[2017-02-07 08:41] thomaslevesque commented on #939
We're deprecating self initializing fakes in 3.0.0, so we shouldn't actually remove them until a later major version.

I agree. It will also be the only chance to field-test #962.

[2017-02-07 08:50] thomaslevesque commented on #962
Mostly, but it can be improved. I'll change the title to something more accurate.

Well, it's not really a fix, since it wasn't really a bug... I'll rename the PR.

[2017-02-07 10:32] blairconrad commented on #939
Excellent. Let's convert this to a 3.0.0-rc01 once we've solved #962!

[2017-02-07 12:33] adamralph commented on #962
OK, so this is an enhancement?

[2017-02-07 14:17] thomaslevesque commented on #962
Yes. I'll add the label.

[2017-02-08 22:13] #962 closed

[2017-02-08 22:22] thomaslevesque commented on #939
Should it be `rc1` or `rc001`? (I don't think we need 3 digits, but this is the pattern we used for alphas and betas...)

[2017-02-09 06:36] adamralph commented on #939
I think it's simpler to use the same convention for all pre-releases (that's what we do over at NServiceBus).

If only NuGet could start to support SemVer. Then we could use `3.0.0-rc.1`.

[2017-02-09 13:24] erik-kallen opened #978 "Make it possible to reset recorded calls on an object"
It is sometimes useful (especially for integration testing) to have a non-trivial setup phase that might call methods on fakes, but then you want to exclude those calls from the assertions.

I propose adding the API

[code]

So you can do things like

[code]

This used to be doable with scopes in 1.x but I can't find any way to achieve my goal in 2.x

[2017-02-09 13:44] blairconrad commented on #978
Hi, @erik-kallen. Thanks for your interest.

Everyone works differently, but this seems like a peculiar workflow. A similar question was raised a couple of years ago on StackOverflow, and I agree with [forsvarir's answer](http://stackoverflow.com/questions/29095019/fakeiteasy-reset-fake-calls-history-ignore-call/29096765#29096765), which I reproduce here:

----

 This feels wrong to me.  Typically

[2017-02-09 13:56] erik-kallen commented on #978
I want to exclude the setup phase from my assertions because I don't want the tests to break if the setup somehow changes (as I said, this is for integration testing).

The proposed solution only works if there are no arguments to the call, but one of the best features with FakeItEasy is that it is very easy to assert argument values.

[2017-02-09 14:25] blairconrad commented on #978
I see your point, @erik-kallen. It still feels a little weird to me, but not everyone likes to work the same way.
And really, it doesn't feel that different than  `Fake.ClearConfiguration` (which I'm not a fan of either, but there you go). Maybe it's even a better method to have in the API than `ClearConfiguration`.

@thomaslevesque, @adamralph, what do you think?

----
(aside)
For a second there,

[2017-02-09 14:32] erik-kallen commented on #978
I discovered that it is, indeed, possible to do what I want to, but it is rather hacky:

            var queue = (ConcurrentQueue<ICompletedFakeObjectCall>)Fake.GetCalls(instance);
            ICompletedFakeObjectCall call;
            while (queue.TryDequeue(out call))
            {
            }

[2017-02-09 14:35] thomaslevesque commented on #978
It seems a bit strange to me too; I can't really think of a scenario where you would need to make actual calls to a fake to configure it. But I don't have a clear picture of @erik-kallen's situation, so I might be missing something.
Anyway, I'm not opposed to a `ClearConfiguration` method; it's easy to implement and doesn't do any harm, as far as I can tell.

[2017-02-09 14:37] blairconrad commented on #978
@erik-kallen, that is clever! And something we should probably have prevented by returning a copy of the calls.

Here's my EVEN MORE TERRIBLE solution:

[code]

[2017-02-09 15:07] erik-kallen commented on #978
@thomaslevesque I'm not making actual calls to a fake to configure it. I'm making call to a service that uses the fake as a dependency, and those calls might call the fake but I wish to disregard those calls when performing my asserts.

[2017-02-09 15:08] thomaslevesque commented on #978
Ah, I see. Thanks for the clarification.

[2017-02-09 15:30] blairconrad commented on #939
Sounds like we're ready to release, no?

[2017-02-09 15:34] thomaslevesque commented on #939
I think we are!

[2017-02-09 15:38] adamralph commented on #939
:shipit:

[2017-02-09 15:45] godrose commented on #939
Does this version support the latest Castle.Core?

[2017-02-09 16:15] thomaslevesque commented on #939
@godrose yes, 3.0.0-rc001 will support Castle.Core 4.0.0

[2017-02-09 20:18] blairconrad commented on #978
@erik-kallen, as this seems near and dear to your heart, would you be interested in implementing it?

[2017-02-10 11:01] blairconrad commented on #939
https://twitter.com/fakeiteasyfx/status/830008518694535168

https://twitter.com/fakeiteasyfx/status/830008643735130116

[2017-02-10 11:03] #939 closed

[2017-02-10 11:04] thomaslevesque commented on #978
I meant `ClearRecordedCalls`, of course... `ClearConfiguration` is something else entirely, which isn't really useful IMO.

[2017-02-11 20:03] jlnostr opened #980 "Support for Profile7"
I tried to install (the purely *awesome*) FakeItEasy on my PCL (to be exactly: `.NETPortable,Version=v4.5,Profile=Profile`) but unfortunately, VS (2017 RC) told me that FakeItEasy doesn't support it. But to quote #833, there IS support for this profile.

Could someone put some clarification on this?

[2017-02-11 20:39] thomaslevesque commented on #980
Hi @jlnostr,

That quote is about the analyzer, not the main library. FakeItEasy itself supports .NET 4.0 and .NET Standard 1.6 (if you use the pre-release 3.0.0 version).

Why do you need to add FakeItEasy to a PCL? Unit tests don't usually need to be PCLs... Are you using it for something other than unit tests?

[2017-02-11 20:43] jlnostr commented on #980
Nope, my unit test project is actually a PCL. Is there a better way of doing this for Xamarin.Forms apps? I've just used their unit test project template.

[2017-02-11 21:02] jlnostr commented on #980
Actually, I copied a unit test project from another project. Now it works :D
Thanks anyway for the quick help!

[2017-02-11 21:02] #980 closed

[2017-02-13 14:14] blairconrad opened #981 "Add (manual) AppVeyor deploy to NuGet"
I tried to use the deploy option to push the artifacts to NuGet, since we thought that was working, but nothing was found:

https://ci.appveyor.com/project/FakeItEasy/fakeiteasy/deployment/594404

I think we need to configure the deployment as described in [Publishing to NuGet feed](https://www.appveyor.com/docs/deployment/nuget/). Although we can probably skip most of the config, maybe ending up

[2017-02-13 15:07] thomaslevesque commented on #981
I think it's just the artifact pattern that's not valid. For my own projects, I don't have anything specified in this field, and it works fine. It only uploads nupkg files anyway, so there's no need for a filter.

I'm not sure what it does when `deploy` is specified in `appveyor.yml`. Doesn't it mean that it deploys automatically after every build? Because that's not what we want...

[2017-02-13 15:09] thomaslevesque commented on #981
https://www.appveyor.com/docs/deployment/

This seems to support my understanding.

[2017-02-13 15:12] thomaslevesque commented on #981
Anyway, I think we can play with the current NuGet environment configuration without risks, because NuGet won't allow us to push a package that's already there. We can just try to re-deploy 3.0.0-rc001-build000097; it will fail, but at least we will see if it finds the artifacts.

[2017-02-13 17:17] blairconrad commented on #981
Oh, man. I tried to update the environment and deploy and… deployed 99. :sob:

[2017-02-13 17:19] thomaslevesque commented on #981
Yes, I saw that... well, there's no real harm I guess. At least now we know that it works ;)

We should probably unlist the new package, though.

[2017-02-13 17:20] blairconrad commented on #981
Yeah.
I'm not even sure why build 98 and 99 happened.

I'm bouncing the NuGet page to de-list as soon as possible.

[2017-02-13 17:21] blairconrad commented on #981
Ah. I wasn't logged in. Delisted.

[2017-02-13 17:22] thomaslevesque commented on #981
I unlisted the analyzer as well

[2017-02-13 17:27] blairconrad commented on #981
Ah. I got there after you.

[2017-02-13 17:28] blairconrad commented on #981
Okay, so I removed the "artifacts" filter from the Environment, even though it _looked_ good.
Seemed to make all the difference.

[2017-02-13 17:28] #981 closed

[2017-02-14 04:20] erlis commented on #60
hi @blairconrad,

I found that the error I was having was not because FakeItEasy but an actual bug on my code, I'm testing the parallel execution and so far everything is working as expected, If I find a problem.. should I open a new bug or add to this one?

Regards,
Erlis

[2017-02-14 07:01] adamralph commented on #60
@erlis yes, if you find any problems, please open a new issue. Many thanks.

[2017-02-14 18:19] blairconrad commented on #60
@erlis, sorry I never got back to you. Work and non-work things interfered (and somewhere in the back of my head probably a feeling that I'd never be able to reproduce your problem with the info I had). I'm glad things worked out for you, and that FakeItEasy, however indirectly, helped you find the bug in your code.

[2017-02-15 19:07] claudiobernasconi commented on #757
@adamralph I am thinking about starting to contribute to FakeItEasy and just saw this hopefully entry-level issue. Can you clarify on what you expect to be fixed with this issue? Thanks in advance.

[2017-02-15 19:24] blairconrad commented on #757
Hi, @claudiobernasconi. Thanks for your interest.

@thomaslevesque had originally noticed that in some of our comments and error messages, [we still reference](https://github.com/FakeItEasy/FakeItEasy/search?utf8=%E2%9C%93&q=IFakeObjectContainer) `IFakeObjectContainer`, a type that was removed in #606.

So the task would be to update the comments and error messages.

We'd appreciate the help. Are

[2017-02-15 19:31] claudiobernasconi commented on #757
Hi, @blairconrad sure, I am. I am going to scan the code for it and create a pull-request when it is ready to go. Do I need to be assigned to this issue? Can you do that?

[2017-02-15 20:47] blairconrad commented on #757
Wow. That was fast!

I was writing up a note about how there were some complexities, but now that you have a PR, maybe we'll just review it. I'll add you as a collaborator so I can assign the issue.

I'm at work now, but can take a look probably tonight (I'm in UTC-5).

[2017-02-15 20:53] claudiobernasconi commented on #757
Well, maybe I did misunderstand a thing then. The matches I found seemed reasonable to resolve. I appreciate your review since this is my first contribution to this repository. Nevermind, it does not have to be tonight. I just wait. Btw.

I'm in UTC+1 and will get back to it tomorrow. I am really willing to help, and maybe need some guidance.

[2017-02-15 21:05] blairconrad commented on #902
1. How long do we want to keep an RC available before we release suffixless? A week? :grinning:
   We could aim for the 22nd.
2. Do we want to bother testing the 3 frameworks that we did when we released 2.0? AutoFixture, AutoFac, and Machine.Fakes? I don't mind. I can take AutoFixture again, but may not get it tested 'til the weekend.

[2017-02-15 21:12] thomaslevesque commented on #902
👍

We probably should. The changes in the surface API probably won't affect end users, but third party frameworks are more likely to depend on the exact configuration interfaces.

[2017-02-15 21:38] adamralph commented on #757
Thanks very much @claudiobernasconi!

[2017-02-15 21:39] adamralph commented on #902
👍 to both points.

[2017-02-15 21:42] blairconrad commented on #902
Ah. Someone updated the checklist. Thanks, someone!

[2017-02-15 21:43] adamralph commented on #902
That was me, with placeholders to fill in, similar to how we did it in #336. 😃

I don't suppose any other significant dependent packages have appeared in the meantime?

[2017-02-15 21:44] thomaslevesque commented on #902
I just checked `Autofac.Extras.FakeItEasy`. No build error, but one test fails due to #830

https://github.com/autofac/Autofac.Extras.FakeItEasy/blob/develop/test/Autofac.Extras.FakeItEasy.Test/AutoFakeFixture.cs#L92-L101

`callsDoNothing: true` causes all calls to be configured with `DoesNothing()`. If they want to keep the same behavior as before, they'll have to configure the calls to return th

[2017-02-15 21:45] thomaslevesque commented on #902
In fact, there's already an issue for upgrading to FIE 3.0.0: https://github.com/autofac/Autofac.Extras.FakeItEasy/issues/10

[2017-02-15 21:56] adamralph commented on #902
The Autofac.Extras.FakeItEasy dependency range is set to FakeItEasy (>= 2.0.0 && < 3.0.0) so there's nothing to do immediately, other than perhaps warn them that they'll have to address https://github.com/autofac/Autofac.Extras.FakeItEasy/issues/10 soon.

[2017-02-15 22:06] adamralph commented on #902
I trimmed my comment down.

[2017-02-15 22:22] thomaslevesque commented on #902
No problem :wink:

[2017-02-15 22:57] godrose commented on #902
Does this release support the latest Castle.Core version? If it has a
dependency on it, of course...

On 16 Feb 2017 00:22, "Thomas Levesque" <notifications@github.com> wrote:

[2017-02-16 00:17] blairconrad commented on #902
@godrose, yes the 3.0.0 release will use Castle.Core 4.0.0.

[2017-02-16 04:15] blairconrad commented on #757
Folks, given that we are referencing `IFakeObjectContainer` in an error message, not just a comment, I think this issue could be considered a (minor) bug. Objections?

[2017-02-16 04:46] blairconrad commented on #902
Yeah, I was heading here from there with my own copy on the clipboard!

Um, [fakexrmeasy](http://stackoverflow.com/questions/42255941/creating-linked-data-with-fakexrmeasy)?
No, but seriously, [EntityFrameworkTesting.FakeItEasy](https://www.nuget.org/packages/EntityFrameworkTesting.FakeItEasy) has about as many downloads per day as the others (perhaps more than Machine.Fakes.FakeItEasy).

[2017-02-16 05:42] adamralph commented on #902
It sounds like EntityFrameworkTesting.FakeItEasy is worth adding to the list.

[2017-02-16 05:43] adamralph commented on #757
No objections.

[2017-02-16 05:45] blairconrad commented on #757
You're up early!

[2017-02-16 05:46] blairconrad commented on #902
Done!

[2017-02-16 05:50] adamralph commented on #757
Going hiking today :wink:

[2017-02-16 08:33] thomaslevesque commented on #757
Agreed

[2017-02-16 08:43] thomaslevesque commented on #902
Ah, I guess we saw the same Stackoverflow question... This framework is using FIE 1.25.3, so I guess they're not interested in upgrading.

I don't expect any issue with it. It just contains one extension method, which seems pretty straightforward: https://github.com/scott-xu/EntityFramework.Testing/blob/master/src/EntityFramework.Testing.FakeItEasy/FakeItEasyDbSetExtensions.cs (plus a small bit of

[2017-02-16 11:15] blairconrad commented on #902
AutoFixture is using 1.7.4257.42, so I can't blame EntityFrameworkTesting.FakeItEasy!

[2017-02-16 16:38] adamralph commented on #757
Reworded as a bug.

[2017-02-16 16:43] adamralph commented on #902
Depending on a old version shouldn't be regarded negatively. The older the minimum dependency, the larger the potential user base for the library, so making the dependency as old as possible is the right thing to do. That said, the library should be tested with newer versions. At the minimum it should be tested with each subsequent major version.

[2017-02-16 16:55] blairconrad commented on #902
Agreed. Just not necessarily by us. I think the 4 we've committed to (5 if we count AutoFixture.AutoFakeItEasy and AutoFixture.AutoFakeItEasy2) is enough.

[2017-02-16 17:04] adamralph commented on #902
I agree. We have the main ones covered.

[2017-02-16 17:04] thomaslevesque commented on #902
Actually I was talking about fakexrmeasy... I haven't check which version EntityFrameworkTesting.FakeItEasy is using

[2017-02-16 17:07] blairconrad commented on #902
Oh, for the love of Pete! I was trying to talk about fakexrmeasy as well. Sigh.

[2017-02-16 17:07] blairconrad commented on #902
I gotta start reading what I paste.

[2017-02-17 15:53] #757 closed

[2017-02-17 15:56] adamralph commented on #757
Hmmm... I'm not sure which milestone to put this on now. We've already released 3.0.0-rc0001 so this shouldn't really be part of 3.0.0. (Perhaps we (I) should have waited with the merge of #982 until after 3.0.0.)

[2017-02-17 15:59] blairconrad commented on #757
Yeah, I though we were going to wait. I'd even warned @claudiobernasconi that we'd sit on his changes for a bit (not the most elegant of solutions, but it does avoid having to muck about with tags and junk).

[2017-02-17 16:52] thomaslevesque commented on #457
I think I have an idea for solving this. We could introduce an internal interface like this:
[code]
and make the fakes implement this interface explicitly. When we need to call one of these methods on a fake, we would just cast it to `IFakeObject` and make the call via the interface. The default implementation for non-strict fakes would call the explicit implementation. And the `Strict` rule would

[2017-02-17 17:54] thomaslevesque commented on #457
I POCed this solution and it seems to work. The only issue is that `IFakeObject` needs to be public, otherwise Castle can't generate the proxy (not sure why, since we have an `InternalsVisibleTo` that should allow DynamicProxyGenAssembly2 to access it). This is actually the same issue as `ITaggable`.

I'll send a PR

[2017-02-17 18:34] adamralph commented on #757
@blairconrad somehow I skipped over that part of your comment on the PR. Apologies.

However, it is easy to release 3.0.0 from the same commit as 3.0.0-rc001. We just need to create the tag on the same commit and re-run [the AppVeyor build](https://ci.appveyor.com/project/FakeItEasy/fakeiteasy/build/99). Assuming that's how we're going to proceed, any objection to putting this on a 3.1.0 milestone

[2017-02-17 18:34] blairconrad commented on #457
Sounds like very good work, @thomaslevesque. I'm sad about the visibility, though. Do you think it's worthwhile bothering a Castle.Core expert who might have insight? Maybe someone such as @jonorossi?

[2017-02-17 18:37] blairconrad commented on #757
@adamralph, no worries.

Yeah, @thomaslevesque and I were going over the mechanism for releasing 3.0.0 in the Gitter chat.
I'd probably rerun build 97, but you have the gist. Putting it on a 3.1.0 sounds great. I'm happy to make the Release/Release Issue/PR to update the version later tonight, unless someone wants to do it manually in the meantime.

[2017-02-17 18:45] thomaslevesque commented on #457
Me too!

Sure!

[2017-02-17 18:45] adamralph commented on #757
Yep, re-running any one of builds 97, 98, or 99 will achieve the same thing. They're all pointing to the same commit.

[2017-02-18 00:58] blairconrad opened #986 "3.1.0 release"
Can be labelled **ready** when all other issues on this milestone are closed.

- [x] run code analysis in VS in *Release* mode and address violations (send a regular PR which must be merged before continuing)
- [x] if necessary, change `VERSION_SUFFIX` in [AppVeyor](https://ci.appveyor.com/project/FakeItEasy/fakeiteasy/settings) to  "" and initiate a build
- [x] check build
- edit draft release in

[2017-02-18 02:10] blairconrad commented on #902
EntityFrameworkTesting.FakeItEasy fails. `IReturnValueConfiguration.ReturnsLazily` signature changed. On the other hand, the package is restricted to >= 1.25.2 && < 2.0.0, so I don't think we need to worry about it.
I've checked the "done" box way upstairs.

[2017-02-18 02:17] blairconrad commented on #902
@thomaslevesque said

The fact that you're recompiling worries me. That will test for one kind of problem, but not all. Maybe I misunderstand what you're doing, but consider https://github.com/AutoFixture/AutoFixture/issues/693#issuecomment-244396725. Sometimes a recompile will work, but the underlying types have changed in a way that makes previously-compiled assemblies incompatible with the new

[2017-02-18 05:36] siberianguy opened #987 "Support Raise.With for arbitrary delegates without requiring a typeparam in the call."
**Update (@blairconrad):**  title changed after initial discussion among owners. I've left the original proposal here, but the goal of the issue has been expanded include support for all non-`EventHandler` delegates.

----
Documentation [says](http://fakeiteasy.readthedocs.io/en/stable/raising-events/) you have to specify generic type for Raise.With in case you use a **custom delegate**. And as I

[2017-02-18 06:29] adamralph commented on #902
@blairconrad should we raise an issue for EFT.FIE to upgrade to 3.0.0?

[2017-02-18 06:36] adamralph commented on #902
@thomaslevesque would you mind writing up your findings against Autofac.Extras.FakeItEasy in the checklist?

Who checked  AutoFixture.AutoFakeItEasy? Is it worth raising an issue there to upgrade to FIE 3.0.0?

[2017-02-18 09:37] adamralph commented on #457
I think we should do the simplest thing possible to solve this issue, and that is, when calling `ToString()` for the purposes of generating a message, we catch errors and use the typename instead. We can examine more general solutions for other cases elsewhere.

[2017-02-18 09:50] adamralph commented on #964
Personally I would vote for removing this feature in a future major. IMHO it's half-baked bloat. If anyone wants automatic faking, they can use one of the dedicated libraries. As far as I can tell, neither Moq or NSub attempt to provide this.

[2017-02-18 11:38] blairconrad commented on #987
@alexidsa. Thanks for your interest. This would indeed be very nice.
When event-raising was reworked to even allow raising custom event types, this was the closest we were able to come and have a type-safe indication that would, for example, be refactoring-friendly.

Still, it's a great goal. I'll add it as an enhancement. We'd be happy to hear of any ideas you have for an implementation.

[2017-02-18 11:44] patrik-hagne commented on #457
Why not just disable the rule of strictness when writing the call
description? It could be a simple static bool in the strictness rule that
can be set from the write logic. Are there drawbacks of that? It could be
generalized into ICallRuleThatCanBeDisabled or something similar.

Den lör 18 feb. 2017 10:37Adam Ralph <notifications@github.com> skrev:

[2017-02-18 11:55] blairconrad commented on #902
@adamralph, I checked the AutoFixtures.
I don't think it's worth raising an issue. As far as I can tell, if they just merged AutoFixture/AutoFixture#702 to fix AutoFixture/AutoFixture#693, everything would work. And they seem to be happy with my PR. It's just that without a governance model, nothing's being done over there. I think a new issue would just add to the pile.

I don't think so. They se

[2017-02-18 12:02] blairconrad commented on #964
I agree, @adamralph. I'd've suggested earlier, but I know that @thomaslevesque enjoys it. I'd say either "hey, you folk, use something like AutoFixture.AutoFakeItEasy" or maybe build an external package to do the same.

Sure, but just because _they_ don't do something doesn't mean we can't. 😜

[2017-02-18 12:23] blairconrad opened #988 "Reconsider milestone/version/release handling"
Extracted from #955. Assumes we're switching to GitFlow.

I think we'll need to overhaul our "next release" workflow. It's been a little problematic anyhow, I think, since we've been guessing about our next release version and then renaming or replacing milestones and releases and build issues. Let's see how we can improve things, especially now that GitFlow has more to say about releases than doe

[2017-02-18 12:28] blairconrad commented on #988
In #955, @thomaslevesque [said](https://github.com/FakeItEasy/FakeItEasy/issues/955#issuecomment-269323418)

----

I like this option; it's easy and not too disruptive.

I kind of like milestones. It makes it easier to see where we're headed, what goes in the next release, etc

It's an interesting idea. However, if this file is going to contain the whole history of release notes, parsing it won't

[2017-02-18 12:40] blairconrad commented on #457
@adamralph, @patrik-hagne, your comments have merit, and I believe would help with the reported problem, but leave us open to errors in other situations, like the one I described in https://github.com/FakeItEasy/FakeItEasy/issues/457#issuecomment-73713213.

And maybe that's fine. Perhaps we could split that issue and decide whether or not to fix it, all the while adopting a "simple" fix for failur

[2017-02-18 12:47] jonorossi commented on #457
@blairconrad apologies I've read this long thread quite quickly, were you cc'ing me to ask:
- if `IFakeObject` is needed which I wouldn't think so, just replace the default `IProxyGenerationHook` which is `AllMethodsHook` which excludes `System.Object` virtuals for back compat with one that allows intercepting them. See the notes in the changelog under "3.0.0 beta 1" for more info.
- why `IFakeObj

[2017-02-18 12:50] alexidsa commented on #987
Thanks! Just wanted to check that it makes sense before digging into the codebase.

[2017-02-18 12:56] blairconrad commented on #457
Apologies, @jonorossi. I should've been explicit. Thanks for showing up.

I was asking about why `IFakeObject` needs to be public.

*However*, I will also look at your notes about the `IProxyGenerationHook` to see if they help this situation.

[2017-02-18 13:06] jonorossi commented on #457
I haven't looked at the pull request, however isn't this just the case where you would cause inconsistent accessibility with a public class (the proxy class) implementing an internal interface (`IFakeObject`). As far as I recall DynamicProxy doesn't support implementing interfaces explicitly.

[2017-02-18 13:43] #765 closed

[2017-02-18 13:47] thomaslevesque commented on #902
Ah, yes, I was checking source compatibility, not binary compatibility.

AutoFac.Extras.FakeItEasy is restricted to FIE `[2.0.0,3.0.0)`, so it won't accidentally update to 3.0.0+. And anyway they intend to upgrade to FIE 3.0.0, so it will be recompiled.

[2017-02-18 13:52] thomaslevesque commented on #902
Done

[2017-02-18 13:57] thomaslevesque commented on #964
I liked the feature when I discovered it, but I soon encountered annoying limitations. It's better to use an auto-mocking container such as [this](http://www.thomaslevesque.com/2015/06/14/create-an-auto-mocking-container-with-unity-and-fakeiteasy/).

If you guys want to drop it, I won't try to convince you otherwise :wink:

[2017-02-18 14:01] thomaslevesque commented on #988
:+1:

I've already answered that comment, but looking at it again, I think the problem is not milestones themselves but the way we use them. Things could work more smoothly with your proposal of just creating a "vNext" placeholder milestone.

[2017-02-18 14:11] thomaslevesque commented on #987
I'm not sure what makes you say that. It's still used by most frameworks and libraries I know of, and the Microsoft [Framework Design Guidelines](https://msdn.microsoft.com/en-us/library/ms229011(v=vs.110).aspx) still recommend to use it:

That hasn't been my experience at all... Some (badly designed IMO) libraries do that, but certainly not most of them. And again, it goes against the guidelines.

[2017-02-18 14:22] thomaslevesque commented on #457
I don't really agree with this approach. If we can find a solution that solves the general problem, why bother with a less than ideal solution for just part of the problem? The solution I suggested isn't as complex as it seems (I implemented it in an hour or two), and it works.

That's an interesting idea, probably simpler than what I did. And we could do the same when we need to test equality bet

[2017-02-18 14:42] jonorossi commented on #457
Apologies, yes of course, not sure what I thinking, it's late here. I do know that InternalsVisibleTo does work implementing an interface normally with the C# compiler, I've done that before. In that case we've probably got a bug in DynamicProxy.

[2017-02-18 14:55] thomaslevesque commented on #457
Maybe. But according to the stack trace, the exception is thrown by `System.Reflection.Emit.TypeBuilder`, so maybe the bug is there, rather than in DynamicProxy... In any case, it would be great if there was a way around it.

[2017-02-18 14:56] jonorossi commented on #457
@thomaslevesque what is the exception message?

[2017-02-18 15:05] thomaslevesque commented on #457
I don't remember the exact message, but it roughly the same as in [this issue](https://github.com/castleproject/Core/issues/34#issue-21032365)

[2017-02-18 15:17] thomaslevesque commented on #457
In fact, the problem is probably in DynamicProxy... I just made a quick test:

    class Program
    {
        static void Main(string[] args)
        {
            var assemblyBuilder = AppDomain.CurrentDomain.DefineDynamicAssembly(
                new AssemblyName("MyAssembly"),
                AssemblyBuilderAccess.RunAndSave);

            var moduleBuilder = assemblyBuilder.DefineDynamicModul

[2017-02-18 15:30] thomaslevesque commented on #457
In my test, it works if I don't specify the public key in `InternalsVisibleTo`:

    [assembly: InternalsVisibleTo("DynamicProxyGenAssembly2")]

But fails if I specify it:

    [assembly: InternalsVisibleTo("DynamicProxyGenAssembly2, PublicKey=0024000004800000940000000602000000240000525341310004000001000100c547cac37abd99c8db225ef2f6c8a3602f3b3606cc9891605d02baa56104f4cfc0734aa39b93bf7852f7d9266654

[2017-02-18 17:29] blairconrad commented on #765
Thanks, @medmondson!

[2017-02-18 17:33] blairconrad commented on #964
Supposing we did want to drop it, I assume we'd like  to deprecate in one major release, and remove in the next?
If so, are we in enough of a rush to squeeze the obsolescence into 3.0? I'm not in that much of a hurry.

[2017-02-18 17:40] blairconrad commented on #987
We already support them via explicit typeparaming.

Sorry, somehow I thought this was an issue for arbitrary "custom delegates". Lack of attention.

@alexidsa, I'm sorry for getting your hopes up.
I've no objection to adding type-safe typeparamless support for raising arbitrary delegates so long as it didn't break anything else, but I don't think there's any point in making a special case for `Act

[2017-02-18 22:07] blairconrad commented on #457
@thomaslevesque, I wonder if you have to omit the public key because your assembly is not strong-named. See castleproject/Core#33, or the discussion in castleproject/Core#30, which the former addresses.

[2017-02-19 09:12] adamralph commented on #964
I don't think we should deprecate in 3.0.0. I think it's OK to deprecate in a 3.x minor, and remove in 4.0.0.

[2017-02-19 12:16] blairconrad commented on #964
Okay. But if we decide to go that route, maybe we deprecate in an early 3.x?

[2017-02-19 12:19] apacha commented on #964
No, I'd really come to love this feature. Please don't remove it. What exactly do you mean, that it is half-baked? I only wanted that it gets documented a little.
Switching to AutoFixture.AutoFakeItEasy might be an option, but its even less documented. At least if you deprecate it, please provide a link to an article about AutoFixture.AutoFakeItEasy that explains how to do the same thing. That wou

[2017-02-19 16:42] thomaslevesque commented on #457
Ah, I see. I thought I could always specify the public key for the friend assembly, even if the current assembly is not strong named. It's kind of weird that I need to exclude the public key in that case... Also the `InternalsVisibleToAttribute` documentation seems to say that the current and friend assembly either have to be both strong named or both not strong named. Does it mean that `DynamicPr

[2017-02-19 17:12] thomaslevesque commented on #964
Well, it's trying to mimick what an IoC container would do (injecting dependencies automatically into classes), but it's much more limited than a real IoC container. You would be better off with an auto-mocking container (see the link in my previous message, or an IoC integration package such as AutoFac.Extras.FakeItEasy). AutoFixture.FakeItEasy would work too, but it would mean that you have to m

[2017-02-19 17:43] adamralph commented on #987
Agreed. Shall we rename the issue?

[2017-02-19 17:44] adamralph commented on #964
What @thomaslevesque said.

[2017-02-19 17:51] thomaslevesque commented on #457
Actually this might be because the mocked type comes from an assembly with no strong name

[2017-02-19 18:15] adamralph commented on #902
I added links, names and issues to all the integration packages. I think we have them covered now and we can go ahead with the rest of the release when we're ready.

[2017-02-19 18:18] adamralph commented on #457
Even if we do some trickery around strictness and `System.Object` methods, it there still a fundamental flaw here that we need to fix regardless? I.e. we call `ToString()` on objects when generating messages about them, and we don't catch exceptions on that call. Perhaps the object itself has a badly behaved `ToString` method, but we still want to generate the message, rather than have an unhandle

[2017-02-19 18:30] thomaslevesque commented on #457
IMO we shouldn't call `ToString()` at all on a fake, whether it's strict or not. In my solution we call `IFakeObject.ToString()` instead. For non-fakes, I agree that we should catch the exception.

[2017-02-20 00:36] blairconrad commented on #987
Good thinking, @adamralph. Done.

[2017-02-20 00:38] blairconrad commented on #902
Nice work, @adamralph!

[2017-02-20 01:08] jonorossi commented on #457
Yes they are different assemblies, each `ModuleScope` has a strong and weak named dynamic assembly and will only be created when needed based on usage.

[2017-02-20 01:57] blairconrad commented on #457
IMO we shouldn't call `ToString()` at all on a fake, whether it's strict or not. In my solution we call `IFakeObject.ToString()` instead. For non-fakes, I agree that we should catch the exception.

ditto for `Equals` and `GetHashCode`, I assume.

[2017-02-20 09:09] thomaslevesque commented on #457
Yes

[2017-02-21 01:56] blairconrad commented on #955
Do we now have to wait to do this until after we release 3.1.0 (or 3.0.1)? `master` has already moved beyond 3.0.0, so it might be confusing to switch back.

[2017-02-21 06:50] adamralph commented on #955
Yes, I think it would be better to wait until the tip of master is released (3.10 or 3.0.1) and then create a `develop` branch.

[2017-02-21 10:30] thomaslevesque commented on #955
We can wait. On the other hand, the only commits made to `master` since RC1 are non-functional changes, so it wouldn't really matter if we released 3.0.0 from the tip of `master` (we would have to revert the commit that bumps the version to 3.1.0, of course)

[2017-02-22 11:09] blairconrad commented on #902
https://twitter.com/fakeiteasyfx/status/834359200826392577

https://twitter.com/fakeiteasyfx/status/834359146577293313

[2017-02-22 11:11] blairconrad commented on #962
This issue has been released in FakeItEasy 3.0.0:
https://github.com/FakeItEasy/FakeItEasy/releases/3.0.0

[2017-02-22 11:13] blairconrad commented on #838
This issue has been released in FakeItEasy 3.0.0:
https://github.com/FakeItEasy/FakeItEasy/releases/3.0.0

[2017-02-22 11:14] blairconrad commented on #952
This issue has been released in FakeItEasy 3.0.0:
https://github.com/FakeItEasy/FakeItEasy/releases/3.0.0

[2017-02-22 11:14] blairconrad commented on #944
This issue has been released in FakeItEasy 3.0.0:
https://github.com/FakeItEasy/FakeItEasy/releases/3.0.0

[2017-02-22 11:14] blairconrad commented on #932
This issue has been released in FakeItEasy 3.0.0:
https://github.com/FakeItEasy/FakeItEasy/releases/3.0.0

[2017-02-22 11:15] blairconrad commented on #904
This issue has been released in FakeItEasy 3.0.0:
https://github.com/FakeItEasy/FakeItEasy/releases/3.0.0

[2017-02-22 11:16] blairconrad commented on #531
This issue has been released in FakeItEasy 3.0.0:
https://github.com/FakeItEasy/FakeItEasy/releases/3.0.0

@jeremymeng, @jonorossi, thanks for all your help.
Look for your names in the release notes! :trophy:

[2017-02-22 11:16] blairconrad commented on #820
This issue has been released in FakeItEasy 3.0.0:
https://github.com/FakeItEasy/FakeItEasy/releases/3.0.0

[2017-02-22 11:16] blairconrad commented on #910
This issue has been released in FakeItEasy 3.0.0:
https://github.com/FakeItEasy/FakeItEasy/releases/3.0.0

[2017-02-22 11:17] blairconrad commented on #830
This issue has been released in FakeItEasy 3.0.0:
https://github.com/FakeItEasy/FakeItEasy/releases/3.0.0

[2017-02-22 11:17] blairconrad commented on #803
This issue has been released in FakeItEasy 3.0.0:
https://github.com/FakeItEasy/FakeItEasy/releases/3.0.0

[2017-02-22 11:17] blairconrad commented on #864
This issue has been released in FakeItEasy 3.0.0:
https://github.com/FakeItEasy/FakeItEasy/releases/3.0.0

[2017-02-22 11:18] blairconrad commented on #436
This issue has been released in FakeItEasy 3.0.0:
https://github.com/FakeItEasy/FakeItEasy/releases/3.0.0

Thanks, @cmerat. Look for your name in the release notes! :trophy:

[2017-02-22 11:23] blairconrad commented on #902
I'm closing [3.0.0-pre](https://github.com/FakeItEasy/FakeItEasy/milestone/30) too.

[2017-02-22 11:23] #902 closed

[2017-02-23 05:33] #660 closed

[2017-02-23 09:42] #523 closed

[2017-02-23 11:30] blairconrad commented on #940
I think anything we decide to do with the releases and/or building tags should be handled in another issue, and maybe after our switch to GitFlow.

[2017-02-23 11:55] blairconrad opened #991 "Collapse netstd/framework packages"
I know that we're eventually going to move to a full csproj-based solution anyhow, but I wonder if we wouldn't be better off collapsing the netstd projects so we have a single set of projects, not unlike [xBehave.net](https://github.com/xbehave/xbehave.net) and [SelfInitializingFakes](https://github.com/blairconrad/SelfInitializingFakes).
It may even make migrating to the new `csproj`s easier.

--

[2017-02-23 12:08] #940 closed

[2017-02-23 12:12] thomaslevesque commented on #991
I'm not sure I understand... Are you saying that we should generate the .NET Standard and .NET 4.0 assemblies from the same project?

It makes sense, but it worries me a bit, because the IDE and tools have poor support for project.json.

[2017-02-23 13:25] blairconrad commented on #991
That is exactly what I'm saying. Many projects (xUnit, xBehave, SelfInitializingFakes) do this.
I have noticed that it's harder to run unit tests in the IDE, but have been getting by with [Rocketship TestRunner](http://www.testdriven.net/default.aspx).

I don't mind us _not_ doing this either. Things seem to be working well enough as is.

I was thinking about picking up #645 and had just been wond

[2017-02-23 13:27] blairconrad commented on #991
Then again, in #645, we suggest holding off.
Maybe I'll just look elsewhere for work!

[2017-02-23 13:31] thomaslevesque commented on #991
I've seen problems with unit tests too. I'm using the R# runner. Maybe I'll give TestDriven a try.

[2017-02-24 02:25] blairconrad commented on #578
Marking on hold now that we've raised the idea of [removing the whole feature](https://github.com/FakeItEasy/FakeItEasy/issues/964#issuecomment-280834895).

[2017-02-24 02:34] blairconrad opened #992 "Remove automatic fake injection into system under test (InitializeFixture) in 5.0.0"
As suggested by @adamralph in https://github.com/FakeItEasy/FakeItEasy/issues/964#issuecomment-280834895. I'm creating this issue because if we go through with it, the decision deserves to be visible.

He suggested that the feature is "half-baked bloat".

@thomaslevesque says

and that

@adamralph agreed. @blairconrad (that's me) said nothing at the time, but agrees. An external mechanism (and sev

[2017-02-24 02:35] blairconrad commented on #992
I'm marking #578 and #964 as **on-hold** until we make a decision, as it makes no sense to work on them if we decide to remove the feature.

[2017-02-24 02:37] blairconrad commented on #964
Marking as **on-hold** while we decide whether to remove the feature over at #992.

[2017-02-24 11:31] blairconrad commented on #645
I think there are enough changes to make that there's benefit in working on it now (translation: I think it would be fun to work on now). May I?

[2017-02-24 11:46] thomaslevesque commented on #645
Sure, why not!

[2017-02-24 12:47] adamralph commented on #645
May I humbly suggest https://github.com/adamralph/simple-targets-csx

[2017-02-24 14:01] blairconrad commented on #645
Of course. But you're too late. If you thought I was doing anything other than trying to create a fiendish chimera of our `rakefile.rb` and the SelfInitializingFakes's `build.csx`, you are very naive indeed. :smiling_imp:

I'm aiming for a pretty direct port of our rakefile right now, actually. There may be opportunities to restructure later, but I'd like to get it functioning first. I already hav

[2017-02-24 23:01] adamralph commented on #523
Added to 3.1.0 milestone.

[2017-02-24 23:08] adamralph commented on #991
It may be better to wait for VS2017 RTM to bed-in a little, and make the switch to the new csproj, before doing this.

[2017-02-24 23:15] adamralph commented on #457
From https://github.com/FakeItEasy/FakeItEasy/issues/457#issuecomment-280938007

I suggest we release a very simple change now which catches the exception, falling back to the type name. That will solve the general case when the `ToString()` of _any_ object throws an exception, including this specific bug. After that, #984 may still have value, but we can pursue it for it's own merits independentl

[2017-02-25 00:16] adamralph commented on #988
I don't really mind if the next milestone is called `vNext` or `3.1.0`. With the former, we'll *always* need to rename it, but with the latter we'll only have to rename it if we decide to release a bug fixes only, and we've already assigned a bug fix to the next milestone. So, potentially slightly less to do if it's called `3.1.0` but I really don't mind.

I'm not sure this is true. We can filter

[2017-02-25 02:59] blairconrad commented on #991
**on-hold** while we're waiting for VS2017

[2017-02-25 15:00] thomaslevesque commented on #457
That makes sense.

As mentioned in your PR, I think we should prefix the type name with "Faked" if the value is a fake, since this is the default `ToString()` behavior for fakes.

[2017-02-25 15:03] thomaslevesque commented on #988
In fact, I use the milestones to make sure nothing is missing in the release notes.

[2017-02-26 02:12] blairconrad commented on #988
My understanding is that [under GitFlow](http://nvie.com/posts/a-successful-git-branching-model/#release-branches)

"vNext" seems to match this spirit better.

That's fine by me. In fact, I'd even be up for mentioning these things in the release notes, at least when the changes are contributed by a community member, if only as an opportunity to give credit where it's due. Either way, adding them t

[2017-02-26 14:39] thomaslevesque opened #994 "Default fake behavior for ToString() doesn't produce the same type format as Object.ToString()"
The default `ToString()` method for a non-fake object returns `GetType().ToString()`, but for a fake it returns `"Faked" <faked type>.FullName`. For non-generic types, `ToString()` and `FullName` return the same thing, but for generic types `FullName` includes the fully qualified names of type arguments, i.e.

[code]

Fakes use the second form, which is probably too verbose for most use cases, and

[2017-02-26 16:40] blairconrad commented on #994
I like it! In my opinion, this could be **ready** and **P3**, but I'm not that fussy about the priority.

[2017-02-26 16:46] thomaslevesque commented on #994
My only worry is that it's arguably a breaking change, which means it should be in the next major release...

[2017-02-26 16:52] blairconrad commented on #994
Ah. I see. I would not worry. We've changed messages before, I'm sure. And any change _can_ be a breaking change. I think relying on the format of error/exception messages is a little too much.

[2017-02-27 17:21] #457 closed

[2017-02-27 18:08] adamralph commented on #457
#993 actually fixes a more general bug, for any object that throws an exception in its ToString method, not just a strict fake. Is it worth altering this issue title and description to reflect that? Or should we raise another bug issue to reflect it?

[2017-02-27 18:41] thomaslevesque commented on #457
I think altering the title is fine.

[2017-02-27 19:39] blairconrad commented on #457
Agreed.

[2017-02-28 09:46] adamralph opened #996 "Replace StyleCop.MSBuild with StyleCop.Analyzers"
StyleCop.MSBuild doesn't work with pure project.json projects, so in that respect, #991 is blocked by this. However, it may well work with the new csproj, so in that respect #991 may not be blocked by this.

While StyleCop.MSBuild _may_ work with the new csproj, I believe it's better to move to StyleCop.Analyzers. It uses the Roslyn analyzer infra, so no need for custom build targets, and no need

[2017-02-28 15:01] #645 closed

[2017-02-28 15:30] blairconrad commented on #645
I added the issue to the milestone and release notes. This may be controversial. Remove if you think it's silly.

[2017-02-28 19:12] blairconrad commented on #73
I think the project may have died. Is there still value in pursuing this issue?

[2017-02-28 22:51] adamralph commented on #73
I think we can close as wontfix.

[2017-03-01 02:05] #73 closed

[2017-03-01 03:06] blairconrad commented on #361
There didn't seem to be much appetite for making a separate .NET 4.5 package just for this, but we _do_ have a .NET Standard 1.6 package that could support non-EventArg-extending type params for EventHandler…

[2017-03-01 03:13] blairconrad commented on #361
Marking **in-progress** until someone says we don't want to do ti.

[2017-03-01 07:19] adamralph commented on #361
When we switch to the new csproj, which can multi-target, we should switch on a .net45 output which also has this.

[2017-03-01 09:14] thomaslevesque commented on #361
My thoughts exactly

[2017-03-01 12:12] blairconrad commented on #361
If only you'd let me fix #991, we could have the .net45 project now! :wink:

[2017-03-01 14:30] #361 closed

[2017-03-02 12:00] #994 closed

[2017-03-03 11:41] blairconrad commented on #341
@jonorossi, a while back you guys let me into the Castle.Core code to beef up the messages generated when we try to proxy a type that's not accessible to DynamicProxyGenAssembly2 (castleproject/Core#30). I realize that Castle.Core doesn't have a need to generate an exception when a _member_ is inaccessible, it would be very handy for FakeItEasy to have access to (augmented) methods from `Castle.Co

[2017-03-03 11:45] blairconrad commented on #399
@adamralph, @thomaslevesque. I can take a look at this. I'll see where we specify culture and see what makes sense.
I'm inclined to prefer current culture unless there's a very clear reason not to (and I don't expect many), partly because it may give the users a better reading experience and so many things default to it (`string.Format`, bling strings, …).

Anyhow, let's see what I find!

[2017-03-03 12:02] thomaslevesque commented on #399
@blairconrad pay special attention to usages of string interpolation. By default it uses the current culture.

[2017-03-03 12:14] jonorossi commented on #341
That sounds like an acceptable addition as any DP consumer might want to do the same. Would a method similar to the methods of `InternalsUtil` with an `out string message` be better rather than directly exposing something to generate messages?

`ExceptionMessageBuilder` probably should have gone under the DP namespace. We've already got `Castle.DynamicProxy.ProxyUtil`, and this feels quite similar

[2017-03-03 13:59] blairconrad commented on #399
Yes. "bling strings".

[2017-03-03 14:08] thomaslevesque commented on #399
Ah, yes... didn't realize what you were talking about ;)

[2017-03-03 15:13] blairconrad commented on #399
I shouldn't rely on my jargon.

Although I gotta say, I wasn't planning on looking at all the places where we're implicitly using `CurrentCulture`. It'd be easy to find the instances of string interpolation and `string.Format`, but I figure if we're doing this now, and it hasn't been a problem, why not leave it? I'm looking at instances where explicitly specify a culture (whether it be current, in

[2017-03-03 15:14] blairconrad commented on #399
And I'll be running _our_ tests under different cultures to make sure we don't introduce any problems for people working on the repo in some non-sensible (read "en-CA") culture.

[2017-03-03 16:06] adamralph commented on #399
For the record, the way to create culture invariant strings using bling strings is to use [System.FormattableString.Invariant ](https://msdn.microsoft.com/en-us/library/system.formattablestring.invariant(v=vs.110).aspx), but unfortunately it's only in .NET 4.6 and above.

[2017-03-03 16:47] thomaslevesque commented on #399
Not really an issue, we can easily add a compatibility shim.

[2017-03-03 17:47] blairconrad commented on #399
Sure, but it's all long and stuff. Takes away some of the benefit of the `$`. Also I'm still hoping we don't have any (many) Invariants.

[2017-03-07 22:20] thomaslevesque opened #1005 "Diagnostic for usage of A<T> outside a call specification"
It would be useful to add a diagnostic to the analyzer for incorrect argument constraint usage. For instance, usage of `A<T>` outside a call specification could trigger an error (it will fail at runtime anyway, but it's even better to tell the user immediately).

[2017-03-09 00:43] blairconrad commented on #530
@rocifier has [indicated interest](https://gitter.im/FakeItEasy/FakeItEasy?at=58c09ee97ceae5376a8ea0ab) in this issue.

[2017-03-09 11:46] adamralph opened #1008 "stop requiring event arguments to extend EventArgs in event raisers for .NET 4.5"
Equivalent of #361, for .NET 4.5.

Depends on #991.

[2017-03-09 11:46] adamralph commented on #991
I raised #1008 to represent this enhancement.

[2017-03-09 12:05] adamralph commented on #1005
I think this could be split into two issues, one for the `A<T>` outside a spec, and another for the nullable type parameter concern.

I've been saying for years that `void` should have been type. I wonder that would fill the role of a bottom type?

[2017-03-09 12:06] adamralph commented on #530
Thanks @rocifier!

[2017-03-09 12:34] adamralph opened #1011 "Use single quotes consistently in messages"
Sometime we use double quotes, sometimes single, sometimes none. Let's make this consistent.

See https://github.com/FakeItEasy/FakeItEasy/pull/1001/files#r104390257

[2017-03-09 12:36] #399 closed

[2017-03-09 13:19] thomaslevesque commented on #1011
And there are also places where we use no quotes at all.

[2017-03-09 13:21] thomaslevesque commented on #1005
Makes sense.

Maybe. There was a proposal for a "Never" type (https://github.com/dotnet/roslyn/issues/1226), but I don't see it on the [new repo](https://github.com/dotnet/csharplang) for C# language design.

[2017-03-09 13:45] blairconrad commented on #991
I updated the description to refer to #1008. :tongue:

[2017-03-09 14:20] thomaslevesque opened #1012 "Get rid of ITaggable"
This interface is intended for internal use only, but due to an issue in Castle.Core, it has to be exposed publicly. As @blairconrad suggested in the chat, we could probably get rid of it and use a `ConditionalWeakTable<object, FakeManager>` instead.

[2017-03-09 14:21] thomaslevesque commented on #1012
Added `breaking` tag because we would be removing a public interface.

[2017-03-09 14:26] blairconrad commented on #1012
Note that we already use a `ConditionalWeakTable` [in TaggableAdapter])(https://github.com/FakeItEasy/FakeItEasy/blob/f6532b13e26e1c588dd4f7d2257316a3e5366df4/src/FakeItEasy/Core/DefaultFakeManagerAccessor.cs#L73) for Fake delegates. One option would just be to use it for all Fakes.

There's potentially a performance concern, as we keep adding things to the table and looking things up, but I was n

[2017-03-09 14:30] thomaslevesque commented on #1012
Well, it's a *weak* table, so the objects in it will stay there only until they're GC'd. I'm not overly worried about this, but I can try to benchmark it.

[2017-03-09 14:38] blairconrad commented on #986
@adamralph, @thomaslevesque and I were chatting and think we have enough to release (and it's been ages since 3.0.0). Objections to a release tomorrow, if we can get our act in gear?

[2017-03-09 14:49] blairconrad commented on #1012
I agree that it's probably not a big deal.

[2017-03-09 15:02] blairconrad commented on #1011
So...

Double? Single?

I kind of like single. If nothing else, they're easier to search for and easier to write inside double-quoted strings.

[2017-03-09 15:07] thomaslevesque commented on #1011
I like single quotes too

[2017-03-09 19:08] adamralph commented on #986
No objection at all! :shipit:

Indeed, in FakeItEasy terms, it has been ages!

[2017-03-09 19:09] adamralph commented on #1011
👍 to singles.

[2017-03-10 11:00] blairconrad commented on #986
https://twitter.com/fakeiteasyfx/status/840155389052256256

[2017-03-10 11:03] blairconrad commented on #399
This issue has been released as part of [FakeItEasy 3.1.0](https://github.com/FakeItEasy/FakeItEasy/releases/tag/3.1.0).

[2017-03-10 11:03] blairconrad commented on #994
This change has been released as part of [FakeItEasy 3.1.0](https://github.com/FakeItEasy/FakeItEasy/releases/tag/3.1.0).

[2017-03-10 11:04] blairconrad commented on #361
This change has been released as part of [FakeItEasy 3.1.0](https://github.com/FakeItEasy/FakeItEasy/releases/tag/3.1.0).

[2017-03-10 11:04] blairconrad commented on #645
This change has been released as part of [FakeItEasy 3.1.0](https://github.com/FakeItEasy/FakeItEasy/releases/tag/3.1.0).

[2017-03-10 11:04] blairconrad commented on #457
This change has been released as part of [FakeItEasy 3.1.0](https://github.com/FakeItEasy/FakeItEasy/releases/tag/3.1.0).

@Inspyro, look for your name in the release notes! :trophy:

[2017-03-10 11:04] blairconrad commented on #523
This change has been released as part of [FakeItEasy 3.1.0](https://github.com/FakeItEasy/FakeItEasy/releases/tag/3.1.0).

[2017-03-10 11:05] blairconrad commented on #660
This change has been released as part of [FakeItEasy 3.1.0](https://github.com/FakeItEasy/FakeItEasy/releases/tag/3.1.0).

@TimLovellSmith, look for your name in the release notes! :trophy:

[2017-03-10 11:05] blairconrad commented on #765
This change has been released as part of [FakeItEasy 3.1.0](https://github.com/FakeItEasy/FakeItEasy/releases/tag/3.1.0).

@medmondson, look for your name in the release notes! :trophy:

[2017-03-10 11:05] blairconrad commented on #757
This change has been released as part of [FakeItEasy 3.1.0](https://github.com/FakeItEasy/FakeItEasy/releases/tag/3.1.0).

@claudiobernasconi, look for your name in the release notes! :trophy:

[2017-03-10 11:21] blairconrad opened #1015 "3.2.0 release"
Can be labelled **ready** when all other issues on this milestone are closed.

- [x] run code analysis in VS in *Release* mode and address violations (send a regular PR which must be merged before continuing)
- [x] if necessary, change `VERSION_SUFFIX` in [AppVeyor](https://ci.appveyor.com/project/FakeItEasy/fakeiteasy/settings) to  "" and initiate a build
- [x] check [build](https://ci.appveyor.c

[2017-03-10 11:22] #986 closed

[2017-03-10 11:53] medmondson commented on #765
Thanks very much, glad to be of help

[2017-03-10 14:00] blairconrad commented on #978
@erik-kallen is not interested in continuing, so I'm taking over.

[2017-03-10 15:49] #978 closed

[2017-03-10 21:14] Inspyro commented on #457
@blairconrad Thanks :)

[2017-03-11 10:18] adamralph commented on #1015
FYI removed the link to #1014 from the checklist (copypasta artifact from #986).

[2017-03-11 12:06] blairconrad commented on #1015
Oh, thanks. That sounds like the kind of error I'd make! :blush:

[2017-03-11 14:02] thomaslevesque opened #1017 "Drop resource files and move message strings to the code"
As discussed in #1013

Error messages are currently in a resource file (.resx), but are not localized and there's no plan to localize them.

Also, the custom tool that generates code from the resource files produces code that is not compatible with .NET Standard 1.6, so it's currently disconnected. This means that adding a string to the resource file no longer updates the corresponding code file.

[2017-03-12 02:26] thomaslevesque commented on #1011
BTW, quotes aren't the only thing that's inconsistent when we include type names in messages. Sometimes we use `.FullNameCSharp()`, but sometimes not. So we sometimes have things like `IFoo<Bar>`, and sometimes ``IFoo`1[Bar]``.

Even though the C# format looks nicer, I don't think we should use it. FakeItEasy can be consumed from VB.NET too, not just C#, so there's no reason to use the C# format o

[2017-03-12 06:08] sushihangover opened #1019 "Mono debugger crash : malloc: *** error for object 0xa5029c: pointer being freed was not allocated"
`<package id="FakeItEasy" version="3.1.0" targetFramework="net45" />`
[code]
Re: https://bugzilla.xamarin.com/show_bug.cgi?id=53266

Wondering if everyone has seen this crash under Mono (OS-X/v4.8.0) while inspecting a `A.Fake`-based object. I do not have a Window box available at the moment but "*assuming*" VS/.Net does not crash the debugger while inspecting `A.Fake` instances(?).

[code]

[2017-03-12 11:11] blairconrad commented on #1011
I'm fine with dropping the C# formatting.

Unfortunately, I'm now wondering whether we shouldn't also drop the quotes altogether. It's not like we're going to have a space in the middle of a type name or anything. Nor would a type be `null`. There should be no difficulty interpreting which type we're talking about when reading a message.
I guess I'm raising the spectre of "no quotes" again. But if

[2017-03-12 11:44] blairconrad commented on #1019
Thanks for raising this, @sushihangover.

I don't think this is a problem on Windows:

![image](https://cloud.githubusercontent.com/assets/3275797/23831436/712193d4-06f7-11e7-8973-5f0094f5cf5d.png)

Unfortunately, I'm not sure how to proceed from here. I'm not a mono person at all, and wouldn't begin to know how to proceed. Perhaps some of the other owners know more.

[2017-03-12 12:38] thomaslevesque commented on #1011
Well, we considered whether to use single or double quotes, but I guess we forgot about the "no quotes" option... Now that you mention it, I think I like it.

[2017-03-12 13:12] thomaslevesque commented on #1019
Well, I didn't even *know* FakeItEasy worked on Mono... but I guess it makes sense, since Castle.Core does.

It's likely that the bug is in either Castle.Core or the Mono debugger. Here are a few things you can do to narrow down the problem:
- do the same test with FakeItEasy 2.x (which uses an older version of Castle.Core)
- do the same test with a proxy object created directly from Castle.Core,

[2017-03-12 15:30] sushihangover commented on #1019
Thanks for the quick reply.

* FakeItEasy 2.x = Same crash...
* Proxy object created directly from Castle.Core = No hard crash, but the Mono soft debugger throws an error and disconnects...

Some more research:

* Moq 4.x = Same crash... but it used to work also...

I would need to roll back Mono to a prior version, but I need the recent changes in Mono... *Between a rock and a hard place* 👿 ... t

[2017-03-12 15:32] #1019 closed

[2017-03-12 16:00] adamralph commented on #1019
@sushihangover thanks for the update. Good luck with the Mono fix!

[2017-03-12 16:46] blairconrad commented on #1011
I had.

[2017-03-13 01:43] blairconrad commented on #72
I'm not sure there's much benefit here. It's an interesting suggestion, but there's been no action since it was originally proposed 4 years ago last week. And I (party-pooper that I am) am not interested in supporting an additional syntax for assertions. Lately augmenting the one syntax we have has been a near-Herculean task (mostly undertaken by @thomaslevesque).

Proposal: close **wontfix**.

[2017-03-13 02:15] blairconrad commented on #434
Asking for access to Coverity Scan.
Not sure if you guys can see
https://scan.coverity.com/projects/fakeiteasy-fakeiteasy?tab=project_settings yet or not.
Then again, there's not yet much to see.

[2017-03-13 09:25] thomaslevesque commented on #434
Nope. "You are not authorized to access this page."

And if I try to register the project myself, it says "Name already registered"

[2017-03-13 09:56] thomaslevesque commented on #72
Well, it's fairly easy to get the basic features (`MustHaveHappened`/`MustNotHaveHappened`) working:

[code]

That being said, I'm not sure it's worth the trouble...

👍 to close as `wontfix`

[2017-03-13 10:23] blairconrad commented on #434
Ah. It's registered to _people_ not organizations. Invited you both.

[2017-03-13 12:40] thomaslevesque commented on #434
Ah, I can see it now. But it doesn't show details, it says:

[2017-03-13 12:41] blairconrad commented on #434
Yup. Me too. Sounds like the sort of thing that will resolve itself in 1–2 business days.

[2017-03-13 14:04] drauch opened #1020 "Overload for A<>.That.Matches() allowing to access other arguments"
It would be nice to have an overload of A<>.That.Matches() which allows me to access other arguments passed in, e.g. something like this:

[code]

This would help if you want to assert that a parameter is passed correctly if it depends on another one (yes, I know, a good API should not have parameters which are transitively dependent on each other, but we are not living in an ivory tower).

Curren

[2017-03-13 15:01] thomaslevesque commented on #1020
Hi @drauch,

Thanks for the suggestion.

Actually you can also do this:

    A.CallTo(() => obj.Foo(A<Param1Type>._, A<Param2Type>._))
        .WhenArgumentsMatch(args => args.Get<Param2Type>("param2").ID == args.Get<Param1Type>("param1").Param2ID)

It's a bit verbose, but it works...

It would probably be useful to add helper overloads for `WhenArgumentsMatch` to enable this syntax:

    A.CallTo

[2017-03-13 15:03] blairconrad commented on #1020
Ha, @thomaslevesque! Good one. I did not remember this.

[2017-03-13 15:04] blairconrad commented on #1020
… possibly because of the [help around this feature](https://readthedocs.org/search/?q=WhenArgumentsMatch&check_keywords=yes&area=default&project=fakeiteasy&version=stable&type=file).

[2017-03-13 15:05] thomaslevesque commented on #1020
Oops!

[2017-03-13 15:08] thomaslevesque opened #1021 "Add strongly typed overloads for WhenArgumentsMatch"
As discussed in https://github.com/FakeItEasy/FakeItEasy/issues/1020#issuecomment-286133698

Currently we have strongly typed overloads for `Invokes`, `Throws` and `ReturnsLazily`. It would be helpful to add similar overloads for `WhenArgumentsMatch`, so that instead of this:

    .WhenArgumentsMatch(args => args.Get<T1>(0).Id == args.Get<T2>(1).OtherId)

we can write this:

    .WhenArgumentsMatc

[2017-03-13 15:16] blairconrad commented on #1021
I wonder if this shouldn't supersede #1020.
If we implement it, and it's not enough power, then I'd be inclined to say "just use the sledgehammer of `A.CallTo(fake, call=>predicate(call))`.

[2017-03-13 15:19] thomaslevesque commented on #1021
👍

[2017-03-13 15:22] thomaslevesque commented on #1020
In fact, the search feature on ReadTheDocs looks completely broken... It doesn't give any results for any search term.

[2017-03-13 15:25] blairconrad commented on #1020
@drauch, @thomaslevesque found [Overriding argument matchers](http://fakeiteasy.readthedocs.io/en/stable/argument-constraints/#overriding-argument-matchers), which describes (among other things) `WhenArgumentsMatch`.

If this works for you, I suggest using it, and would like to pursue #1021 instead of this issue. Objections to closing this?

[2017-03-13 19:00] #530 closed

[2017-03-13 19:29] #1017 closed

[2017-03-13 21:45] thomaslevesque commented on #434
Looks like we have a few defects: https://scan7.coverity.com/reports.htm#v26293/p14434/fileInstanceId=11154325&defectInstanceId=2690822&mergedDefectId=1417675

All except 2 are in the tests, and the 2 that are in FIE itself are:
- a false positive ("useless call", which is here only to get the method from an expression)
- a possible NRE that can be ignored (because we know that a `RecordingManager

[2017-03-13 23:38] blairconrad commented on #434
Bah! I wanted to surprise you with the information.
I'm not against at least looking at the defects in the tests, although we could still categorize tests vs. src.

[2017-03-13 23:46] thomaslevesque commented on #434
Oh, I'm not saying we shouldn't look at them. They're just less critical, since they don't affect production code.

[2017-03-14 01:09] blairconrad commented on #434
Okay. Shall we can mark the false positive, and set the NRE to ignored?

Also, how do we like to categorize? More sophisticated than src/tests/samples?

[2017-03-14 07:56] drauch commented on #1020
Yeah, that will do 👍

[2017-03-14 07:56] #1020 closed

[2017-03-14 08:49] thomaslevesque commented on #434
Sure. I haven't really looked at how it works yet.

If we need to categorize, I guess src/tests/samples is fine.

[2017-03-14 10:10] blairconrad commented on #434
I'm not sure that we _need_ to. But our "configuration process" is not yet complete:

![image](https://cloud.githubusercontent.com/assets/3275797/23895441/1c27c5fc-087c-11e7-8a31-00fdedfefb87.png)

Don't you want all the points? :wink:

Categorizing would give us the option to ignore some of the code. I don't really see a need for that yet, but I haven't tried looking a the test defects. It could

[2017-03-14 10:19] blairconrad commented on #434
Categorized.

Marked [defect 1417682 (useless call)](https://scan7.coverity.com/reports.htm#v26241/p14434/fileInstanceId=11154084&defectInstanceId=2690826&mergedDefectId=1417682) as  a false positive.

Marked [defect 1417671 (derefernce null return value)](https://scan7.coverity.com/reports.htm#v26241/p14434/fileInstanceId=11154151&defectInstanceId=2690804&mergedDefectId=1417671) as ignored.

[2017-03-15 20:18] blairconrad commented on #434
Marked all "Explicit null dereferenced" defects as intentional (ignored), except for 1417662, which is marked as a false positive.

[2017-03-15 20:56] #1021 closed

[2017-03-16 04:14] blairconrad commented on #996
but doesn't respect them. For example, I can't disable SA1633. ☹️

[2017-03-16 19:08] thomaslevesque commented on #996
According to https://github.com/DotNetAnalyzers/StyleCopAnalyzers/issues/1701, it should be possible to disable SA1633:

(the bug in that issue is that specific occurrences of this warning can't be suppressed)

[2017-03-16 19:40] blairconrad commented on #996
It should be possible, but I've failed to do so. The entry in my ruleset was not respected.

[2017-03-16 19:40] thomaslevesque commented on #996
Is it respected for other rules?

[2017-03-16 19:45] blairconrad commented on #996
I do not know off-hand. I haven't tried to disable many.

[2017-03-16 20:21] blairconrad commented on #996
Not respected for SA1507 (the next one I tried).

[2017-03-21 20:29] adamralph commented on #996
I'm not sure what the problem is. I do this in xbehave and it works perfectly: https://github.com/xbehave/xbehave.net/blob/fa59baba78a0ad93fd229318abbcceb3def7cd0a/src/Xbehave.ruleset#L7

[2017-03-22 02:22] blairconrad commented on #996
That's under VS2017 with csproj, @adamralph? It looks like your project is still using xproj.

[2017-03-22 13:07] adamralph commented on #996
😢 so this is yet another thing that is broken in VS2017?

[2017-03-22 13:11] adamralph commented on #1020
Added "wontfix" - is that correct?

[2017-03-22 13:11] adamralph commented on #434
Anything left to do here?

[2017-03-22 13:12] thomaslevesque commented on #1020
Yes. We did #1021 instead, which achieves the same result.

[2017-03-22 13:12] thomaslevesque commented on #434
Yes, configure a daily Coverity build on AppVeyor

[2017-03-22 13:15] adamralph commented on #72
Leaving it to the community to spin up a package for this, if desired.

[2017-03-22 13:15] #72 closed

[2017-03-22 13:17] adamralph commented on #1011
- CLR formattting rather than C# formatting: 👍 agreed.
- Dropping quotes for terms which _we know will **never** contain spaces_: 👍 agreed

[2017-03-22 13:18] adamralph commented on #434
Is that not what this is doing (from https://ci.appveyor.com/project/FakeItEasy/fakeiteasy/settings)?:

![image](https://cloud.githubusercontent.com/assets/677704/24199565/5e4c2268-0f0a-11e7-9a85-ce14a346d083.png)

[2017-03-22 13:20] blairconrad commented on #996
Well, it could be my ineptitude. But I think it's broken.

[2017-03-22 13:21] blairconrad commented on #434
It is. I'd say let's wait for the build tonight, and once it works, close the issue.

[2017-03-22 13:28] thomaslevesque commented on #434
@blairconrad isn't it going to run the default build, which doesn't include the `coverity` target?

[2017-03-22 13:29] thomaslevesque commented on #434
Ah, sorry, I missed the condition in appveyor.yml

[2017-03-22 13:30] blairconrad commented on #434
@thomaslevesque, it should not…

[2017-03-22 15:45] blairconrad commented on #515
This no longer applies after removing the issue/release/milestone-manipulating build targets while fixing #645.

[2017-03-22 15:45] #515 closed

[2017-03-23 04:58] blairconrad commented on #434
The build built and the scan was uploaded.

Unless someone still wants a badge, I think we can close. If we want a badge, that's fine too.

[2017-03-23 09:18] thomaslevesque commented on #434
OK to close. I don't really care about the badge, but if we want it, we can add it any time.

[2017-03-23 10:16] #492 closed

[2017-03-23 11:06] #434 closed

[2017-03-23 19:05] adamralph commented on #492
Should be on 3.2.0?

[2017-03-23 19:16] thomaslevesque commented on #492
👍

[2017-03-24 01:56] blairconrad commented on #492
Oh, sorry. I thought I'd done that. I've been trying to keep up with the milestone and release when an issue is closed.

[2017-03-24 14:28] blairconrad opened #1030 "Deprecate FakeObjectCallExtensions.Write and .WriteToConsole"
From https://github.com/FakeItEasy/FakeItEasy/pull/1029#discussion_r107910202.

They don't really seem to fit here.

Once they're deprecated, we should

- [ ] create an issue for removing them in the next major release

[2017-03-24 16:57] #774 closed

[2017-03-25 01:53] blairconrad commented on #544
Reopening, as this was incompletely fixed by #1026.

[2017-03-26 20:51] adamralph commented on #774
🎉 nice work!

[2017-03-28 13:16] thomaslevesque opened #1039 "Automatic NuGet deployment when release is published"
Currently, when we make a new release, we manually trigger a NuGet deployment from AppVeyor. But AppVeyor also has an option to trigger a deployment when a new tag is pushed:
https://www.appveyor.com/docs/deployment/#deploy-on-tag-github-and-gitlab-only

This would make the release process even smoother, since publishing the release on GitHub would automatically build and deploy the packages.

Dep

[2017-03-29 02:21] blairconrad commented on #1039
:+1:

[2017-03-29 10:52] blairconrad commented on #544
Barred on comments in#1035, this can be closed.
I have no github credentials with me so can't update the labels.

[2017-03-29 10:53] blairconrad commented on #544
Or milestone our release notes.

[2017-03-29 10:55] #544 closed

[2017-03-29 10:57] thomaslevesque commented on #544
Which labels did you want to add?

Should this kind of task be in the release notes anyway? Since it affects only the tests, it has no impact for the end user.

[2017-03-30 01:43] blairconrad commented on #544
Oh I thought there'd be an in-progress that would need to be removed. But I
guess Adam's waffle does that.

As far as release notes, this past release or so we've been putting
everything in. But I see your point about the tests. And especially since
there's no community involvement, I could get behind not release noting.

  B

On Mar 29, 2017 07:55, "Thomas Levesque" <notifications@github.com> wro

[2017-03-30 01:43] blairconrad commented on #544
Thanks for closing!

On Mar 29, 2017 07:55, "Thomas Levesque" <notifications@github.com> wrote:

[2017-04-03 10:46] blairconrad commented on #1015
It's been over 3 weeks since a release, and we have some useful content. What do you think about putting 3.2.0 out there?
#1030 is the only issue we have in flight right now (and I think it looks good - @adamralph, are you still waiting for changes?), but I don't mind releasing either with or without it.
Oh! Unless we want to take a stab at #1039 before the release.

Either way, I'm probably free

[2017-04-03 11:57] thomaslevesque commented on #1015
Yes, I think we're ready to release once @1030 is merged.
#1039 would be a nice to have, if we can make it work.

[2017-04-03 13:36] blairconrad commented on #1015
Oh, @thomaslevesque. You just pinged poor user 1030!
I nearly did the same when I typed #1030 in my original comment.

[2017-04-04 10:29] blairconrad commented on #959
Based on the confusing state of source nuget packages ([quoting](https://gitter.im/FakeItEasy?at=58e344d7b52518ed4dd94f65) @adamralph:

) and my difficulty using them anyhow (I couldn't compile the PublicApiGenerator source file once included in FIE; probably something dumb I'm (not) doing), I propose keeping our version of PublicApiGenerator for now.

[2017-04-04 11:46] thomaslevesque commented on #959
Fine by me. We can always upgrade later.

[2017-04-04 11:51] #959 closed

[2017-04-04 18:30] #1030 closed

[2017-04-04 18:55] blairconrad commented on #1015
Okay. #1030 is merged.
Do we trust #1040 enough to at least merge it, assuming it will do no harm?

[2017-04-04 19:00] adamralph commented on #1030
There is an unchecked item in the description:

Was this issue raised?

[2017-04-04 19:02] adamralph commented on #1015
I'm 👍 to release 3.2.0.

[2017-04-04 19:05] adamralph commented on #544
I'm a little confused now. Did we make the spec members static or not?

[2017-04-04 19:31] thomaslevesque commented on #1015
What's the worst that could happen? It just won't deploy, and we'll have to do it manually. No big deal.

[2017-04-04 19:33] blairconrad commented on #1015
That's my thought too.

[2017-04-04 19:39] blairconrad commented on #1030
Nice catch, @adamralph.

[2017-04-04 19:40] blairconrad opened #1043 "Remove FakeObjectCallExtensions.Write and .WriteToConsole from the API"
They were deprecated in #1030, and should be removed in 4.0.0.

[2017-04-04 19:42] blairconrad commented on #544
We made spec members static. We did not re-enable rule CA1822.

[2017-04-04 20:32] blairconrad commented on #1015
Marking **ready** since everything that we think we want to go in is closed.

[2017-04-04 20:33] blairconrad commented on #1015
I'm free on the morning of 5 April, if you want me to release. Or I don't mind if someone else wants the glory.

[2017-04-04 20:37] thomaslevesque commented on #1015
Please do! I probably won't have the time to do it tomorrow.

[2017-04-05 09:55] adamralph commented on #544
Thanks @blairconrad - I've renamed the issue.

[2017-04-05 09:56] adamralph commented on #1015
:shipit:

[2017-04-05 10:01] adamralph commented on #1039
Since there was some concern in #1040 regarding automatic deployment WRT our current soluition for pre-releases, `VERSION_SUFFIX`, I suggest that we put this on holding pending:

- adopting gitflow
- adopting https://github.com/GitTools/GitVersion (which depends on adopting gitflow). This would remove the need for `VERSION_SUFFIX`.

[2017-04-05 10:11] blairconrad commented on #1015
Shipitting.

[2017-04-05 10:13] blairconrad commented on #1015
https://twitter.com/fakeiteasyfx/status/849565562296565761

[2017-04-05 10:15] blairconrad commented on #530
This issue was fixed in [Release 3.2.0](https://github.com/FakeItEasy/FakeItEasy/releases/tag/3.2.0).

@rocifier, look for your name in the release notes! :trophy:

[2017-04-05 10:15] blairconrad commented on #978
This issue was fixed in [Release 3.2.0](https://github.com/FakeItEasy/FakeItEasy/releases/tag/3.2.0).

@erik-kallen, look for your name in the release notes! :trophy:

[2017-04-05 10:15] blairconrad commented on #1021
This issue was fixed in [Release 3.2.0](https://github.com/FakeItEasy/FakeItEasy/releases/tag/3.2.0).

[2017-04-05 10:16] blairconrad commented on #492
This issue was fixed in [Release 3.2.0](https://github.com/FakeItEasy/FakeItEasy/releases/tag/3.2.0).

@lijunle, look for your name in the release notes! :trophy:

[2017-04-05 10:16] blairconrad commented on #1030
This issue was fixed in [Release 3.2.0](https://github.com/FakeItEasy/FakeItEasy/releases/tag/3.2.0).

[2017-04-05 10:17] blairconrad commented on #1017
This issue was fixed in [Release 3.2.0](https://github.com/FakeItEasy/FakeItEasy/releases/tag/3.2.0).

[2017-04-05 10:17] blairconrad commented on #434
This issue was fixed in [Release 3.2.0](https://github.com/FakeItEasy/FakeItEasy/releases/tag/3.2.0).

Thanks, Team Coverity! :trophy:

[2017-04-05 10:17] blairconrad commented on #774
This issue was fixed in [Release 3.2.0](https://github.com/FakeItEasy/FakeItEasy/releases/tag/3.2.0).

[2017-04-05 10:17] blairconrad commented on #959
This issue was fixed in [Release 3.2.0](https://github.com/FakeItEasy/FakeItEasy/releases/tag/3.2.0).

[2017-04-05 10:27] blairconrad opened #1045 "3.3.0 release"
Can be labelled **ready** when all other issues on this milestone are closed.

- [x] run code analysis in VS in *Release* mode and address violations (send a regular PR which must be merged before continuing)
- [x] if necessary, change `VERSION_SUFFIX` in [AppVeyor](https://ci.appveyor.com/project/FakeItEasy/fakeiteasy/settings) to  "" and initiate a build
- [x] check [build](https://ci.appveyor.c

[2017-04-05 10:29] #1015 closed

[2017-04-05 10:38] blairconrad commented on #1039
Done, @adamralph.

[2017-04-05 10:57] adamralph opened #1046 "Adopt GitVersion"
This will remove the need for:

- `VERSION_SUFFIX` to build pre-releases
- bumping the minor version or patch (only major bumps required)

Depends on #955.

[2017-04-05 11:08] blairconrad commented on #1011
I can pick this up, but wonder if it shouldn't be two issues after the last comment.

1. single (or no) quotes
2. CLR formatting

[2017-04-05 11:09] adamralph commented on #1011
👍 to two issues.

[2017-04-05 11:15] blairconrad opened #1047 "Use CLR formatting rather than C# formatting when describing types"
Split from #1011

[2017-04-05 11:48] thomaslevesque commented on #1046
Why not, but I have no idea how it works. Do you have any experience with GitVersion @adamralph?

[2017-04-05 11:49] thomaslevesque commented on #1011
Yes, it makes sense to split

[2017-04-05 11:50] thomaslevesque commented on #1045
Do we still need this if we switch to GitFlow?

[2017-04-05 12:08] benArrayx commented on #414
Just FYI, I arrived here because I'm having trouble running tests in a Medium-Trust environment. I need to do this because where my code will be deployed is running on Medium-Trust and I have no control over that, so I need my tests to also run in Medium-Trust in order to avoid problems.

[2017-04-05 12:13] thomaslevesque commented on #18
Is there still interest in this issue?

The proposed API looks good enough, but I have a few other ideas:

- change `A<T>.That.Matches(...)` to return something like this:

[code]
    Usage:
[code]
    The benefit is that the syntax for `ref` is almost the same (you just need to add `.Value`), but it would be a significant refactoring (and a breaking change).
- take advantage of the "ref return" f

[2017-04-05 12:57] blairconrad commented on #414
Where your _test code_ will be deployed?

[2017-04-05 12:59] benArrayx commented on #414
My test code is running on my local development machine.

[2017-04-05 13:03] blairconrad commented on #18
Not from me. Now I'm going to read the rest of your comment.

Your ideas have merit! But I'd still be as happy (happier) seeing this issue closed.

[2017-04-05 13:04] blairconrad commented on #414
@benArrayx, presumably in a full trust environment?

In that case, I am not sure how FakeItEasy's reliance on a high trust environment is a problem. Could you expand a little more?

[2017-04-05 13:04] #414 closed

[2017-04-05 13:07] benArrayx commented on #414
I'm using this to simulate / generate a partial trust environment: https://github.com/xunit/samples.xunit/tree/master/PartialTrustExample

Any code which is running in partial trust is getting an error "Inheritance security rules violated while overriding member: 'Castle.Core.Logging.LevelFilteredLogger.InitializeLifetimeService()'. Security accessibility of the overriding method must match the se

[2017-04-05 13:11] blairconrad commented on #414
@benArrayx, I think I was unclear. Why are you running your test code in a partial trust environment?

[2017-04-05 13:18] benArrayx commented on #414
Because the production environment is a partial trust environment. Code which runs in full trust fails in partial trust, therefore I need to run tests in partial trust to assure that the code will run when deployed.

[2017-04-05 13:36] blairconrad commented on #414
Ah, of course, @benArrayx. If there's no tenable alternative to running the tests in the low trust environment (for example, partitioning the tests so that only a portion of them need to be run in a low-trust environment and the remainder could use FakeItEasy), then perhaps an issue is in order. I wouldn't reuse this one, as it was .NET Fiddle-oriented, and there may be other barriers to running o

[2017-04-05 13:39] thomaslevesque commented on #18
I just tried, and it doesn't work: https://gist.github.com/thomaslevesque/03fc1985e720ebc8d435a85e76aa8719

I even got a compilation error that isn't documented anywhere (`error CS7085: By-reference return type 'ref int' is not supported.`)

[2017-04-05 13:41] thomaslevesque commented on #18
(admittedly, this is not a big issue... it just mean this syntax could only be used by C# 7 code)

[2017-04-05 13:42] benempson opened #1048 "Support partial trust environments"
As per the later part of the discussion held on https://github.com/FakeItEasy/FakeItEasy/issues/414

I am running tests in a partial trust environment, because the production environment is partial trust (out of my control) and code which runs in full trust fails to run in partial trust.

I'm using this to simulate / generate a partial trust environment: https://github.com/xunit/samples.xunit/tree

[2017-04-05 13:47] blairconrad commented on #1048
Thanks for creating this, @benArrayx.

I am sad to say that I don't think there will be much appetite for creating a 2.x release with expanded support for partial trust environments. Perhaps something can be done to make the other library (is it a well-known one? We may be able to help) work with FakeItEasy 3.2.0+.

[2017-04-05 13:48] thomaslevesque commented on #202
Looks like this issue didn't get much attention. I agree that it would be nice to improve the experience for protected methods. The proposed API isn't ideal, though:
- no support for ref/out parameters
- no support for generic methods

[2017-04-05 14:33] benArrayx commented on #1048
I understand, I've been able to update to 3.2 and still the same thing happens. I have also downloaded the source at 3.3 and tried to apply SecurityCritical attributes where it seemed necessary - to no avail :(

It did slightly change the stacktrace:

`   at FakeItEasy.Creation.CastleDynamicProxy.CastleDynamicProxyGenerator..ctor(CastleDynamicProxyInterceptionValidator interceptionValidator)
   at

[2017-04-05 19:39] blairconrad commented on #1048
Hi, @benArrayx. Aside from formatting (some "`"s and type params disappearing), the stack traces look the same to me.

I'm curious about the failing `TypeCatalogueTests.Should_be_able_to_get_types_from_external_assembly`, but probably best to pursue it outside this issue.

[2017-04-05 20:08] thomaslevesque commented on #463
Here's a similar scenario that is more worrying:

[code]

This code throws:

[2017-04-05 20:11] thomaslevesque commented on #463
Apparently `IInterface.DoSomething()` isn't properly mapped to `AbstractClass.DoSomething()`. This happens only for additional interfaces (i.e. interfaces not implemented by the faked class), so it *might* be a bug in Castle.Core.

[2017-04-06 02:10] blairconrad commented on #1048
@benArrayx, I think `[SecurityCritical]` needs to be applied to the overridden member. Me, when I add a test like

[code]
(and work around the error I get with the file access permissions) I still see

[code]
. The thing is, I don't see where we're overriding the method `GetObjectData` method. We instantiate a `ProxyGenerationOptions` class, but that's it. And adding `SecurityCritical` to `Generat

[2017-04-06 02:52] jonorossi commented on #1048
We haven't received any reports on partial trust problems for many years, I know there are some inconsistently applied security attributes to some Castle Core code, however nothing has really changed much with them in probably 5 years.

I don't have the time to dig into what could be going on, I've purged most of my partial trust knowledge 😉 , however if the problem does turn out to be in a Castle

[2017-04-06 10:19] blairconrad commented on #1048
Thanks, @jonorossi. After I wrote last night, I thought that _maybe_ Castle.Core had a type that extended `ProxyGenerationOptions`, but with an inconsistent attribute on `GetObjectData`, but I just checked and it appears not to be the case.

[2017-04-09 21:41] #1011 closed

[2017-04-09 22:03] thomaslevesque commented on #786
We should probably use the CLR format instead (see #1047)

[2017-04-09 22:37] thomaslevesque commented on #786
btw @blairconrad did you intend to omit the namespace? Should it be `System.Linq.Enumerable.Single<TSource>(this System.Collections.Generic.IEnumerable<TSource> source)` instead? It's a bit verbose (especially when `TSource` will be replaced with an actual type), but it's more specific.

[2017-04-09 22:43] thomaslevesque commented on #786
Also, if we're going to change this message, what do you think about dropping the [two blank lines and two spaces at the beginning of the message](https://github.com/FakeItEasy/FakeItEasy/blob/79e46300d74c13558446b74f9d80ba2418c721df/src/FakeItEasy/Configuration/DefaultInterceptionAsserter.cs#L23-L25)? As far as I can tell, they don't bring any benefit.

[2017-04-09 23:31] #621 closed

[2017-04-10 00:21] blairconrad commented on #786
@thomaslevesque, as you say, we should use the CLR format. And namespaces are good.

The whitespace is there to make the exception render pretty when the user makes this error:

[code]

(You probably know this, and were still thinking they could be dropped.)

I think this sort of thing is done in multiple places, and if we were going to start reformatting messages, it might be better to take a loo

[2017-04-10 08:04] thomaslevesque commented on #786
Actually, I didn't realize this. I guess it makes sense, then.

[2017-04-14 11:33] blairconrad commented on #769
Changing title, as the dummy creation session cannot become a singleton. Although, I am going to explore some potential improvements in the area.

[2017-04-15 09:35] #769 closed

[2017-04-15 11:12] adamralph commented on #1046
@thomaslevesque yes, we use it for all our NServiceBus packages. It's [playfully simple to use]( http://gitversion.readthedocs.io/en/latest/usage/msbuild-task/).

[2017-04-15 11:14] adamralph commented on #1045
Yes, we do. GitFlow is just a branching model. It won't do any versioning magic for us. That will be provided by [GitVersion](https://github.com/FakeItEasy/FakeItEasy/issues/1046).

[2017-04-15 11:19] blairconrad commented on #1046
And super simple to add [even if you don't use the MSBuild integration](https://github.com/blairconrad/SelfInitializingFakes/pull/16)!

[2017-04-15 11:20] blairconrad commented on #1045
But we'll still need to have a step to tag the build to enable that, no?

[2017-04-15 11:22] blairconrad opened #1053 "Further reduce temporary objects created when making dummies"
Continues #769.

[2017-04-15 11:27] adamralph commented on #1045
@blairconrad I'm not sure what you mean.

[2017-04-15 14:10] blairconrad commented on #1045
GitVersion won't just decide that the version is 3.4.2 or whatever. It'll
still need to be told somehow, like with a tag. No?

On Apr 15, 2017 07:27, "Adam Ralph" <notifications@github.com> wrote:

[2017-04-15 15:51] adamralph commented on #1045
Nope, it works off the branches. To being the release process under GitFlow, we'll create a `release-3.4.0` branch from `develop`. A `3.4.0-rc0001` package will be built from the `release-3.4.0` branch (which we may or may not choose to release ahead of RTM). When we want to release RTM, we merge the `release-3.4.0` branch to `master` and that will build the `3.4.0` package. Subsequent builds from

[2017-04-16 02:18] blairconrad commented on #1045
Ah, okay. But in that case branching and naming the branch release-3.4.0
would fulfill the same purpose as creating the tag, at least as far as
determining the next version goes.
Sounds very slick.

On Apr 15, 2017 11:51, "Adam Ralph" <notifications@github.com> wrote:

[2017-04-17 15:54] #786 closed

[2017-04-18 02:28] #1047 closed

[2017-04-18 20:50] #1053 closed

[2017-04-19 22:16] thomaslevesque opened #1059 "Migrate to VS2017 and new csproj"
project.json is obsolete; it has never been very well supported in VS215, and is not supported at all in VS2017. We can probably expect support for it to be progressively dropped by most tools. VS2017 can't open the project.json projects in the FakeItEasy solution, which forces us to keep using VS2015.

We should migrate to the new csproj format, which has many benefits:
- no need to maintain sepa

[2017-04-19 22:41] thomaslevesque commented on #987
I honestly have no idea how we would do that. I don't think it's possible. The current overload with a `TEventHandler` type param is already not type-safe (at compile time; the argument types *are* checked at runtime), and as far as I can tell, there's no way to make it type-safe (the signature would have to change dynamically based on `TEventHandler`, which obviously is not possible). Also, witho

[2017-04-19 22:45] thomaslevesque opened #1060 "Diagnostic for argument constraint with non-nullable type instead of nullable type"
Split from #1005. Inspired by #660.

Assuming you have this interface:
[code]
And a call configuration like this:
[code]
It's easy to miss the fact that the constraint won't match when the argument is `null` (it used to throw a NRE, which at least indicated something was wrong, but now it silently rejects the null argument). It's especially confusing because when you write `A<int>._`, you usually

[2017-04-19 22:59] thomaslevesque commented on #1060
The only problem is that it could be intentional, if you specifically don't want to include nulls... this would make the warning a false positive. Maybe we should provide a better way to specify "not null":

    A.CallTo(() => foo.Bar(A<int?>.That.IsNotNull())).Returns(42);

[2017-04-19 23:02] thomaslevesque commented on #1060
Of course, I forgot about `Not`... we can do `A<T>.That.Not.IsNull()`. But it doesn't read very well...

[2017-04-19 23:04] thomaslevesque commented on #1060
The warning could have a codefix to change `A<int>._` to either `A<int?>._` or `A<int?>.That.Not.IsNull()`.

[2017-04-19 23:47] blairconrad commented on #1059
I thought we already had one of these issues. Shows what I know.

I am not entirely sold on these benefits. For my money, the versioning and packaging support is still weak in VS2017, but I'm willing to be convinced otherwise. And even if I'm right, we can still make the switch.

Oh. How's StyleCop/FxCop support? I had issues with StyleCop.Analyzers under VS2017 for SelfInitializingFakes, as you k

[2017-04-19 23:49] blairconrad commented on #987
Yeah. I worked hard on it when I expanded the event-raising, and I couldn't come up with anything either. I was hoping that @siberianguy had a bright idea. Of course, I'd also misread the original proposal…

[2017-04-20 07:57] thomaslevesque commented on #1059
How so? What doesn't work as you'd like?

No idea... I guess that's something we'll need to investigate.

True. I'll remove the tag.

[2017-04-20 08:00] thomaslevesque commented on #987
In fact, there might be a way to make it work, but it's ugly:

    public static dynamic Raise(params object[] arguments)

[2017-04-20 10:14] blairconrad commented on #1059
I was unable to find a solution where I could change versions in one place and have the assemblies and nuget packages both be generated with the correct versions. I think interpolation of other variables also did not work well. Specifically where I set the FakeItEasy dependency in the SelfInitializingFakes nupkg to match the reference in the csproj.

[2017-04-20 12:45] thomaslevesque commented on #1059
Well, maybe it's just because I didn't try any advanced scenario, but for instance in [Linq.Extras](https://github.com/thomaslevesque/Linq.Extras/blob/master/Linq.Extras/Linq.Extras.csproj) I found that just setting the version in the csproj worked pretty well. The version is only in one place, and affects both the assembly and the NuGet package. If you need more flexibility, you can specify a ver

[2017-04-20 12:52] blairconrad commented on #1059
Ah, maybe the version-setting is fine then.
I have fears that if you combine with GitVersion, you'll end up modifying your committed csproj, though. That always gives me [the willies](https://www.google.ca/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwjlg4PRibPTAhVL6oMKHbcuDRgQFgglMAA&url=http%3A%2F%2Fwww.urbandictionary.com%2Fdefine.php%3Fterm%3DThe%2520Willies&usg=AFQjCNHp1G

[2017-04-20 14:30] thomaslevesque commented on #1059
Don't you [modify AssemblyInfo.cs in SelfInitializingFakes](https://github.com/blairconrad/SelfInitializingFakes/blob/c51c94b1819c7ea02f35edc9b56b98d2e3c418e6/build.csx#L44)? I don't think modifying the csproj is worse...
Anyway, that's not how I would use GitVersion. I think I'd prefer to get the version from the output, and pass it as a parameter to dotnet build. This way, there's no need to mod

[2017-04-20 15:41] blairconrad commented on #1059
Actually I _generate_ the AssemblyInfo.cs. It's not committed, so I'm less offended by the approach.
It's the modification of a committed file that really galls me.

I agree that passing a parameter would be preferable. I'd love to rip off such an approach.

[2017-04-20 19:10] thomaslevesque commented on #987
I have a POC for my `dynamic` idea. It lets you do this:

[code]

(note that I had to use a different name for `With` to avoid the ambiguity I mentioned above; obviously we would have to pick a better name)

Assignment to something other than a delegate or event with the correct signature throws an exception.

[2017-04-20 19:24] blairconrad commented on #987
Sorry, @thomaslevesque. I'm not sure which ambiguity you're referring to. Would the new `With` clash with the typesafe variant?

[2017-04-20 19:26] thomaslevesque commented on #987
Yes. In my example, if the new overload is named `With`, the compiler picks the overload with `(object, TEventArgs)` (because generic overloads are considered better because more specific, IIRC).

[2017-04-20 19:27] thomaslevesque commented on #987
(I _thought_ I had mentioned it earlier, but apparently I didn't...)

[2017-04-23 12:17] blairconrad commented on #1060
I'm usually against adding extra mechanisms to accomplish things we already support, but "not null" is such a fundamental operation that I think the overload would be worthwhile.
Shall we just do it regardless?

[2017-04-23 12:28] thomaslevesque commented on #1060
👍

[2017-04-23 12:33] blairconrad opened #1062 "Add That.IsNotNull convenience overload"
As @thomaslevesque points out in https://github.com/FakeItEasy/FakeItEasy/issues/1060#issuecomment-295483516

[2017-04-23 12:34] blairconrad commented on #1062
Marking as **up-for-grabs**, although if we pursue #1060, we'll probably want to do this first.

[2017-04-23 12:56] thomaslevesque commented on #1062
While we're at it, we should also add `IsNull`/`IsNotNull` for nullable value types (currently the `where T : class` doesn't support this use case)

[2017-04-23 13:31] thomaslevesque opened #1063 "Don't expose Not after Not in argument constraint"
With the current API it's possible to write argument constraint like this:

    A<int>.That.Not.Not.Not.Not.Not.Not.IsEqualTo(42)

Of course, it's a stupid thing to do, and presumably nobody would do this, but it's annoying that `Not` is even valid and shows up in Intellisense after `Not`. We could easily prevent it.

Suggested solution: introduce a `INegatableArgumentContraintManager<T>` interfac

[2017-04-24 10:50] #1062 closed

[2017-04-24 14:29] blairconrad commented on #1005
Reopening, since we forgot docs.

[2017-04-24 15:26] #1005 closed

[2017-04-24 16:44] blairconrad commented on #1045
Tonnes of stuff in 3.3.0 already. I think we're about due for another release.
@adamralph, I think you've the best handle on how we'll want to adopt GitFlow and so on, and want to make the switch right after a version tag is added.
Would a release this week suit?

[2017-04-24 18:02] thomaslevesque commented on #1045
👍

We could also include #1051

[2017-04-25 01:25] blairconrad opened #1069 "Improve CreationSpecsBase test hierarchy's threadsafety"
At least one test (a spec) [fails](https://ci.appveyor.com/project/FakeItEasy/fakeiteasy/build/189-fjpeidki#L751), due to what appears to be  a use of shared state:

[code]

[2017-04-25 01:49] blairconrad commented on #1069
I took a very quick gander, and `CreationSpecsBase` (and classes extending it) look like the only offender.

[2017-04-25 10:56] blairconrad commented on #1045
Actually, as I read #955, I think even @thomaslevesque or I (sorry to lump you in there with me, @thomaslevesque) could handle the tasks that we'd need to do post release. Let's see how #1051 continues and aim for a release Wednesday or Thursday morning.

[2017-04-26 07:57] #1069 closed

[2017-04-28 01:35] blairconrad opened #1072 "Non-Virtual Setup Analyzer gives false positive when complex argument constraint used in indexer"
Found in [the Nancy codebase](https://github.com/NancyFx/Nancy/blob/be4f8d42076e4e568a3742715437868e6c7d05af/test/Nancy.ViewEngines.Razor.Tests/TextResourceFinderFixture.cs#L68).
Can be reproduced by

[code]

[2017-04-28 01:36] blairconrad commented on #1072
Does not occur when `A<int>._` is replaced by a literal, or when the indexer is replaced by a method.

[2017-04-28 10:22] blairconrad commented on #1072
Seems to me that we're getting the false positive because we're looking for ancestors of `A<int>._`, looking for the first `InvocationExpressionSyntax`, which is `A.CallTo(() => fake[A<int>._])`, but there's an intervening `ElementAccessExpressionSyntax` node (`fake[A<int>._]`) that should have stopped us walking up the tree.
In VB.NET, the equivalent node is an `InvocationExpressionSyntax` (`fake

[2017-04-28 10:49] thomaslevesque commented on #1072
Yes, so the issue should only happen for C#, not VB.
I can fix it when I get back, so the fix can be included in 3.3.0 (unless you want to do it of course)

[2017-04-28 10:55] blairconrad commented on #1072
You are probably all vacationy so didn't notice that I self-assigned and marked in-progress. I am on top of this!
I enjoy an opportunity to demonstrate my complete lack of understanding of analyzer issues, submit a fix, and have you tell me it's wrong!
Srsly, though, I'll upload a commit in a few minutes.

[2017-05-03 14:48] #1072 closed

[2017-05-04 10:18] blairconrad commented on #1045
https://twitter.com/fakeiteasyfx/status/860076018010390528
https://twitter.com/fakeiteasyfx/status/860075928793362432

[2017-05-04 10:19] blairconrad commented on #1062
This issue was fixed in [Release 3.3.0](https://github.com/FakeItEasy/FakeItEasy/releases/3.3.0).

[2017-05-04 10:19] blairconrad commented on #1005
This issue was fixed in [Release 3.3.0](https://github.com/FakeItEasy/FakeItEasy/releases/3.3.0).

[2017-05-04 10:19] blairconrad commented on #1053
This issue was fixed in [Release 3.3.0](https://github.com/FakeItEasy/FakeItEasy/releases/3.3.0).

[2017-05-04 10:19] blairconrad commented on #1069
This issue was fixed in [Release 3.3.0](https://github.com/FakeItEasy/FakeItEasy/releases/3.3.0).

[2017-05-04 10:19] blairconrad commented on #786
This issue was fixed in [Release 3.3.0](https://github.com/FakeItEasy/FakeItEasy/releases/3.3.0).

[2017-05-04 10:19] blairconrad commented on #621
This issue was fixed in [Release 3.3.0](https://github.com/FakeItEasy/FakeItEasy/releases/3.3.0).

[2017-05-04 10:19] blairconrad commented on #1072
This issue was fixed in [Release 3.3.0](https://github.com/FakeItEasy/FakeItEasy/releases/3.3.0).

[2017-05-04 10:19] blairconrad commented on #769
This issue was fixed in [Release 3.3.0](https://github.com/FakeItEasy/FakeItEasy/releases/3.3.0).

[2017-05-04 10:19] blairconrad commented on #1047
This issue was fixed in [Release 3.3.0](https://github.com/FakeItEasy/FakeItEasy/releases/3.3.0).

[2017-05-04 10:19] blairconrad commented on #1011
This issue was fixed in [Release 3.3.0](https://github.com/FakeItEasy/FakeItEasy/releases/3.3.0).

[2017-05-04 10:39] blairconrad opened #1075 "3.3.1 release"
Can be labelled **ready** when all other issues on this milestone are closed.

- [x] create release-x.y.z branch for last-minute tasks
- [x] run code analysis in VS in *Release* mode and address violations (send a regular PR which must be merged before continuing)
- [x] if necessary, change `VERSION_SUFFIX` in [AppVeyor](https://ci.appveyor.com/project/FakeItEasy/fakeiteasy/settings) to  ""
- [x]

[2017-05-04 13:09] thomaslevesque opened #1076 "FakeItEasy0003 false positive when returning argument constraint from helper method"
For instance this code doesn't compile because of FakeItEasy0003 error:

[code]

Calling this method outside a call specification would throw, but calling it in a call specification is valid and works.

[2017-05-04 13:10] thomaslevesque commented on #1076
There's no way for the analyzer to detect this scenario; the best we can do is reduce the diagnostic severity to Warning.

[2017-05-04 13:27] #955 closed

[2017-05-04 14:11] alexjamesbrown opened #1078 "Identify precise mismatch when a complex argument constraint fails to match an argument"
From http://stackoverflow.com/a/43781563/131809

Consider the following assertion

[code]

This gets a bit messy.

If `c.AnotherProperty` is infact "890" my unit test will not tell me.
It won't tell me that `AnotherProperty` is wrong. It'll just fail (correctly)

To work around this, I quite often do this:

[code]

I guess it'd be nice if the exception `MustHaveHappened` throws if the matcher does

[2017-05-04 14:25] blairconrad commented on #1076
Fixed by #1077, no matter what it thinks.

[2017-05-04 14:25] #1076 closed

[2017-05-04 14:39] thomaslevesque commented on #1078
Hi @alexjamesbrown,

It's an interesting idea. However it would be extremely difficult to achieve, if not outright impossible. The example you gave is pretty straightforward, but what if you had a more complex constraint? Keep in mind that the predicate passed to `Match` can be *anything*; it can be arbitrarily complex, have multiple branches, loops, calls to other methods, etc. There's no way to

[2017-05-04 14:42] MistyKuu commented on #1078
@thomaslevesque  what if 'Matches' would accept multiple predicates? This way you can at least response to a caller which one failed.

[2017-05-04 14:44] #1045 closed

[2017-05-04 14:45] alexjamesbrown commented on #1078
@MistyKuu multiple predicates *could* end up in multiple places to be a problem...
Multiple multiple matchers for example?

Or, you could "name" the predicates?

   .That.Matches(c=> c.Property == "123", "Property")
   .That.Matches(c=> c.AnotherProperty == "345", "AnotherProperty ")

[2017-05-04 14:48] MistyKuu commented on #1078
@alexjamesbrown  I would say that naming matchers will increase complexity unnecessarily.
I would prefer to use it like that:
.That
.Matches(c=> c.PropertyA == "123", c=> c.PropertyB == "124")
Or
.That
.Matches(c=> c.PropertyA == "123")
.Matches(c=> c.PropertyB == "124")

[2017-05-04 14:49] thomaslevesque commented on #1078
@MistyKuu that would work, but we also need to provide a description of the predicate that failed (`Matches` accepts a `Func<T, bool>`, not an expression, so we can't get a string representation of it).

The API could look like this:

    A<Customer>.That.Matches(c => c.Property == "123", "Property is 123")
           .And(c => c.OtherProperty == "345", "OtherProperty is 345")
           .And(c =>

[2017-05-04 14:51] thomaslevesque commented on #1078
You can name the predicate already:

    A<Customer>.That.Matches(c => c.IsActive, "active customer")

[2017-05-04 14:51] alexjamesbrown commented on #1078
@thomaslevesque yes, I saw that just after I'd posted ;)

I mean, this isn't a bug, or an issue as such, it's a bit of a feature idea.

My workaround works fine on the many projects I've used it on.
Just a 'nice-to-have' I guess

[2017-05-04 14:53] blairconrad commented on #1078
@alexjamesbrown, thanks for making this.

I may be missing something, but are not the calls output when `MustHaveHappened` fails to match?
e.g.

[code]

If you can't tell what's wrong, have you considered augmenting the `Customer` rendering? Either a ToString or a argumentformatter like

[code]

yields

[code]

[2017-05-04 14:53] thomaslevesque commented on #1078
@alexjamesbrown yes, I agree it's a nice idea, and if we find a way to make argument matchers better, we certainly will. I just don't want to give you false hopes ;)

[2017-05-04 15:03] thomaslevesque commented on #1078
Scratch that. There's an extension method that takes an `Expression<Func<T, bool>>`, so we could do just this:

[code]

[2017-05-04 15:40] thomaslevesque commented on #1075
https://twitter.com/fakeiteasyfx/status/860156883834994688

[2017-05-04 15:40] thomaslevesque commented on #1076
Fixed in release 3.3.1

[2017-05-04 15:42] thomaslevesque commented on #955
Fixed in [release 3.3.1](https://github.com/FakeItEasy/FakeItEasy/releases/tag/3.3.1)

[2017-05-04 15:48] thomaslevesque opened #1082 "3.4.0 release"
Can be labelled **ready** when all other issues on this milestone are closed.

- [x] run code analysis in VS in *Release* mode and address all coding and style violations (send a regular PR which must be merged before continuing)
- [x] ~~if necessary, change `VERSION_SUFFIX` in [AppVeyor](https://ci.appveyor.com/project/FakeItEasy/fakeiteasy/settings) to  ""~~
- [x] create release-x.y.z branch on

[2017-05-04 15:50] #1075 closed

[2017-05-04 16:34] blairconrad commented on #1078
@alexjamesbrown, I took the liberty of renaming the issue. To my mind, the original title suggested that there were multiple argument constraints, but we are talking about one matcher that combines several conditions.

Apologies if I've not captured the spirit of the issue.

[2017-05-04 18:56] thomaslevesque opened #1083 "Wrong identifier for diagnostic FakeItEasy0003"
It is `FakeItEasy003` when it should be `FakeItEasy0003`.

[2017-05-04 18:58] blairconrad opened #1084 "3.3.2 release"
Can be labelled **ready** when all other issues on this milestone are closed.

- [x] run code analysis in VS in *Release* mode and address violations (send a regular PR which must be merged before continuing)
- [x] if necessary, change `VERSION_SUFFIX` in [AppVeyor](https://ci.appveyor.com/project/FakeItEasy/fakeiteasy/settings) to  ""
- [x] create release-x.y.z branch for last-minute tasks
   - [

[2017-05-04 19:28] #1083 closed

[2017-05-04 20:34] thomaslevesque commented on #1083
Fixed in [release 3.3.2](https://github.com/FakeItEasy/FakeItEasy/releases/tag/3.3.2)

[2017-05-04 20:37] thomaslevesque commented on #1084
https://twitter.com/fakeiteasyfx/status/860231402775879683

[2017-05-04 20:39] #1084 closed

[2017-05-05 10:11] blairconrad commented on #1046
Taking off-hold, since #955 is fixed.

[2017-05-05 11:47] blairconrad commented on #1046
So I naively incorporated the task and built.

I'm not so sure about the 3.6.0. Will investigate.

Aha! From build.log:

It found an old branch named 3.5 and decided that it was a version. Terrifying.

[2017-05-05 17:09] blairconrad commented on #1046
The 3.5 still wins even if we're on a `release/3.4.0` branch (or have merged one in), but a tag of 3.4.0 would cause the build to come out with release 3.4.0.

[2017-05-06 01:07] blairconrad commented on #1046
@adamralph  (not to ignore you, @thomaslevesque, but you and are I definitely less experienced here), does any of this surprise you?
Folks, I guess having the "develop" get labelled with oddly-high 3.6.0 versions for a release or two (let's release quickly) isn't so bad, as long as we get good versions out once we tag, but it seems that we run a small risk of recurrence if someone uses a numeric b

[2017-05-06 10:43] blairconrad commented on #1078
@thomaslevesque, I think that

[code]

will not be achievable, since `Matches` returns `<T>`, which we wouldn't be able to hang an `And` on.
I think another syntax would be necessary.

[2017-05-06 17:36] thomaslevesque commented on #1078
@blairconrad, currently `Matches` returns `T`, but we could change it to return something that's implicitly convertible to `T`.

[2017-05-07 10:46] blairconrad commented on #1078
This will not work when `T` is `object` or an interface, though.

[2017-05-07 11:14] thomaslevesque commented on #1078
True. I keep forgetting about this limitation...