[2015-04-14 11:02] ursenzler commented on #476
I added the [ThreadStatic] to the trappedConstraints

This solve the issue I have.

I don't know whether xUnit 2.0 runs things on different threads even when parallelization is turned off.

[2015-04-14 11:02] blairconrad commented on #476
@ursenzler, in the meantime, are you interested in taking an early build with what I propose as the fix for this issue? You should be able to [download the nupkg from TeamCity](http://teamcity.codebetter.com/viewLog.html?buildId=188348&buildTypeId=bt929&tab=artifacts#!132is1d).

Oh! I suspect that Scopes aren't threadsafe either, but haven't gotten around to trying them out.

[2015-04-14 11:06] ursenzler commented on #476
I can try it if you want, but I have to wait for xBehave running on xUnit 2.0 anyways. I'm just experimenting at the moment.

[2015-04-14 11:10] ursenzler commented on #476
Just tried it, looks good.
I don't use scopes, though.

[2015-04-14 11:10] blairconrad commented on #476
Yeah, me too.  But you probably read that.

Oh, thanks, but don't go out of your way. It sounds like you've end up with the same code anyhow.

Thanks for your understanding and for pursuing this in xunit/xunit#392. I'm also quite curious about why disabling the parallelization had no effect.

[2015-04-14 11:11] blairconrad commented on #476
Darn it! We are crossing wires.

Thanks for trying the package. Yeah, I'm not a scope-user, either.

[2015-04-14 14:34] bradwilson commented on #476
FYI, thready safety is not enough for xUnit.net 2.

You need to use `CallContext` to correctly get and set values that will tracked to a given `Task`. Since tasks often will live their lives on several threads, a simple thread static will fail. xUnit.net 2 not only allows users to write async tests, it also is heavily `Task`-based internally.

The APIs to use are `LogicalGetData` and `LogicalSetDa

[2015-04-14 16:40] blairconrad commented on #476
Thanks, @bradwilson. New concepts for me, which I'll have to absorb. I appreciate you putting the time into this.

I do wonder about the special case of the ArgumentConstraintTrap, though. The value that's being made `ThreadStatic` is extremely short-lived, and are used only in the test setup or verification phases.

Perhaps I should do my own learning, but I would not expect the code to jump thre

[2015-04-14 17:53] bradwilson commented on #476
You can jump threads any time there is an `await` keyword in the method. The [original bug report](https://github.com/xunit/xunit/issues/357) included this as a repro:

[code]

[2015-04-14 19:02] blairconrad commented on #476
Thanks for that.

If `await` is the trigger, then I think we're safe for sane uses of `ArgumentConstraintTrap` (one could come up with a contrived example that fails, but that's another story).
I'm convinced there are other problems in FakeItEasy, but for that one use, we should be good.
The `ArgumentConstraintTrap` is only used during the 3rd line in that example, while the `A.CallTo` method is i

[2015-04-14 23:57] blairconrad commented on #476
The `RobustThreadLocal` implementation is quite clever.

I see there's no `CallContext` in SilverLight. Not a dealbreaker, but it would complicate things a little.

[2015-04-15 14:13] adamralph commented on #476
@ursenzler off topic here, but it would be great if you could try out xbehave 2.0 RC1. I'm currently in the process of upgrading several projects to it as a test before hitting the button on RTM. All feedback welcome at https://github.com/xbehave/xbehave.net/issues/144

[2015-04-15 15:01] ursenzler commented on #476
@adamralph I just did that, I put my feedback unfortunately in issue https://github.com/xbehave/xbehave.net/issues/51

[2015-04-17 14:51] vossad01 opened #479 "Migration of code using Moq's Mock.Of syntax"
When looking at migration from Moq to FakeItEasy, is there any analog to Moq's `Mock.Of` syntax?  I am not seeing it mentioned in the migration search pattern doc.

If you are not familiar with the the feature:
[code]
The above creates an implementation of `IDocumentRepository` that returns the new document when `Get` is called with any Guid.  The syntax is convenient for tersely creating simple m

[2015-04-17 14:53] blairconrad commented on #479
Perhaps I'm missing the point of `Mock.Of`, but

[code]

?

[2015-04-17 14:59] blairconrad commented on #479
Or is it the one-lineness that you're most excited about?

[2015-04-17 15:00] vossad01 commented on #479
Yep, the strength of `Mock.Of` is that it can be done inline where the mock is needed instead of needing separate declaration and configuration

[code]

becomes
[code]

which can add a lot to the length of tests

[2015-04-17 15:01] blairconrad commented on #479
Oh. Not the sort of thing that really bothers me personally. One could always wrap creation in a helper method.
Or

[code]

[2015-04-17 15:12] vossad01 commented on #479
Ah, `ConfigureFake` would seem to be the best analog.

Thanks!

[2015-04-17 15:12] #479 closed

[2015-04-17 15:15] blairconrad commented on #479
No problem.

[2015-04-23 08:43] thomaslevesque commented on #56
@hmemcpy, are you still working on this?

I just found a bad unit test in my code where I had written `A.CallTo(...)` and forgotten to call `MustHaveHappened()` on it; this caused the test to pass even though it should have failed. Adding the `[Pure]` attribute on the `CallTo` method would prevent this kind of mistake. (technically, it's not really pure, since it mutates the state of the fake mana

[2015-04-23 08:46] hmemcpy commented on #56
@thomaslevesque sorry, I've been so busy lately (being a new dad :P) that this completely escaped my mind.
Also, I hadn't considered using `[Pure]` at all, which is a great suggestion!
In fact, now I'm thinking it could be a cure for incomplete chaining of all fluent interfaces!

Let me dust off what I had, and I'll send a PR.

[2015-04-23 09:02] hmemcpy commented on #56
Just to make sure, is the desired solution then adding an `Annotations.cs` to the codebase with `internal` visibility?

[2015-04-23 10:12] thomaslevesque commented on #56
I think it is, @adamralph seemed to agree with the idea

[2015-04-23 10:15] hmemcpy commented on #56
@thomaslevesque awesome, that's what I'm doing.

Other than `A.CallTo`, are there other methods that take in a lambda? Except `.Fake<>`?

[2015-04-23 11:05] hmemcpy commented on #56
After some thought, and a chat on gitter about this situation, I came to the realization that Annotations are not the best way to solve this.
Initially (2 years ago, in fact), this issue was open to provide a "solution" to ReSharper's "implicit capture" warnings. It's been 2 years, there have been 0 complaints about this.

As for the other thing, the `[Pure]` annotation is not the best solution fo

[2015-04-23 11:05] #56 closed

[2015-04-23 11:51] thomaslevesque commented on #56
I agree that using the [Pure] annotation here would be misleading, but right now there is no better one. Hopefully your suggestion on JetBrains' Youtrack will be accepted ;)

I understand how it can be annoying to you, but I don't think this plugin is very widely used... so I don't think it's a valid reason not to do it.

Perhaps, but right now Roslyn analyzers are only available in VS2015, which

[2015-04-25 06:59] adamralph commented on #56
Whilst a diagnostic package should be the long term aim (and I'm not convinced it's likely to never get done :wink:), I'd be happy to introduce R# annotations in the meantime. However, we will not be adding `[Pure]` to non-pure methods as a hack. Semantics matter :wink:

[2015-04-27 12:42] thomaslevesque opened #480 "NullReferenceException when trying to fake a non-virtual generic method method"
If I try to fake a non-virtual, non-generic method, I get a `FakeConfigurationException` because the method is non-virtual (as expected). But if the method is generic, FIE throws a `NullReferenceException`.

Example:

[code]

This throws the expected `FakeConfigurationException`:

[code]

This throws a `NullReferenceException`:

[code]

[2015-04-27 13:42] thomaslevesque commented on #480
The problem seems to be in `MethodInfoManager.HasSameBaseMethod`. Apparently, for a virtual generic method, `GetBaseMethod` returns the generic definition (`IsGenericMethodDefinition` is true), but not for a non-virtual generic method (in this case it returns the realized method itself). This causes `IsSameMethod` to return false, which in turn causes `GetInvokedMethod` to return null, and this ca

[2015-04-27 19:54] thomaslevesque opened #482 "Non-generic Fake and Dummy creation"
I just realized that `A.Fake` doesn't have a non-generic overload accepting a `Type` parameter, which would be very useful in some scenarios. I realize that it's not something most people would need on a regular basis, but there doesn't seem to be a good workaround. The only way I found was to call `A.Fake<T>()` via reflection, which is far from ideal.

Am I missing something?

Perhaps adding a no

[2015-04-27 22:43] blairconrad commented on #482
Hi, @thomaslevesque. Is there a particular use case you envision? Have you encountered a need for this, or is it just speculation? About a year ago, #288 was raised, which is nearly the same, but for `A.Dummy`. It was ultimately closed "wontfix" after we discussed it with the potential contributor and it turns out that even he considered it a niche feature.

[2015-04-28 01:23] thomaslevesque commented on #482
Hi @blairconrad,

Yes, I have a specific use case in mind: http://stackoverflow.com/a/29905525/98713
As you can see I had to use `GetMethod` + `MakeGenericMethod` to achieve what I wanted.

I realize it's not a common use case, but it's not so far-fetched either, and currently there is no clean way to do it, as far as I can see. It's probably you don't really need it when you use FakeItEasy direct

[2015-04-28 01:28] thomaslevesque commented on #482
Interestingly, it's kind of the opposite of #470, where I wanted to add a generic version of a method that accepted a `Type` parameter ;)
It's common practice to offer both generic and non-generic forms of an API that accepts a type, because depending on the use case, you might need one of the other.

[2015-04-28 01:34] thomaslevesque commented on #482
The only issue that I see is that this non-generic overload couldn't accept an `Action<IFakeOptionsBuilder<T>>`, since there would be no `T`... (in my use case, it's an acceptable limitation)

[2015-04-28 02:09] blairconrad commented on #480
Thanks for raising this, @thomaslevesque.
At a quick pass, your fix appears to be sound.
The rest of the gang at FakeItEasy International are a little busy with other projects, and we're pushing for the 2.0 release when we do have time, so it may be a little while before we can do a proper review and roll the fix into the codebase. Don't despair at the delay, though. We are interested, and appreci

[2015-04-28 02:31] blairconrad commented on #482
Ah, yes. Auto-faking. I added some comments in the StackOverflow question.
Generally in these sorts of situations, I'd recommend AutoFixture/AutoFixture, especially with its AutoFakeItEasy extension.
It's _built_ for this sort of thing, and I'm sure @ploeh and contributors have added all kinds of nice features. There are even extensions for other containers, such as [the one for Autofac](http://do

[2015-04-28 05:46] ploeh commented on #482
FWIW, here's a [pattern description of Auto-Mocking Containers](http://blog.ploeh.dk/2013/03/11/auto-mocking-container), with a general, library-independent description of the motivation, but a specific example using Castle Windsor and Moq.

Essentially, what you'll need is any Composition Engine with enough extensibility to hook into, and a Dynamic Mock library - also with a bit of extensibility.

[2015-04-28 09:12] thomaslevesque commented on #482
Yes, AutoFixture seems to do exactly what I want. I was looking for a solution based on Unity, but actually it doesn't really matter.

[2015-04-28 09:14] thomaslevesque commented on #482
But I still think a non-generic `A.Fake` would be useful to build tools like AutoFixture. If you're worried about polluting the API, you can always use the `[EditorBrowsable]` attribute to hide it from Intellisense.

[2015-04-28 09:16] thomaslevesque commented on #480
Yes, I agree. It's not a blocking issue at all.

[2015-04-28 10:13] ploeh commented on #482
FWIW, I've been there. That tends to generally not help. You can change your Visual Studio settings so that such members still show up, and IIRC; ReSharper doesn't respect that attribute at all.

[2015-04-28 10:18] blairconrad commented on #482
Indeed, ReSharper doesn't. That drove me bonkers for about an hour one evening, as I was sure I was doing _something_ wrong the first time I tried to apply it to a member.

If one's building a tool such as AutoFixture, I think the non-generic `A.Fake` might provide marginal benefit, but if one's already building a framework to work with FakeItEasy, I'm not sure it's a huge advantage.
For end users

[2015-04-28 12:55] thomaslevesque commented on #482
Yes, but in this case it's the user's choice; he explicitly asked to see all members.

It does (at least R# 9.1 does):
![http://i.imgur.com/4yABDcM.png](http://i.imgur.com/4yABDcM.png)

[2015-04-28 15:12] adamralph commented on #482
@thomaslevesque in the use case you linked to on SO (http://stackoverflow.com/questions/29902023/can-i-configure-unity-to-automatically-return-a-fake-for-interfaces-that-are-not/29905525#29905525) I don't see you passing a type parameter in the example usage. Am I missing something?

Also, given that what you seem to be trying to do here is just have automatically resolved deps for your fakes, why

[2015-04-28 15:15] blairconrad commented on #482
@adamralph, I think the type comes from

[code]

[2015-04-28 15:17] adamralph commented on #482
OK, but that is only relevant if Unity is a constraint. Why is it a constraint?

The problem I am seeing here has been solved several times already by various auto faking packages.

[2015-04-28 15:19] blairconrad commented on #482
You'll hear no argument from me.

[2015-04-28 15:26] thomaslevesque commented on #482
Well, I thought it was a constraint, but not anymore. I'll probably use Autofixture instead.

Yes, and I suspect most of them solved it using the same ugly reflection hack that I used...

[2015-04-28 15:54] adamralph commented on #482
@thomaslevesque OK, thanks - if you need anything else here please feel free to re-open.

[2015-04-28 16:07] #480 closed

[2015-04-28 17:53] ploeh commented on #482
Yes, [pretty much](https://github.com/AutoFixture/AutoFixture/blob/master/Src/AutoFakeItEasy/FakeItEasyMethodQuery.cs#L47-L80) :sweat_smile:

[2015-05-04 18:08] TimLovellSmith opened #484 "Make FakeScope threadsafe"
![whattt](https://cloud.githubusercontent.com/assets/2711795/7458929/43b123e4-f24d-11e4-89ea-54eeb42efc71.png)

This is really confusing me. How can this be a failure - doesn't that mean the 1 call it got matches?
The code in question looks like:

[code]

FakeItEasy version 1.25.1. What I'm doing *different* from before is running tests in parallel... if I rerun this test on its own, it passes.

[2015-05-04 18:21] TimLovellSmith commented on #484
Ah, looks like this is issue #60. Sorry :)

[2015-05-04 18:52] blairconrad commented on #484
@TimLovellSmith, I completely believe that you're running afoul of #60, but are you sure that the code you're having problems with is

`var theCall = A.CallTo(() => fakeDns.GetCNameAync("busy123"));`?

I have only ever seen problems when we use `That.Matches` or `Ignored`, and I'd be very excited/sad to find out that the multiple threads are causing problems with other kinds of verifications.

(Al

[2015-05-04 18:56] blairconrad commented on #484
Oh, and if you're interested, you may want to take the nupkg from
http://teamcity.codebetter.com/viewLog.html?buildId=189740&tab=artifacts&buildTypeId=bt929#!132is1d

for a spin. It contains my proposed fix for #478, which is a facet of #60.

[2015-05-04 19:08] TimLovellSmith commented on #484
Yes, I'm completely sure that's the code I'm having problem with. I'll give your nupkg a spin and see if it helps, thanks!

[2015-05-04 19:28] TimLovellSmith commented on #484
So. I'm seeing less problems with the new nupkg, I think. But I'm still seeing some problems, and the problem basically seems to be that the fake call that *should* be configured did not actually get invoked. Here is some code to explain. I have this line of code:

StorageAndAffinityGroup sa = await AzureResourceManager.CreateStorageAccountInAnySubscription(scope, Pool, dep.Name, dep.Region, sugge

[2015-05-04 19:30] TimLovellSmith commented on #484
Maybe you can tell from my question - I am suspicious that the problem is FakeManager is not thread-safe.

[2015-05-04 21:21] TimLovellSmith commented on #484
reopened/renamed issue.

[2015-05-05 05:02] adamralph commented on #484
I reformatted the comments to use [fenced code blocks](https://help.github.com/articles/github-flavored-markdown/#fenced-code-blocks).

[2015-05-05 05:37] #476 closed

[2015-05-05 10:33] blairconrad commented on #484
@TimLovellSmith, thanks for the update. It may be that the `FakeManager` is not threadsafe, but there is one FakeManager per fake, so unless the fakes are shared between threads, I'd be surprised if that's what was causing the multi-threaded problem. Then again, it's been a little while since I looked at that specifically. I can take another peek soon.
In the meantime (and I'm not trying to get yo

[2015-05-05 15:51] TimLovellSmith commented on #484
So, this particular test is an async Task rather than void, and uses owin TestServer to 'send' a payload to a web api controller and receive a response. There's lots of asyncness, but I think there is no asyncness and only one thread while the test setup code and test assertion code is running.

In between the test setup and the test assertion, the code is very likely running in another thread/(s)

[2015-05-10 02:51] thomaslevesque commented on #56
I wrote a proof-of-concept analyzer to warn about unused call specifications (i.e. calls to `A.CallTo(...)` where the return value is not used). You can see it here: https://github.com/thomaslevesque/FakeItEasy/commit/5f0e97c0fc70cde06edf3e67484df1fc47806082

[2015-05-10 07:51] adamralph commented on #56
Great stuff! I think an analyzer package should be our strategy here.

On 03:51, Sun, 10 May 2015 Thomas Levesque <notifications@github.com> wrote:

[2015-05-10 15:01] thomaslevesque commented on #56
Yes, it's a good way to provide library-specific guidance. Unfortunately it doesn't help with the original problem that started this issue (R# "implicit capture" warning").

Should I open another issue to discuss other diagnostics that could be added to the analyzer package?

[2015-05-11 10:44] blairconrad commented on #56
@thomaslevesque, I think having a set of issues for an analyzer package sounds like a great idea. I say set of, because my preference would be to break the work into small pieces, e.g.:

1. make an analyzer package
2. have the package detect unused call specifications
3. diagnostic 2
4. diagnostic 3
   …

Thanks for putting your time into this.

[2015-05-11 12:43] thomaslevesque commented on #56
That makes sense, I'll create the issues when I have a bit of time.
Also, one thing to consider is that it will be necessary to migrate to VS2015 to be able to develop and use the analyzer... is this going to be problem?

[2015-05-11 13:57] blairconrad commented on #56
It may be a problem.
_I_ don't have 2015 yet, so that'll hamper my ability to work on the project. ;)

Really, we should have an issue for moving to VS2015 (and supporting 4.6?) first, and the "analyzer" issue should depend on that issue.

I don't often pay enough attention to the fancy new toys to know what's needed when. For example, I'm not even sure if we'll need to add 4.6 support, or if thin

[2015-05-11 14:26] thomaslevesque commented on #56
It should just work. It's an in-place update for .NET 4.5, and is backward compatible with existing code.

[2015-05-11 18:22] adamralph commented on #56
IMHO we definitely shouldn't require VS2015 until it's RTM.

In the meantime, we can create a VS2015 solution, e.g. `FakeItEasy.VS2015.sln` to include the analyzers package.

Agree on the proposed approach above with granular issues.

[2015-05-11 18:25] hmemcpy commented on #56
I'll add my 2c, FWIW the problem is the VS SDK dependency, everything else
are nuget packages.
So there isn't a direct reliance on it being VS2015 solution/project...

I hear there are SDK changes coming that will ship only as nuget packages,
no local installation needed.

On Mon, May 11, 2015 at 9:22 PM, Adam Ralph <notifications@github.com>
wrote:

[2015-05-11 18:28] adamralph commented on #56
Thanks @hmemcpy that makes a lot of sense.Let's hope it is the case.

[2015-05-18 09:37] thomaslevesque opened #488 "How to fake a call to a generic method that returns the generic type parameter?"
I have an interface like this:

    public interface IDispatcherService
    {
        void Invoke(Action action);
        T Invoke<T>(Func<T> func);
    }

Each unit test could fake the `Invoke<T>` method by specifying `T` explicitly, but in practice, the behavior of the fake will always be the same: just invoke `func` and return its result. So I'd like to create a `FakeConfigurator` for this inte

[2015-05-18 19:32] blairconrad commented on #488
Nothing comes to mind. On the other hand,

so how do you feel about

[code]

?

[2015-05-18 19:34] adamralph commented on #488
:+1:

[2015-05-18 19:37] blairconrad commented on #488
Sometimes I like the low-tech approach. In fact, unless there's a compelling need to assert that methods were called and whatnot, given this interface, I'd just make a concrete fake class and not even use FakeItEasy…

[2015-05-18 19:41] adamralph commented on #488
Yeah, good point.

[2015-05-18 20:00] thomaslevesque commented on #488
Yes, I ended up writing a fake class manually. This approach is fine, I was just wondering if I was missing something.

Thanks

[2015-05-18 20:00] #488 closed

[2015-05-19 01:10] blairconrad commented on #488
@thomaslevesque, I don't think so. DynamicProxy (as I understand it) doesn't have support for open generic types (or I assume, methods), and FakeItEasy doesn't provide any extra help. I've never tried providing support for these kinds of things, but I've  feeling there'd be hurdles both in the core of the library and in providing a nice API.

[2015-05-19 09:11] thomaslevesque opened #489 "Create a Roslyn analyzer package"
To provide diagnostics on usage of FakeItEasy in VS2015, as discussed in https://github.com/FakeItEasy/FakeItEasy/issues/56#issuecomment-100865677

[2015-05-19 09:16] thomaslevesque opened #490 "Diagnostic for unused call specification"
The analyzer should warn about unused call specifications.

A call to `A.CallTo(...)` (or to any other method of the fluent API used to specify the call) should always be followed by another call, or the result should be assigned to a variable. Otherwise, it means that the call specification is not used, which is almost certainly a mistake.

The diagnostic following shown for the following calls:

[2015-06-02 16:49] lijunle commented on #457
Well, I have a feature request, besides the showing the calling method name in the exception message, could you please showing the calling arguments? That information is so important and be much useful for user to debug.

Should I open another issue?

[2015-06-02 17:36] blairconrad commented on #457
@lijunle, yes, I'd definitely make that a separate issue, and we'd be happy to look at it.

[2015-06-03 02:01] jlouros opened #491 "Initialize exception 'FakeItEasy.Core.FakeScope' --> 'System.Core, Version=5.0.5.0 not found (Windows 10 Unit Test Project)"
HI there,

I am just playing around with a new Windows 10 application. For Win10 UnitTest project I was trying to use FakeItEasy to mock a particular object, when I get this exception every time I try to use it. (using version 2.0.0 Beta009)

	Test Name:	Initializer
	Test FullName:	MyWin10App.Tests.Workers.MyWin10AppWorkerTests.Initializer
	Test Source:	C:\Code\MyWin10App\MyWin10App.Tests\Workers\

[2015-06-03 03:15] lijunle opened #492 "Showing method call arguments in ExpectationException message"
Hi, FakeItEasy owner. Thanks for making such a great Framework.

I have a feature request for strict mode. When it fails on ExpectationException, besides showing the calling method name in the exception message, could you please showing the calling arguments?

That information is so important and much useful for debugging.

[2015-06-03 10:55] blairconrad commented on #492
Thanks for the issue @lijunle. Can you expand a bit, perhaps? What scenario are you encountering where just knowing that the method was called is not sufficient?
Do you have an example you can share?

[2015-06-03 11:07] blairconrad commented on #491
Hi, @jlouros. Thanks for raising this.

Does this mean you're able to fake other objects, or does this error occur any time FakeItEasy is used?

Unfortunately, I don't keep up with the bleeding edge technologies, so I may not be of much use. Your problem reminds me of the StackOverlow question [Winrt Testproject using FakeItEasy](http://stackoverflow.com/questions/25260457/winrt-testproject-using-

[2015-06-03 14:37] jlouros commented on #491
Hey @blairconrad. Thank you for the quick response.

I have seen this error every time I use FakeItEasy.

The StackOverflow question you mentioned, totally correlates with the problem I have seen. Currently, Windows 10 projects compilation generates a Portable Class Library targeting Windows 8.1, so if we can fix one, we can fix the other.

Meanwhile I will work on a project that replicates the is

[2015-06-03 17:47] lijunle commented on #492
Hi, @blairconrad . Thanks for your reply.

As said in [strict mode wiki page](https://github.com/FakeItEasy/FakeItEasy/wiki/Strict-Fakes):

I am use strict mode to ensure the call passing right arguments to the mocking method. If it does not, I get the message from ExpectationException and wrap it to Xunit exception to fail the test case. it works well, but the only problem is when the passing arg

[2015-06-03 17:53] blairconrad commented on #492
@lijunle, of course. Excellent example. I tend not to be a `Strict` user, so that hadn't occurred to me.

[2015-06-03 18:07] blairconrad commented on #491
Hm. Now I wonder if you need to go the effort of posting a project.
Given that Win10 is emitting PCL targeting Windows 8.1, I think https://github.com/FakeItEasy/FakeItEasy/issues/214#issuecomment-59406766 applies:

[2015-06-10 05:35] hshilling commented on #33
I also have been using this successfully in other projects and then ran into this.
I changed the code locally as below:

![fakeit](https://cloud.githubusercontent.com/assets/12824669/8075603/91ee949c-0f85-11e5-9ac3-8476f0c8b14f.png)

i.e., ignore interfaces for construction.

Below is the stack where it died (dies on try to create FakeItEasy.IDummyFactory):

 	mscorlib.dll!System.RuntimeType.Creat

[2015-06-10 11:42] blairconrad commented on #33
@hshilling, thanks for chiming in. I'm a little confused about the order of things. Can you help me make sure I understand correctly?

My understanding is that you'd been using FakeItEasy successfully in other projects, and then tried using it in a new project (solution?), where you encountered the "System.MissingMethodException occurred
  Message=Cannot create an instance of an interface." proble

[2015-06-10 19:44] hshilling commented on #33
Mostly right. I had been using fake it easy no probless in my first already existing solution with 50 plus projects under debug in vs2013 with first chance exceptions turned on. Then I added some tests to an already existing but different solution and got the problem. I imagine running the tests in this second solution without debugging encounters the same issue but the error is swallowed and the

[2015-06-10 21:02] hshilling commented on #33
Either way my tests seem to work as expected in this second solution with the guard in place. Maybe the stack trace I added will tell you something.

[2015-06-10 21:22] patrik-hagne opened #493 "Seo the NuGet-page"
@FakeItEasy/owners I just updated the title of the NuGet-package to get "mocking" and "faking" in there. Hope you don't disagree.

[2015-06-11 01:31] blairconrad commented on #33
Cool, @hshilling. Thanks for the extra info.
The stack trace was great, and certainly pinpointed the problem you were having.
FakeItEasy _always_ tries to create an `IDummyFactory`—it tries to create one of every type that implements `IDummyFactory`.
There's really no reason for it to though, and the indiscriminate catch usually hides the exception, but if you're breaking on first chance exception

[2015-06-11 01:36] blairconrad commented on #493
Looks good to me, @patrik-hagne. Your change just affects the current version, yes? (I'm still a NuGet newbie.)
We'll need also to update the .nuspec?

[2015-06-11 01:44] blairconrad opened #494 "CreateInstance called on abstract types"
As raised by @hshilling in https://github.com/FakeItEasy/FakeItEasy/issues/33#issuecomment-110595919, `TypeCatalogueInstanceProvider.InstantiateAllOfType<T>` attempts to instantiate found types (such as `IDummyDefinition`) without regard to whether the type is instantiable.
There's a blanket catch:

[code]

But in some cases, notably when debugging, the exception is killing the test runs.

While t

[2015-06-11 04:09] hshilling commented on #33
Ok thanks for that, will let you know if I notice any issues.
On 11/06/2015 11:31 am, "Blair Conrad" <notifications@github.com> wrote:

[2015-06-11 05:46] adamralph commented on #493
We already have mocking and faking in the description and the tags but I know that NuGet's search algorithm is rather... 'special'.

Generally I don't like it when the title of the package diverges from the ID, but in this case it is the ID followed by a suffix, and that I can live with.

[2015-06-11 10:29] blairconrad commented on #494
Sorry, should've said "as raised by @hshilling in https://github.com/FakeItEasy/FakeItEasy/issues/33#issuecomment-110595919".

[2015-06-12 10:27] #493 closed

[2015-06-13 12:04] #494 closed

[2015-06-13 12:06] adamralph commented on #494
@blairconrad

What is the effect on the test runs? I'm nitpicking, but I'm wondering if this is really a bug.

[2015-06-13 13:10] blairconrad commented on #494
@adamralph you, nitpick? Hard to fathom. :grin:

It is a fair question. To quote @hshilling, who can perhaps expand:

Certainly when "break on thrown exceptions" is turned on, the debugger breaks on the thrown exception, which is not catastrophic, but at least irritating.

I think that knowingly causing an exception to be thrown in this case, _even though we catch them_ is an error in logic. It's

[2015-06-24 06:46] #467 closed

[2015-06-24 11:02] blairconrad commented on #461
Now that #467 is closed, I'll prepare a PR for this. (I already have working code in the sandbox; I just have to update for the changes from #467's PR review.)

At this point, do any of the @FakeItEasy/owners have further comments on the [naming issue that @adamralph raised](https://github.com/FakeItEasy/FakeItEasy/issues/461#issuecomment-76746793)?

[2015-06-25 08:04] adamralph commented on #461
Speaking naively (code blind), the interface looks odd.

Huh?

[2015-06-25 09:33] blairconrad commented on #461
@adamralph, does that comment apply to both versions of the interface, or just the `AddOptions`? That is, do you find Priority/CanConfigure/AddOptions worse than Priority/CanConfigure/Configure, or is it that both are horrible?

The interface pattern, of

* can I do this work?
* am I better suited to doing the work than someone else? (measured via priority), and
* do the work

matches `IDummyFacto

[2015-06-25 09:55] blairconrad commented on #461
However things change, we're still faced with the problem of allowing users to give FakeItEasy some code that will affect the initial options of a new Fake. I do think that means the interface should include:

1. a discriminator
2. optionally a conflict-resolution mechanism in case discriminators match a type
3. the code that will affect the initial options

Perhaps I'm out to lunch. If there's a

[2015-06-25 10:00] adamralph commented on #461
I was in the middle of writing this in response to https://github.com/FakeItEasy/FakeItEasy/issues/461#issuecomment-115185544

I guess I'm referring to the general Priority/Can*DoSomething*/*DoSomething*.

`CanDoSomething` takes a `Type`, `DoSomething` takes a `IFakeOptionsBuilder`. Something seems off. `CanDoSomething` takes an object which describes an object type. Why does `DoSomething` take an

[2015-06-25 11:00] blairconrad commented on #461
@adamralph, I can't find the comment you referred to. I think I may have been a comment that I entered by accidentally ctrl-Entering while typing. I removed it within seconds, but maybe you were quick enough to see it?

I was off writing a long response, but I think your short questions home in on the point better than what I was going to say.

So we have a better reference, I've pushed my branch

[2015-06-25 22:55] TimLovellSmith opened #498 "Is SetOrderedFactoryAsCurrentAndGetResetter safe for parallel tests?"
(In the scenario of running test cases in parallel, that is.)

To me it looks not so, due to dependency on static field currentAsserterFactoryField but I might be missing some constraint on how it can be used in practice.

[2015-06-25 23:14] blairconrad commented on #498
@TimLovellSmith, I'm inclined to agree. From a quick eyeballing, there's a good chance it wouldn't work.
To tell you the truth, I've a sneaking suspicion that nothing `Scope`y will work.
Have you encountered any problems?

[2015-06-25 23:22] blairconrad commented on #461
If we ultimately settle on a shape for the interface, we might be able to simplify `FakeOptionsBuilderActionFactory` by recognizing that `FakeOptions` is an internal concept, and that the most granular thing a client ever sees is a `IFakeOptionsBuilder`. That _could_ be reframed to be an outward-facing "fake options" concept, which the client can manipulate.

[2015-06-25 23:41] TimLovellSmith commented on #498
No, I just noticed this while reviewing FakeItEasy code while having another look at issue #484 - which is still stumping me.

[2015-06-25 23:48] TimLovellSmith commented on #498
Aha, I might have figured out 484 now. Anyway this one is totally unimportant to me for now. Voting to postpone/close :dancer:

[2015-06-25 23:50] TimLovellSmith commented on #484
I think I figured out what makes the tests to fail..
I added some code like this in FakeScope.Create
public static IFakeScope Create(IFakeObjectContainer container)

            var result = new ChildScope(Current, container);
            Current = result;
            throw new Exception("blow up the world!");

And now basically the same set of tests fails with Exception("blow up the world!").

Th

[2015-06-26 00:02] blairconrad commented on #484
I edited your comment to improve the code/output formatting.

Ah. That was the key. Secretly using `Fake.CreateScope`. If only we'd had the helper code all along.
Yeah, I'd suspected that scopes would mess up parallel test execution, but they aren't documented and so I assume are infrequently used and I can't think of a way to fix them, so I hadn't jumped on the problem, in favour of concentrating

[2015-06-26 00:03] blairconrad commented on #498
Well, technically it was a question, and you seem content with what we've come up with, so I'm on board. Closing.

[2015-06-26 00:03] #498 closed

[2015-06-26 17:45] TimLovellSmith opened #500 "FakeItEasy - NullRef when using ArgumentValueFormatter concurrently"
I had a one off failure with xunit 2 which I think is a concurrency bug.

[code]

The only reason I can think of this can nullref, given the FakeItEasy source I compiled from is that it's a plain Dictionary<> being shared across threads without locking, since it appears `ArgumentFormatter` is a singleton.

Sending a PR for this soon!

[2015-06-26 18:08] blairconrad commented on #500
Edited the description to improve formatting.

[2015-06-26 21:37] TimLovellSmith opened #502 "IFakeCallProcessor.Process throws enumeratable collection modified (unthreadsafe tests)"
I had my tests fail an interesting way today that I initially wondered if it was a thread safety bug in FakeItEasy:

[code]

What happens is somehow the collection AllRules is modified during enumeration... by another test! (Since this test has no background work).

[code]

[code]

[code]

More precisely, AllUserRules must be being modified.
We can see that since this test depends on FakeScope, it

[2015-06-26 21:53] TimLovellSmith commented on #502
It might not be a dupe though. I still can't figure out why my workaround for #484 doesn't apply here:
the workaround - lock while using/disposing Fake.CreateScope()

            // lock: works around Fake.CreateScope not being thread-safe
            lock (fakeScopeLock)
            {
                using (Fake.CreateScope(dependencyResolver))
                {
                    Console.WriteL

[2015-06-26 23:26] blairconrad commented on #502
I reformatted the description and comment to use [fenced code blocks](https://help.github.com/articles/github-flavored-markdown/#fenced-code-blocks).

[2015-06-29 05:59] Zapbbx opened #504 "Just thought I's say, FakeItEasy rocks!!!"
Love this thing!!!

[2015-06-29 06:03] adamralph commented on #504
@Zapbbx thank you! Seeing the community enjoying the package is what makes it worthwhile :smile:

[2015-06-29 06:03] #504 closed

[2015-06-29 14:51] blairconrad commented on #502
@TimLovellSmith, thanks for raising this. I didn't have time to take a look on the weekend. My schedule has been quite full, and is likely to stay so for a little while.
Don't interpret slow/missing responses as an indication that we don't care about your problems and appreciate your contributions.

[2015-07-01 03:23] matkoch opened #505 "PureAttribute on A.CallTo()"
While pairing with @ulrichb today, we realized how annoying it is to forget about the `MustHaveHappened()` call all the time when you're asserting calls. One easy way to inform the developer about such a problem, is to put the JetBrains annotation `PureAttribute` onto the static method. This will underline the expression if it is not succeeded by an extension method.

Note that JetBrains annotatio

[2015-07-01 10:08] blairconrad commented on #505
Thanks for bringing this up, @matkoch.

At the risk of being a downer, several of the owners and other Friends of FakeItEasy had discussed this recently, and I believe the consensus was that `[Pure]` was not the preferred approach.
I'm thinking in particular of the conversation that surrounds https://github.com/FakeItEasy/FakeItEasy/issues/56#issuecomment-96144769.

Note that we do have an issue (

[2015-07-01 17:27] ulrichb commented on #56
@adamralph

The R# PureAttribute describes that a method has no side-effect (Doc comment: "Indicates that a method does not make any observable state changes").

Invoking `A.CallTo(...)` without following `.Invokes()/.MustHaveHappened()/...` has observable state changes?

[2015-07-01 20:12] adamralph commented on #56
@ulrichb I can't say for sure, but perhaps there is indeed no observable state change.

The problem with calling a method pure which does in fact change internal state is the safety of calling it pure is a function of the certainty of that assertion both in the present and the future. How sure are we that the state change is not observable? How sure are we that we can make the same guarantee as th

[2015-07-01 21:38] thomaslevesque commented on #56
It _does_ have an observable side effect. Consider this scenario:

[code]
[code]

So it's definitely not pure.

[2015-07-01 21:49] ulrichb commented on #56
@thomaslevesque
Good example!

But do we want this behavior? IMO this is pretty surprising. I would prefer the following fake setup in this example: `A.CallTo(() => foo.Dispose()).DoesNothing()`

[2015-07-01 22:19] blairconrad commented on #56
@thomaslevesque, as @ulrichb says, excellent example.
@ulrichb, I would argue that we don't want this behaviour, and I was a little surprised as well.

However, whether we want to change the behaviour of `A.CallTo` to remove the observable side effect or not (and I'm not inclined to expend effort on it, to tell you the truth), as @adamralph [says](https://github.com/FakeItEasy/FakeItEasy/issues/56

[2015-07-03 02:22] blairconrad commented on #461
The more I look at things, the more I think that what users see as "fake options builders" could really just be "fake options" to them. That would alleviate _some_ of the (external) naming pressure, not just in the discoverable interface we're talking about, but when using `A.Fake<T>(Action<IFakeOptionsBuilder<T>>)` too.

If that sounds reasonable, we could produce an interface for the discoverabl

[2015-07-04 08:40] winecraft opened #506 "how to Fake Icons"
Hi, I am trying to fake some of the **faking fontawesome or scalable vector icons**

[2015-07-04 11:00] blairconrad commented on #506
@winecraft, as always, we appreciate your interest.
But we don't understand the question.
I'm not even sure how icons could be faked or why you'd want to in a .Net application.
Can you expand on your question, please?

[2015-07-04 18:33] winecraft commented on #506
@adamralph - the icons are pieces of visual data. Similar to a lat/long that they represent some visual value.

For e.g. in a Grid/Table, we use them in a column along with the data values,  where each row is simply represented by some icon. Fortunately, since `fontawesome` is font and treated like text `class="fa fa-user"` or `class="fa fa-bank"` and not png, it would just be another piece of moc

[2015-07-04 20:58] blairconrad commented on #506
@winecraft, you're talking about [Font Awesome](http://fortawesome.github.io/Font-Awesome/), yes? The icon font and CSS toolkit?
FakeItEasy is an isolation (mocking) framework for .NET. It is not related to HTML, fonts, icons, or CSS in any way.

Unless you know a great deal more than I do about how FakeItEasy could possibly be used to fake an icon, I think you may be asking questions about the wr

[2015-07-08 10:13] blairconrad opened #507 "Drop support for Silverlight / Win8 / Win8.1"
Castle.Core may be dropping support for Silverlight soon (see castleproject/Core#100).
If this happens (and nobody's arguing against it as is), we have no way to support Silverlight.
Win8 and Win8.1 support relies on our SL5 DLL, so that would go too. (And 8.1 may not be functional anyhow.)

Shall we keep an eye on castleproject/Core#100 and, if it's accepted, drop Silverlight support in 2.0?
Or j

[2015-07-11 11:03] blairconrad commented on #506
The question makes no sense me, and @winecraft appears to have lost interest. Closing.

[2015-07-11 11:03] #506 closed

[2015-07-13 08:00] adamralph commented on #507
I vote for just dropping it in 2.0 regardless.

[2015-07-13 10:25] blairconrad commented on #507
Thanks.

[2015-07-15 11:12] blairconrad opened #508 "Configuring Stream.Read(byte[], int, int) does not work - complains of mismatched out/ref args"
From [Richard Lang's Stackoverflow Question "A.Fake<Stream>().Read(…) throwing InvalidOperationException"](http://stackoverflow.com/questions/31419162/a-fakestream-read-throwing-invalidoperationexception):

When running

[code]

The `fakeStream.Read`
throws a System.InvalidOperationException with the message:

I've reproduced, and started debugging, but do not yet know where we're going wrong.

[2015-07-15 11:22] blairconrad commented on #508
Update: I haven't seen the cause, and this is hasty, but FakeItEasy appears to think that we've supplied an our or ref value, but the faked method has no out or ref parameters (which it doesn't).
Seen while zipping in `BuildableCallRule.ApplyOutAndRefParametersValueProducer`. (I accidentally debugged too far, or I'd probably know how we got in that situation.)
Okay. Really going to the Day Job now

[2015-07-16 10:55] blairconrad commented on #508
Let's ignore everything I said in the last comment. In fact, I'll go strike it out.

I noticed that when we parsed the `() => fakeStream.Read(A<byte[]>.Ignored, A<int>.Ignored, A<int>.Ignored)`, in `ExpressionArgumentConstraintFactory.GetArgumentConstraint`, we ended up thinking that the first parameter was an `out` parameter.
The processing FakeItEasy does on the parameter is slim to none, so I b

[2015-07-17 01:51] blairconrad commented on #508
I believe the array in `Stream.Read` is decorated with `[Out]`, which makes `ParameterInfo.IsOut` true, so `ExpressionArgumentConstraintFactory.GetArgumentConstraint` makes an `OutArgumentConstraint`.

I broke this in #343 (f7db76a8b3d5b78c3d9cd9f56a37a56d9656bea7) when trying to fix #215.
The change first made it into release 1.23.0.

My (new) understanding is if `IsByRef` is true, then the param

[2015-07-17 01:56] blairconrad commented on #508
@FakeItEasy/owners, I think I can whip up a fix fairly quickly.
Do we think it's worth releasing a 1.25.3? My preference would be to wait until 2.0.0, but progress on that release has stalled, so I've no feeling for how much longer that will be.

[2015-07-17 02:08] blairconrad commented on #508
I am reconsidering my 2.0.0 comment. Forcing an upgrade to 2.0.0 in this case seems rude.

[2015-07-18 20:02] blairconrad opened #512 "1.25.3 release"
**Ready** when all other issues forming part of the release are **Done**.

- [x] run code analysis in VS in *Release* mode and address violations (send a regular PR which must be merged before continuing)
- [x] raise PR from hotfix branch to master (#516)
- [x] merge hotfix to master
- [x] if necessary, change `VERSION_SUFFIX` on [CI Server](http://teamcity.codebetter.com/admin/editBuildParams.htm

[2015-07-20 13:51] Maheshljadhav opened #514 "'Castle.Proxies.ObjectProxy_5' to type 'System.Web.HttpBrowserCapabilitiesBase'"
I have facing issue while Unit Testing Controllers as a whole in MVC 5.

I am testing AuthorizeAttribute for the view. Authorization process gets successfully completed. But when controller is returning view i am facing the issue as stated below.

[code]

------------------------------------------------------------------------------------------------------------------------------------------------

[2015-07-20 14:36] blairconrad commented on #514
@Maheshljadhav, thanks for your interest.

I reformattedthe issue description to use [fenced code blocks](https://help.github.com/articles/github-flavored-markdown/#fenced-code-blocks) for readability.

I know that many people have had trouble faking classes from ASP.NET MVC in the past.
It's big, inscrutable, and has many sealed bits and hidden dependencies.
I don't use the technology myself, so

[2015-07-21 09:59] Maheshljadhav commented on #514
thanks for your reply. But what i am trying to do here is that i want to test my Authorization attrubute. My view is decorated with my custom attribute for authentication purpose.

Following is code snippet for controller and view.

----------------------------------------------------------------------------------------------------------------------------------
 [ShutDown.Web.Authorization.Windows

[2015-07-21 11:03] blairconrad commented on #514
@Maheshljadhav, sorry Mr. Channon's approach didn't work for you. I'm a little confused, though. It appears to me (as someone who doesn't use MVC) that it would—you still have an `HttpContextBase` to interrogate at the end, just as he would've. Why couldn't you check the HTTP status code of the response?

I took a little time yesterday seeing if I could track through some of the MVC code to see wh

[2015-07-21 13:01] Maheshljadhav commented on #514
I am using MVC 5.2.3.0 for my project.
and following are assemblies in my project.

and following is configuration..

 <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </depend

[2015-07-21 13:45] blairconrad commented on #514
@Maheshljadhav, I updated your last comment using [fenced code blocks](https://help.github.com/articles/github-flavored-markdown/#fenced-code-blocks), since the XML configuration was stripped out without it (and it gives nice syntax highlighting, but that's a bonus).

I didn't see anything in the section "and following are assemblies in my project.", but the configuration probably gives a hint abo

[2015-07-21 14:37] Maheshljadhav commented on #514
Sorry for the XML notation.

I am putting my XML configuration again here.

&lt;assemblyBinding xmlns=&quot;urn:schemas-microsoft-com:asm.v1&quot;&gt;
&lt;dependentAssembly&gt;
&lt;assemblyIdentity name=&quot;Newtonsoft.Json&quot; culture=&quot;neutral&quot; publicKeyToken=&quot;30ad4fe6b2a6aeed&quot; /&gt;
&lt;bindingRedirect oldVersion=&quot;0.0.0.0-7.0.0.0&quot; newVersion=&quot;7.0.0.0&quot; /

[2015-07-23 12:01] Maheshljadhav commented on #514
I debugged the MVC open source code and and found that is throwing the error at finding the IEnumerable<IDisplayMode> possibleDisplayModes;  and iterating over the result in VirtualPathProviderViewEngine.cs .

ERROR LINE  NO. 212

 foreach (IDisplayMode displayMode in possibleDisplayModes) <-----Unable to cast object of type 'Castle.Proxies.ObjectProxy_5' to type 'System.Web.HttpBrowserCapabilitie

[2015-07-23 13:57] blairconrad commented on #514
@Maheshljadhav, interesting. Were you unable to step down the stack to
`System.Web.WebPages.BrowserHelpers.GetOverriddenBrowser(HttpContextBase httpContext, Func`2 createBrowser)`?

On [line 54](https://github.com/ASP-NET-MVC/aspnetwebstack/blob/4e40cdef9c8a8226685f95ef03b746bc8322aa92/src/System.Web.WebPages/BrowserHelpers.cs#L54), it's performing the failing cast:

[code]

Perhaps you can see th

[2015-07-23 17:45] #508 closed

[2015-07-23 17:50] adamralph commented on #512
I updated the checklist with regard to this being a hotfix release (based on https://github.com/FakeItEasy/FakeItEasy/issues/442).

[2015-07-23 18:10] blairconrad commented on #512
Oh, well done. Thanks for that. And for the merges!

I'll get on the release procedure as soon as I'm able.

[2015-07-23 21:49] #500 closed

[2015-07-24 09:43] Maheshljadhav commented on #514
I debugged MVC source code again and found that i was not able to step down the stack to

System.Web.WebPages.BrowserHelpers.GetOverriddenBrowser(HttpContextBase httpContext, Func2 createBrowser)`

Yes. i have created the the object of the browser.
  var browser = A.Fake<HttpBrowserCapabilitiesBase>();
  A.CallTo(() => httpContext.Request.Browser).Returns(browser);

One more thing to notify you th

[2015-07-24 10:14] blairconrad commented on #512
https://twitter.com/fakeiteasyfx/status/624522759427751937

NuGet #FakeItEasy 1.25.3:
https://www.nuget.org/packages/FakeItEasy/1.25.3 …

[2015-07-24 10:15] blairconrad commented on #512
This issue has been fixed in release 1.25.3.

https://www.nuget.org/packages/FakeItEasy/1.25.3
https://github.com/FakeItEasy/FakeItEasy/releases/tag/1.25.3

[2015-07-24 10:15] blairconrad commented on #508
This issue has been fixed in release 1.25.3.

https://www.nuget.org/packages/FakeItEasy/1.25.3
https://github.com/FakeItEasy/FakeItEasy/releases/tag/1.25.3

[2015-07-24 10:18] blairconrad commented on #512
@adamralph, I'm going to hold off on the merge to master until #503 is merged.
The branches are weird enough as it is.

[2015-07-24 13:14] adamralph commented on #512
@blairconrad ok, no problem.

[2015-07-24 20:31] adamralph commented on #512
@blairconrad I just noticed that the 1.25.3 release, and hence the tag, was created on the master branch (https://github.com/FakeItEasy/FakeItEasy/commit/1c064ef8c7e299123881a9dffdad3da368bd6ef6). It should have been on the hotfix/1.25 branch (https://github.com/FakeItEasy/FakeItEasy/commit/03347582e43619eddadfeeba81a637052ccc909a).

[2015-07-24 20:36] adamralph commented on #512
I fixed it by force pushing the tag onto https://github.com/FakeItEasy/FakeItEasy/commit/03347582e43619eddadfeeba81a637052ccc909a

[2015-07-25 00:11] blairconrad commented on #512
Oh, good idea. I wonder if I did something wrong, or it's just the way of GitHub. I don't recall that from earlier releases, though…

[2015-07-25 02:10] blairconrad commented on #512
Ah. I see. The `create_release` call creates the release based on the default branch unless told otherwise. It's probably reasonable to have it use the current branch instead.

[2015-07-25 02:13] blairconrad opened #515 "have create_milestone rake task create release on the current branch"
Right now, all releases will be created based on master.
This caused a problem when I created release 1.25.3  (#512).

If the [create_release](https://developer.github.com/v3/repos/releases/#create-a-release) command were told to use the current branch (`git rev-parse --abbrev-ref HEAD`) instead, we'd have a better chance of doing the right thing.

[2015-07-25 07:34] adamralph commented on #515
Sounds good.

[2015-07-26 09:08] #512 closed

[2015-07-26 20:38] blairconrad commented on #514
@Maheshljadhav, I threw together a quick test (well, took your test and implemented my own controller, and got entirely different results, probably because I don't know what I'm doing with MVC.
Or don't know what you're doing in the controller.

[2015-07-27 01:50] blairconrad commented on #502
@TimLovellSmith, you using Scopes here as you were in #484?

[2015-07-27 12:07] MrVermond opened #517 "Raise.With does not work properly in release mode"
Just try to execute this code in release and in debug mode. Debug works, release fails. Tried with FakeItEasy version 1.25.3

[code]

[2015-07-27 14:17] blairconrad commented on #517
@MrVermond, thanks for noting this.

I reformatted the issue description to use [fenced code blocks](https://help.github.com/articles/github-flavoured-markdown/#fenced-code-blocks) for readability.

i've been able to reproduce the problem with your code (except that I couldn't find `EventNames` and made up appropriate string literals instead). It's interesting. I'm not familiar

Out of curiosity,

[2015-07-27 14:22] MrVermond commented on #517
Oh damn, sorry for the EventNames.
Yes im currently working with the versoin 1.25.1, this is the same behavoir.
I didnt tried 1.25.0 though

[2015-07-27 14:29] blairconrad commented on #517
No worries about the names. 1.24.0 would be more interesting than 1.25.0…

I've just rewritten the test to not use `WeakEventManager` for the event-hooking up, and the test passed. I am not familiar with the semantics of the `WeakEventManager`, but fear that it's unhooking events from objects in the background, and wonder if in release mode it's behaving differently and we're having concurrency is

[2015-07-27 14:35] blairconrad commented on #517
@MrVermond, I just realized that _I'm_ using FakeItEasy 1.24.0. I should really update my test/play project. :blush:

So, at least we didn't introduce the problem in 1.25.0. Which I'm torn about. It's always nice to find a culprit, but I like what that change offers us (ability to omit `Now`).

[2015-07-27 18:24] blairconrad commented on #517
@MrVermond, it doesn't appear to be `Raise`. I sloppily rewrote the test so we could raise the events via a public method:

[code]

and got this failure:

[code]

This lead me to believe that the problem is that the runtime thinks we're done with some objects so we can start unhooking events.

Indeed, adding this line to the bottom either of my new test or your original test causes them to pass:

[2015-07-27 18:53] MrVermond commented on #517
Hmm sounds interesting. I will try this out in my productive code tomorrow and will write you the result. But it sounds very reasonable.

[2015-07-27 19:57] blairconrad commented on #517
Cool. Thanks. That's my goal: sounding very reasonable.

[2015-07-28 02:31] blairconrad commented on #461
Any comments on the proposed interface changes? Either to the extension point or exposing `IFakeOptions` instead of a fake options builder?

[2015-07-28 05:14] adamralph commented on #461
I've been trying to find the ~~courage~~ time to tackle your detailed analysis :stuck_out_tongue_closed_eyes:

Will try and do so today.

[2015-07-28 10:08] blairconrad commented on #461
Ha! Sorry. I hate to be a nag, but the psychic weight of the upcoming 2.0 release (I do _not_ want to do another hotfix) gets to me.
And sometimes I worry that the issues have been forgotten. But I know, everyone's busy. Don't put yourself out too much.

[2015-07-29 05:59] MrVermond commented on #517
Hey, your suggestion works fine. So it was really about the too early release of the instance. Thanks a lot for your investigation! I think we can close the issue then.

[2015-07-29 07:18] #517 closed

[2015-07-29 10:10] blairconrad commented on #517
@MrVermond, I'm glad to have been of assistance.

[2015-07-29 17:42] TimLovellSmith commented on #502
I found out the reason this is really happening is because while running tests multithreaded with xunit we are sharing static objects across threads, and we mocked out the static object with a fake - nothing to do with FakeScopes at all.

We should probably fix our tests not to do that :)

[2015-07-29 17:49] adamralph commented on #502
That's good to hear!

By "mocked out the static objects" I guess you mean you assigned a fake
object to a field of a static type?

Does this mean we can close this?

On 19:42, Wed, 29 Jul 2015 Tim Lovell-Smith <notifications@github.com>
wrote:

[2015-07-29 17:51] TimLovellSmith commented on #502
@adamralph Yup and yup!

object to a field of a static type?

[2015-07-29 18:00] blairconrad commented on #502
Thanks for following up, @TimLovellSmith.

[2015-07-29 18:00] #502 closed

[2015-07-29 22:40] RichardLangFromNZ opened #518 "Documentation page on Assertation could use some mention of scope"
https://github.com/FakeItEasy/FakeItEasy/wiki/Assertion

I'm using FakeItEasy 1.25.3 with NUnit 2.6.4 for testing c# code.  With no concept or awareness of the testing framework (if any) it is being used within, by default FakeItEasy works with a single common scope for the entire execution of a test suite, and MustHaveHappened()/ MustNotHaveHappened() will report usage for the entire suite execut

[2015-07-29 23:53] blairconrad commented on #518
Thanks, @RichardLangFromNZ. It's true that `FakeScope` is not well documented. In fact, I think a large number of people don't know about it at all.

I know very little about it myself and have, in about 2 years of FakeItEasy use, never created a `FakeScope` except in one case where I was converting an old test at my day job from using a different mocking framework to FakeItEasy. The test cared ab

[2015-07-30 00:49] RichardLangFromNZ commented on #518
Good point, I could/should rebuild my fake in the setup of each individual
test, rather than carrying it over.  Don't know why I didn't twig to that
in the first place.

thx

Richard.

On Thu, Jul 30, 2015 at 11:53 AM, Blair Conrad <notifications@github.com>
wrote:

[2015-07-30 01:52] blairconrad commented on #518
No worries. Sometimes it's easy to think of the fakes as special and shove it in the fixture setup or make it static or something.

You did bring up a good point about the lack of scope documentation. It's something that's been on my mind for a while, but I don't really understand them that well, think they're kind of an edge feature, and worry about their thread-safety (I think there isn't any),

[2015-07-30 01:53] blairconrad commented on #518
@RichardLangFromNZ Oh, while I'm here, welcome to GitHub!
From the look of things, you signed up just so you could make this issue. Thanks for caring!

[2015-07-30 02:00] blairconrad opened #519 "Document uses of FakeScope"
As @RichardLangFromNZ points out in #518, there's no real documentation for `FakeScope`, except for what's mentioned in the [Ordered Assertions documentation](https://github.com/FakeItEasy/FakeItEasy/wiki/Ordered-assertions).

We should probably explain the fake scopes, if anyone understands them.
I've a suspicion that they're not thread-safe at all, so that may be worth mentioning. Or we can proc

[2015-07-30 02:00] blairconrad commented on #518
@RichardLangFromNZ, you sound happy, so I'll close this issue (I made a more general "document FakeScope" issue as #519).
If you're not happy, please reopen and we'll see what we can do.

[2015-07-30 02:00] #518 closed

[2015-08-01 10:36] blairconrad opened #520 "Rename `IFakeOptionsBuilder` to `IFakeOptions`"
Extracted from https://github.com/FakeItEasy/FakeItEasy/issues/461#issuecomment-118212168, since

1. I think it's a good move anyhow, and
2. If we do this, it'll affect #461, and may simplify our discussion of that issue

----

The more I look at things, the more I think that what users see as "fake options builders" could really just be "fake options" to them. That would alleviate _some_ of the n

[2015-08-01 10:36] blairconrad commented on #461
@adamralph, a potential timesaver: when you come back, take a gander at #520, which I extracted from https://github.com/FakeItEasy/FakeItEasy/issues/461#issuecomment-118212168.
I think it's a good change for the API, and will make implementing the rest of this option easier.
**And** it's a much shorter read!

[2015-08-01 10:39] blairconrad commented on #520
I know when I first started using the `A.Fake<T>(Action<IFakeOptionsBuilder<T>>)` method, I found it a little confusing:

That kind of thing. At least the interface is fluent, so it's fairly easy to get where you're going once you get started.

[2015-08-01 12:03] adamralph commented on #520
Sounds fine to me. We'd definitely have to get rid of `FakeOptions`, not least because ∃ `FakeOptionsBuilder<T>.Options` and we certainly wouldn't want that to become `FakeOptions<T>.Options`.

We'd also need to rename `IFakeOptionsBuilderForWrappers<T>` to `IFakeOptionsForWrappers<T>`.

I'm also wondering we have this as a separate interface. There is only one implementation of `IFakeOptionsBuild

[2015-08-01 12:45] adamralph opened #521 "Introduce gaps between numbers in state labels"
One of the things I'm struggling with personally is to keep track of all the OSS projects I'm working on and the state of various issues within them.

I currently use huboard on almost of all of them, so for an individual project I can easily see anything in progress that I can help close out, but I can't see the this for all projects at once. However, huboard does have the ability to show multipl

[2015-08-01 12:45] adamralph commented on #521
@blairconrad any objection?

[2015-08-01 16:30] blairconrad commented on #521
@adamralph, it's not clear to me how you'll pick numbers for the various projects, or how the other projects will pick numbers so they'll all fit in nicely.
However, it won't hurt anyone working within a single project, and if it has a _chance_ of helping someone who likes an overview of multiple projects, why not?

[2015-08-01 16:33] #521 closed

[2015-08-01 22:01] blairconrad commented on #520
Agreed.

Already done!

I don't mind getting rid of an interface of two, but it may be tricky. You have the gist of it—for the fluent interface to work, we only want to expose `RecordedBy` when the previous method call on the options object is `Wrapping`, so I'd say we need to keep `IFakeOptionsForWrappers<T>`, and `FakeOptions<T>` can explicitly implement it.
Alternatively, we could change the wh

[2015-08-02 21:04] adamralph commented on #521
@blairconrad thanks. It doesn't *quite* work as I wanted since it seems that huboard does insist that every repo in the board has exactly the same state labels. However, what I can now do is query GitHub for all the projects I'm involved in where, for example, they have the label `200 - Working`, whereas before this would be `2 - Working` in some projects, `3 - Working` in others, etc.

For the nu

[2015-08-04 17:58] adamralph commented on #458
https://github.com/ursenzler/MSpec2xBehaveConverter /via @ursenzler

Just saying' :wink:

[2015-08-04 18:15] blairconrad commented on #458
Interesting. I'd rather save this kind of activity for post-2.0 release, but a tool sounds fun, and looks like it would give us a leg up.

[2015-08-04 19:08] blairconrad commented on #243
Since we're going to get rid of Silverlight in #507, there's no point in pursuing this.

[2015-08-04 19:08] #243 closed

[2015-08-04 19:32] adamralph commented on #243
:+1:

[2015-08-05 08:11] philippdolder commented on #458
appccelerate is migrating/ed as well :-)

[2015-08-08 01:20] blairconrad opened #523 "Stop throwing first chance exceptions when CreateInstance is called on generic extension point types"
Very much like #494, only with open generic types.
When we try to instantiate argument formatters, fake configurators, and dummy factories, we may try to instantiate an open generic type, causing a first chance exception.

For an example, see [Configure_should_be_null_guarded](https://github.com/FakeItEasy/FakeItEasy/blob/dbfc0289f2493ee10d0aaf325fdc8734307645b4/Source/FakeItEasy.Tests/Core/FakeCo

[2015-08-08 10:21] ursenzler commented on #458
If you need help with the migrator, let me know. It probably can be tweaked to better match your coding style.

[2015-08-08 12:09] adamralph commented on #458
@philippdolder the testing toolkit of champions :wink:

@ursenzler to help get us started, it would be really great if you could run your migrator against the FakeItEasy source and open a PR, even with just the raw results of the migration.

[2015-08-08 15:27] ursenzler commented on #458
I can do that for you.

[2015-08-08 23:49] matkoch commented on #458
I authored a new test framework called [TestFx](https://github.com/matkoch/TestFx). I just [ported some tests](https://gist.github.com/matkoch/79a8d5d5c4ea477673e9) from the `CreationSpecs` *and* from the `NullGuardedConstraintTests` (although it is a NUnit test - just for showcasing).

[2015-08-09 20:38] #507 closed

[2015-08-10 10:44] blairconrad opened #525 "Standardize extension points' Priority property values and policy"
Each of `IArgumentValueFormatter`, `IDummyFactory`, and `IFakeOptionsBuilder` has an integer `Priority` property that's used to choose the appropriate class when more than one such extension point applies to a particular argument/Dummy/Fake type.

The higher `Priority` wins.

`FakeConfigurator` and  `DummyFactory` return `0` as a default value, but `ArgumentValueFormatter` returns `int.MinValue`.

[2015-08-10 16:00] adamralph commented on #525
Sounds good to me!

For the concrete implementation values, the best possible future proofing would probably be to bisect the negative range, e.g. for 3 current implementations:

* `Impl1.Priority == int.MinValue * 1 / 4`
* `Impl2.Priority == int.MinValue * 2 / 4`
* `Impl3.Priority == int.MinValue * 3 / 4`

[2015-08-10 16:30] blairconrad commented on #525
I'm slightly confused. Or maybe think that the scheme is not needed.
It seems like you're interested in leaving space between the priorities, yes? I imagine any concrete implementations that we provide will not have conflicts with others, so the need for a fancy strategy is quite low. I think everything we have can just use `int.MinValue`.

[2015-08-10 16:59] adamralph commented on #525
Ah, I guess it wouldn't make sense for us to provide more than one since the higher prio would always win. In that case, yes, we can just use `int.MinValue`.

[2015-08-10 17:00] blairconrad commented on #525
Yeah. I just wanted to reserve all negative values because I'm greedy!

[2015-08-10 17:44] adamralph commented on #525
If we want to force everyone to use non-negative values, then should we make our priorities -1?

[2015-08-10 18:58] blairconrad commented on #525
Oh. Crafty. We can always adjust ours downward as we need to, but if they start using negative numbers they won't see their desired behaviour.
You're an evil genius!

[2015-08-10 20:21] adamralph commented on #525
:japanese_goblin:

[2015-08-12 07:40] ursenzler commented on #458
See pull request https://github.com/FakeItEasy/FakeItEasy/pull/528 for how it would like with my converter.

Let me know, whether I should convert the rest of the specs.

[2015-08-14 22:53] 9swampy commented on #361
Thank-you. It's taken a long time to make sense of using #30 but thanks to your last comment I got it to work with 2.0.0beta009 in a 4.5 project.

For:
public delegate void NewFrameEventHandler(object sender, NewFrameEventArgs eventArgs);
Exposed via:
event NewFrameEventHandler NewFrame;

Either of the following worked:
.NewFrame += Raise.With<NewFrameEventHandler>(new object[] { this, new NewFram

[2015-08-15 10:10] blairconrad commented on #361
@9swampy, I'm glad you were able to raise the events. Thanks for the feedback.

[2015-08-17 18:06] blairconrad opened #530 "say what the object is when A.CallTo complains "The specified object is not recognized as a fake object.”"
Inspired by @AlexAtNet's question

over at StackOverflow.

Why don't we say what the object is? It might help people out a bit.

taken by @jimmyheaddon

[2015-08-26 14:16] blairconrad commented on #519
As noted in #484, we've confirmed threadsafety issues in `FakeScope`s.

[2015-08-26 14:16] blairconrad commented on #484
The unthreadsafety of the scopes also caused problems in #528.

[2015-08-26 15:24] khellang opened #531 "Support .NET Platform Standard 1.6 (inc. .NET Core 1.0)"
I figured it's time to start this discussion :smile:

Here are some threads for reference:

https://github.com/castleproject/Core/issues/90
https://github.com/nsubstitute/NSubstitute/issues/192
https://github.com/Moq/moq4/issues/168

There's a PR pending for .NET Core support in Castle.Core at https://github.com/castleproject/Core/pull/92

[2015-08-28 10:21] alexjamesbrown opened #532 "Asserting properties of an anonymous object called by Fake"
Suppose I have a method that looks like this

[code]

I want to test that the `_restClient` was called with a given url, but more importantly, assert the anonymous object it was called with...

I've come up with the following, but it seems a bit clunky -

[code]

I used the `DynamicExtensions` class found here: http://blog.jorgef.net/2011/06/converting-any-object-to-dynamic.html

[code]
Just wonde

[2015-08-28 11:15] blairconrad commented on #532
There's no specific built-in support for anonymous types.
Of course, you could still just use the default equality assertions in your `A.CallTo`:

[code]

And omit `Assert.AreEqual(LatitudeAPIUrls.PhoneUrl, urlCalledWith)`.
That's a start. I tried working on something to help with the `objectCalledWith`, but you can't have a dynamic inside an expression, so I'm coming up short, and have to run to

[2015-08-28 14:11] alexjamesbrown commented on #532
Yeah, that was the issue I was having (can't have dynamic inside an expression) so this was the best I could come up with for the time being...

[2015-08-28 17:56] blairconrad commented on #532
Were I not at work, I'd try sucking out a lambda to examine the object. Which might work with the dynamic or maybe you could reflect over it?

[2015-08-29 10:14] blairconrad commented on #532
Ah, a predicate that reflects saves the day.

[code]

Of course, the error message on a mismatch isn't stellar in this case:

[code]

but one can work with it.

Alternatively, you could jazz this up with a description of the predicate:

[code]

yields

[code]

(Or just extract the predicate to a method:

[code]

[code]

[2015-09-08 14:16] dotnerdify opened #533 "An inherited interface member hidden by `new` with the same return type is not configured when the hiding member is configured"
One would expect that a fake where a property with a new modifier would result in the same underlining data.

Better explained through this code.

[code]

Unit test should pass.

[2015-09-08 16:33] thomaslevesque opened #534 "Stacking multiple results on the same call configuration instance doesn't work"
Sorry if the title is not clear, here's an example to illustrate the problem.

I expected the two following snippets to be equivalent:

[code]

But apparently they're not. With the first snippet, successive calls to `foo.Get()` return 100, 100, 42, 42, 42, 42 ... (as expected). But with the second snippet, successive calls to `foo.Get()` return 100, 100, 0, 0, 0, 0... The first `Returns()` is igno

[2015-09-08 20:05] blairconrad commented on #533
@dotnerdify, thanks for your interest. This is strikingly similar to StackOverflow question [FakeItEasy - problems with new modifier](http://stackoverflow.com/questions/32405776/fakeiteasy-problems-with-new-modifier).

I'm of the opinion that Yacoub Massad's answer is correct: the new `IDerived.Dependency` property is not the same as `IBase.Dependency`, so FakeItEasy is behaving properly.

The int

[2015-09-08 20:19] dotnerdify commented on #533
Yes, I'm the poster :-).

Well, if technically there's a way of making `IDerived.Dependency` property not the same as `IBase.Dependency` then I agree FakeItEasy should behave like this.

But if you implement IDerived, you can never cast it up to IBase and get access to a different refence, correct? Then why would FakeItEasy behave differently? I may be missing something though.

[2015-09-08 20:25] blairconrad commented on #534
@thomaslevesque I would've had the same expectation that you did!

[2015-09-08 20:37] thomaslevesque commented on #534
Looking at the code, I understand why it works that way. Each `A.CallTo(...)` creates a new rule for the fake, and each rule has only one return value configuration. So, specifying the return value again just overwrites the previous configuration. It kind of makes sense, but it's not very intuitive...

Perhaps it would be possible to extend the API to allow something like this:

    A.CallTo(() =>

[2015-09-10 02:10] blairconrad commented on #534
@thomaslevesque, It may be possible. I think it would be a little nicer to adjust things to support your original example, though, if that didn't break everything else…

[2015-09-10 07:31] thomaslevesque commented on #534
I agree, but I suspect it would be a pretty big undertaking, with high risk of regression... I'm not sure it's worth it.

[2015-09-10 10:42] blairconrad commented on #533
@dotnerdify, I see your point. After having read your [pastebin code](http://pastebin.com/qzRwC5NW) linked to from the answer comments, and doing some more thinking, I may be coming around a little.
If there's no way to distinguish from the outside between the two methods, then maybe FakeItEasy would be better to treat them the same.
Maybe there's no downside.

Of course, any solution would need t

[2015-09-13 12:02] hellboy81 opened #535 "Add link to gitter chat"
Project home readme should contain link to gitter chat room

[2015-09-13 16:29] blairconrad commented on #535
Thanks, @hellboy81. It's an interesting idea (although once you get to the readme, the gitter link would be obvious, for people who care).

@FakeItEasy/owners, we should perhaps decide which external "help" services we want to point to, including

* Jabbr
* Gitter
* StackOverflow

[2015-09-13 16:35] blairconrad commented on #535
I guess we would also want to re-evaluate the resources we point to on https://fakeiteasy.github.io

[2015-09-13 22:43] alexjamesbrown commented on #532
This worked much better than my example, thanks!

[2015-09-14 02:13] blairconrad commented on #532
Glad to hear it.
As I'm not sure what else FakeItEasy could do with anonymous types, should we consider the issue closed?

[2015-09-16 22:19] jimmyheaddon commented on #462
Anyone mind if I take this?  Seems like a relatively simple modification for my first contribution

[2015-09-16 23:25] blairconrad commented on #462
Hi, @jimmyheaddon.
Not at all. Thanks for the interest. I'll take a gander at the pull request as soon as I can.

[2015-09-17 08:09] jimmyheaddon commented on #530
@blairconrad are you thinking that we update DefaultFakeManagerAccessor.GetFakeManager() to improve the clarity of exception messages from multiple sources, or did you want this explicitly in RuleBuilder.ReturnsLazily()?

[2015-09-17 08:22] jimmyheaddon commented on #22
Having performed this configuration many times in the past, I'd highlight that ReSharper's concept of configuration layers means we'll struggle to create a lightweight configuration for the solution which adequately overrides all users machine level settings, not without some decent effort and testing.

It's not insurmountable by any means, but it's never easy to get the configuration spot-on when

[2015-09-17 08:37] jimmyheaddon commented on #399
Correct me if I'm wrong, but generally anything that relates to parsing or formatting strings, numbers or dates/times should use CurrentCulture, whereas anything relating to generating a textual representation of values, or persisting values in a well defined format, should use InvariantCulture.

Interestingly we have a StringExtension.FormatInvariant() method which is used 12 times.  OutputWriter

[2015-09-17 10:52] blairconrad commented on #530
@jimmyheaddon, not just for `ReturnsLazily`. It was a general comment, just inspired by @AlexAtNet's specific example. Thanks for asking!

[2015-09-17 11:53] blairconrad commented on #399
@jimmyheaddon I don't understand the difference between "parsing or formatting strings" and "anything relating to generating a textual representation of values". My general feeling is that InvariantCulture is for computers to read and write with, and CurrentCulture is for humans.
I think you're right about `OutputWriterExtensions.Write`.
(Although I secretly think that for the data that we display

[2015-09-17 20:21] blairconrad opened #537 "support build on MSBuild v14-only machines?"
Per https://github.com/FakeItEasy/FakeItEasy/pull/536#issuecomment-141205040.
As a convenience to contributors, should the rakefile fall back to MSBuild version 14 when there's no version 12?

In theory the newer tools should be able to build the older projects just fine, no?

[2015-09-17 21:00] jimmyheaddon commented on #492
@blairconrad - is this in the same ballpark to my other two pull requests, where we've added contextual information to exception messages?  If @lijunle can provide a working example I'd be happy to see if there's a simple solution?

[2015-09-17 21:13] jimmyheaddon commented on #414
Is this not a case of adding the ```[SecurityCritical]``` attribute on the ```CastleDynamicProxyGenerator.GenerateProxy()``` method?  ```ProxyGenerationOptions``` is ```ISerializable``` and internally calling ```GetObjectData()``` when adding attributes will likely cause this exception to be thrown.

MSDN reference can be found [here](https://msdn.microsoft.com/en-us/library/dd233102.aspx), scroll

[2015-09-18 01:48] blairconrad commented on #492
@jimmyheaddon, I haven't looked deeply into it, but probably similar. It may not be providing an exception message directly, but providing a failure message which FakeItEasy will build into an exception.

I think the site that's not performing how @lijunle would like is `FakeOptionsBuilderExtensions.Strict`.
The `CallWriter` may be a help. May.

[2015-09-18 08:07] jimmyheaddon commented on #537
:+1:

[2015-09-18 12:06] blairconrad commented on #414
@jimmyheaddon, that looks like it. Nicely done.
I must confess, I've never worried about any of this sort of thing before, so I have two questions/problems.

1. there must be a way to test this out without releasing a NuGet package of unknown quality. Perhaps the people behind 'dotnetfiddle at entechsolutions.com' ([via](NuGet Packages Compatibility)) would have a more convenient alternative, and

[2015-09-18 12:20] blairconrad commented on #414
Unfortunately, I wrote the dotnetfiddle people in December and got no response. I can try again.

[2015-09-18 12:31] blairconrad commented on #414
I've done so.

[2015-09-18 16:51] jimmyheaddon commented on #535
@blairconrad, what communication platform do you guys generally use?  Gitter/Jabbr would've saved some of the to-and-through we had with pull request comments this week :smile:

[2015-09-18 17:28] blairconrad commented on #535
@jimmyheaddon, before I showed up, Jabbr was the big winner, and that's probably the primary one, although there's some Gitter chat as well.
The problem with Jabbr (as I see it) is that I never get notified when there's chat there, so invariable show up 2 days later and say something to someone who dropped in.

[2015-09-20 13:17] adamralph commented on #399
Ultimately I think we need to review every use of each and decide if it's appropriate. It may indeed turn out that everything is OK as is and if so, I'll just have to apologise for wasting people's time :stuck_out_tongue:

[2015-09-20 13:33] adamralph commented on #537
:+1: I'd probably go 14 first, falling back to 12.

[2015-09-20 13:40] adamralph commented on #535
I'm happy to switch to Gitter as our official chat solution.There's less friction since it uses GitHub for auth and the rooms are naturally aligned with GitHub orgs and repos and the notifications are really good.

[2015-09-20 14:26] adamralph commented on #361
So do we actually have to do anything? Or will 2.0 just do this already?

[2015-09-20 14:42] blairconrad commented on #399
Your comments are never a waste of time. If nothing else, checking will assuage our doubts.

[2015-09-20 14:44] blairconrad commented on #537
Sure. I'm easy.

[2015-09-20 15:49] blairconrad commented on #361
I'll give it a whirl soonish and get back to you, @adamralph.

[2015-09-21 02:03] blairconrad commented on #361
@adamralph, the 2.0 betas do not do what we want.

If there were a delegate defined, and the event defined in terms of the delegate, we could raise the event, just as with any delegate-defined event, by using this syntax:

[code]

If we omit the `<DoesNotExtendEventHandler>`, nothing compiles because `DoesNotExtendEventArgs` isn't convertible to `EventArgs`.

Removing the restriction on `Raise` th

[2015-09-21 08:45] PureKrome commented on #535
:( re Gitter as offical :(

[2015-09-21 09:21] PureKrome opened #539 "Simplify the syntax for Setup and Verifying with some new syntactic sugar"
Hi team,

:heart: FiE :) Been using it for ages :)

Just thought I might try a weee little discussion about something which myself and a few other peeps sorta have a tiny gripe re: FiE. For the record, this discussion is based upon our experience from using moq, ages ago before switching.

- The syntax for setup and verify can sometimes be a little awkward.
- The verify (`MustHave..`, `MustNotHave

[2015-09-21 10:39] adamralph commented on #535
@PureKrome we'll still look at JabbR :wink:

So the gitter link is on the website now, do we still want to link it in the readme?

[2015-09-21 10:45] blairconrad commented on #535
Thanks for the merge, @adamralph.
I chafe at duplicating information, but it may help people a little.
Another option would be in the docs. After I typed that I checked, and we point at Jabbr in the wiki's Home page.
I can change to Gitter (and do we want to add StackOverflow there or on the website) or remove.

[2015-09-21 10:51] adamralph commented on #535
Since we have a website, how about we centralise everything there?

* README.md -> logo and basic marketing spiel with 'Find out more' link pointing to website
* Website-> portal for everything, linking to source, docs and chat
* Wiki -> Docs only, with link to 'Get more help' link pointing to website

[2015-09-21 10:56] blairconrad commented on #535
Can do. Stay tuned.

[2015-09-21 11:04] blairconrad commented on #535
* Submitted #540 to fix README.md.
* Updated wiki: https://github.com/FakeItEasy/FakeItEasy/wiki
* website looked okay, I thought

[2015-09-21 19:04] blairconrad commented on #535
New plan. #540 has been abandoned and we'll update the chat link in the README and add the quickstart link to the website.

* web site change: FakeItEasy/fakeiteasy.github.io#21
* README: #541

[2015-09-21 20:25] #535 closed

[2015-09-21 21:14] jimmyheaddon commented on #414
I'm not particularly familiar with dotnetfiddle, hopefully they can suggest a mechanism which doesn't require release packages!

[2015-09-21 23:52] blairconrad commented on #414
I'm not overly familiar either. It looked cool when I first heard of it and then didn't work with FakeItEasy and then… other events intruded.

[2015-09-21 23:53] blairconrad commented on #414
(Or maybe I should've said FakeItEasy didn't work with it!)

[2015-09-22 22:10] #532 closed

[2015-09-23 11:10] blairconrad commented on #539
@PureKrome, we'r'e glad you enjoy FakeItEasy. Thanks!
Most of the time when I see requests of this sort, I'm initially against them. Just as I am with any features.
So I took a few days to go away and think about things and come back and reread this issue.

I wish I could say that my feelings have changed from my initial reaction, but they haven't.

Regarding shortening the verify, I don't even kn

[2015-09-23 11:47] GraemeBradbury commented on #60
To add to this. We've started seeing an issue where calls to faked methods are returning Dummies even though setups have been done.
eg: `A.CallTo(...).Return(...)` are being ignored.

Current instances seen have always been setups in xBehave `[Background]` steps so not yet sure if it's a FakeItEasy issue or a xBehave one.

[2015-09-23 12:04] adamralph commented on #60
@GraemeBradbury I'd hazard a guess that it's almost certainly a FakeItEasy problem. xBehave 2.0 is well isolated in terms of thread safety.

[2015-09-23 12:08] blairconrad commented on #60
@GraemeBradbury this is with xBehave 2.0, yes?
Which version of FakeItEasy? Have you a small sample you can share?

[2015-09-23 12:19] GraemeBradbury commented on #60
Nuget Package versions:
xBehave 2.0.0
xUnit 2.0.0
FakeItEasy 1.25.3

I'm trying to create a minimum example test. The tests that exhibit the problem are all integration tests (faking out the file system). Will update as soon as I have something.

[2015-09-23 13:39] PureKrome commented on #539
A.CallTo( () => userRepo.GetUser(1)).MustHaveHappened(ExactlyOnce);. What is ExactlyOnce in here?

It's the exact equiv of `MustHaveHappened(Repeated.Exactly.Once);`

I wasn't suggesting taking away the above line/syntax, just offering a shorter and simpler version to the same thing. Especially when it comes to intellisence and quick typing. For example, I would type

- `dot`
- `M`
- `H`
- `H`
- `

[2015-09-23 14:18] blairconrad commented on #60
Ah. The FakeItEasy 2.0 betas definitely have some threadsafety improvements.
If your problems go away when all tests are run single-threaded under 1.25.3, I'd be inclined to move on to how they behave under the latest 2.0.
Speaking for myself, I've no interest in making 1.x.y threadsafer…

[2015-09-23 14:29] adamralph commented on #60
:+1: for for giving it a try with `[assembly:Xunit.CollectionBehavior(MaxParallelThreads = 1)]`

[2015-09-24 19:54] blairconrad opened #544 "make spec members static and re-enable rule CA1822"
From https://github.com/FakeItEasy/FakeItEasy/pull/542#discussion_r40284574.

[2015-09-24 19:57] #458 closed

[2015-09-24 20:46] adamralph opened #545 "Switch from NUnit to xUnit.net"
Now that the specs have switched from mspec to xBehave.net, it probably makes sense to convert the rest of the tests from NUnit to xUnit.net so that we're using a single underlying test framework for all. Given that xUnit.net also has .NET core support in the works, it would also ease the passage to solving #531.

Note that this may also solve #231.

[2015-09-24 23:25] blairconrad commented on #545
I'm not sure what "solve da097217cf6bd2470442314cfab6ac2cb34e2f2a" means. That's a commit.

[2015-09-24 23:26] blairconrad commented on #545
Also,  how do you feel about holding off on this until after 2.0? :grinning:

[2015-09-25 05:59] adamralph commented on #545
Oops! I meant to say "solve #231". Fixed.

No urgency around this at all. Can definitely wait until after 2.0.

[2015-09-28 13:41] adamralph commented on #489
Perhaps useful: https://www.microsoftvirtualacademy.com/en-us/training-courses/building-roslynbased-analyzers-and-diagnostics-12596

[2015-09-28 13:59] blairconrad commented on #534
I've thought a little more about this.
I'm not sure that the behaviour is actually that bad. It's maybe a bit surprising, but is defensible.
In your original example:

[code]

We have a `A.CallTo(() => foo.Get())` whose results we manipulate by saying `.Returns(42)`.
Then we have `A.CallTo(() => foo.Get())` again. This returns (it's not unreasonable to assume) a new object, potentially unrelated t

[2015-09-28 14:13] blairconrad commented on #539
`A.CallTo( () => userRepo.GetUser(1)).MustHaveHappened(ExactlyOnce);`. What is ExactlyOnce in here?

But `Repeated.Exactly.Once` is a member on a static member on the
`Repeated` class. I'm not sure how to make an `ExactlyOnce` that will
satisfy the compiler. But maybe I shouldn't argue implementation when
I'm still not on board with the overall idea...

Understood.

May I suggest a plugin that sup

[2015-09-28 16:02] breischl opened #547 "ArgumentException in ChildScope.OnAddInterceptedCall()"
I am sometimes getting the following exception in some of my tests. The test has multiple concurrent `Task`s calling into the same faked method, and the error occurs intermittently and unpredictably, which leads me to suspect that it may be a concurrency issue.

Given that the error is in `Dictionary`, and that the `ChildScope` class [does not appear to have any locking around its Dictionaries](ht

[2015-09-28 19:36] blairconrad commented on #547
@breischl. I bet you're right. We know that scopes aren't particularly threadsafe, as mentioned in #484.
But the area you pointed out looks like a real problem!

[2015-09-28 23:41] PureKrome commented on #539
Thanks for your time Blair.

[2015-09-28 23:41] #539 closed

[2015-09-29 01:37] blairconrad commented on #539
Thank you, @PureKrome! I appreciate your interest, and the ideas, which I think could be useful, but perhaps not as broadly as we'd need for inclusion.
Believe it or not, I don't _enjoy_ being "Dr. No".

[2015-09-30 10:10] blairconrad commented on #461
I'll eventually come back to this once #529 and #536 are resolved, but thought I'd get some feedback on a different direction I'd like to take for the interface.
Once we have renamed `IFakeOptionsBuilder` to `IFakeOptions`, all of a sudden the concept of an options builder is available to us. It _may_ be a little confusing to people who were used to working with `IFakeOptionsBuilder`s, but I doubt

[2015-10-04 18:43] hmemcpy commented on #90
(2 years later)

Because I can't resist :)

Coming soon...

![image](https://cloud.githubusercontent.com/assets/601206/10269263/566b45b8-6ada-11e5-84fa-ca5fbf79868e.png)

![image](https://cloud.githubusercontent.com/assets/601206/10269265/5e4c723e-6ada-11e5-9328-a9a6e2510e1f.png)

![image](https://cloud.githubusercontent.com/assets/601206/10269444/e62e4e92-6ae0-11e5-970c-d02df729f06c.png)

[2015-10-04 18:45] adamralph commented on #90
Did you manage to work out how to do it as an extension?

[2015-10-04 18:45] hmemcpy commented on #90
@adamralph nope, needed a few changes inside FIE :(

[2015-10-04 18:46] hmemcpy commented on #90
@adamralph I mean, it's probably possible to hook up externally, I'd still need to expose a few things. But I'm just hacking at the moment...

[2015-10-04 23:35] thomaslevesque commented on #534
Yes, I agree this interpretation makes sense as well, but it's a little counter-intuitive... Anyway, I don't think it's a big enough problem to justify the large refactoring that would be required to fix it.

[2015-10-06 01:00] blairconrad commented on #462
Fixed by #536.

[2015-10-06 01:00] #462 closed

[2015-10-06 01:05] blairconrad commented on #462
@jimmyheaddon, we often thank people on Twitter and add them to a "contributors" list.
Based on your GitHub handle and avatar you're using here (which I'm taking as a hint to your geographical location), I think I know who you are there.
Am I right?
Do you mind?

In related news, thanks for your hard work.
Look for your name in the release notes! :trophy:

[2015-10-06 08:33] jimmyheaddon commented on #462
@blairconrad feel free, I think I'm the only person of my namesake on Twitter and LinkedIn :smile:

Hopefully the next PR won't be such hard work for you guys, now I have a better understanding how you work!

[2015-10-06 09:00] adamralph commented on #462
@jimmyheaddon on the contrary, it's always a pleasure to help get a new contributor on board.

[2015-10-06 09:45] blairconrad commented on #462
Ditto. It's been a delight, @jimmyheaddon.

[2015-10-06 21:38] jimmyheaddon commented on #414
@blairconrad did you hear anything back on this?

[2015-10-06 22:10] jimmyheaddon commented on #22
This is a much wider point on static analysis, but I suggest we split this issue up:

**StyleCop**
1. Update the StyleCop.MSBuild NuGet package and fix the outstanding StyleCop violations
2. Review the use of StyleCop suppressions in code (if applicable)
3. Discuss the enforcement of StyleCop (using 'Treat warnings as errors' in .csproj files)

**ReSharper**
1. Create the FakeItEasy.sln.DotSetting

[2015-10-06 22:25] jimmyheaddon commented on #492
@blairconrad would this be eligible for 2.0 if we can get something in for this?

ExpectationException's are thrown from 3 sites:
[code]

Are we talking about updating only the latter of the 3 calls (and possibly the spelling/grammatical mistake in ```OrderedFakeAsserter ``` on line 71 - *"The calls* **where** *found but not in the correct order among the calls:"*)?

The use of ```CallWriter``` ma

[2015-10-06 23:40] blairconrad commented on #414
Ah. Good of you to ask, @jimmyheaddon. Radio silence.
I gotta say, I'm losing enthusiasm for the whole endeavour…

[2015-10-07 00:19] blairconrad commented on #492
@jimmyheaddon, I believe that only the strict calls suffer from the problem. When we assert ordered calls and fail, I'm seeing the arguments spewed, using a modified version of the example in [the docs](https://github.com/FakeItEasy/FakeItEasy/wiki/Ordered-assertions). Have you seen different, either for ordered assertions or non-ordered normal assertions?

[code]

I like the idea of fixing the sp

[2015-10-07 00:35] blairconrad commented on #492
Oh, I didn't address your question about eligibility for 2.0.
Certainly it would be.  I wouldn't turn down community-supplied improvements. And there's no hard date for 2.0.
That being said, I wouldn't consider it a high priority. Me, I'd prefer to focus on the last few breaking changes that we want to put in 2.0 in (we're following Semantic Versioning, you see, so we want to squeeze as much break

[2015-10-07 08:54] adamralph commented on #22
@jimmyheaddon thanks for chiming in. As you suggest we should split these up. This issue can be the "Resharper" part of your comment. The other bits can be other issues/PR's.

[2015-10-11 18:32] RafaelPlantard opened #550 "Support UWP?"
The fake it easy supports the universal windows platform (UAP) Windows 10?

[2015-10-12 12:26] blairconrad commented on #550
I must admit, I am not 100% on top of the latest Windows platform developments, but is this not about the same as asking when FakeItEasy will support .NET Core?
That issue has already been opened as #531.

[2015-10-12 14:36] adamralph commented on #550
I honestly have no idea. Just when I think I'm starting to get it by reading things like https://oren.codes/2015/06/16/demystifying-pcls-net-core-dnx-and-uwp-redux/ another curve ball comes along like https://oren.codes/2015/08/29/uwp-nuget-package-dependencies/

I'm lost.

[2015-10-12 14:53] adamralph commented on #550
See https://twitter.com/adamralph/status/653581339661348864

This is indeed a duplicate of #351

[2015-10-12 14:53] #550 closed

[2015-10-12 16:31] blairconrad commented on #550
@adamralph, I'm going to edit your comment to say "duplicate of #531".

[2015-10-12 16:32] blairconrad commented on #550
And thanks for the research!

[2015-10-12 20:29] adamralph commented on #531
As soon as Castle.Core support the dotnet TFN I'm happy to do this.

[2015-10-14 08:31] apacha commented on #60
Is there a roadmap when Version 2 will be released? We are looking forward to the support of parallel test-execution because our Jenkins is constantly turning red because of FakeItEasy, although we have tried to configure thread-safety during creation of the fake object, we now get race-conditions during `A.CallTo(...).MustHaveHappened()` - assertions because of parallel test-execution.

[2015-10-14 10:25] blairconrad commented on #60
@apacha, we have no dates set. Since we work on FakeItEasy in our spare time, and have outside interests, it's nearly impossible to predict. The other answer is "as soon as we can", as we'd enjoy publishing the changes that we have and then resuming our regular cycle of frequent small releases.

I am surprised your tests are running in parallel, and have commented on your [StackOverflow question](

[2015-10-14 11:48] apacha commented on #60
Thanks for the fast response. We will try 2.0.0-beta010 to see if this resolves our issues.

[2015-10-14 12:27] blairconrad commented on #60
:+1: @apacha. I'd be keen to hear how it works out for you.

[2015-10-15 13:09] apacha commented on #60
I've tried 2.0.0-beta010 today and ran our test-suite (approx. 800 tests) about ten times with the newer version of FakeItEasy. My impression is that we get fewer race-conditions during creation and assertion, but they still persist ("Enumeration was changed" exceptions and A.CallTo()-assertion that were lost). We will investigate further how the tests are running on the Jenkins.

[2015-10-15 13:26] blairconrad commented on #60
Very peculiar. I'd be happy to help take a look at whatever portions of the tests and code you can share, once you've a little more of a handle on what's going wrong.

[2015-10-20 12:19] cohoda commented on #477
Was there any update on this?
I'm having the same issue

Even when I do:

	_fakeDbContext = A.Fake<PortalServicesDataContext>();

	var fakeDbSet = A.Fake<DbSet<PortalUser>>(options => options.Implements(typeof(IQueryable<PortalUser>)));
	A.CallTo(() => ((IQueryable<PortalUser>)fakeDbSet).Provider).Returns(users.Provider);

	A.CallTo(() => _fakeDbContext.Users)
	    .Returns(fakeDbSet);

.. I still

[2015-10-20 12:20] alexjamesbrown commented on #477
Was there any update on this?
I'm having the same issue

Even when I do:

	_fakeDbContext = A.Fake<PortalServicesDataContext>();

	var fakeDbSet = A.Fake<DbSet<PortalUser>>(options => options.Implements(typeof(IQueryable<PortalUser>)));
	A.CallTo(() => ((IQueryable<PortalUser>)fakeDbSet).Provider).Returns(users.Provider);

	A.CallTo(() => _fakeDbContext.Users)
	    .Returns(fakeDbSet);

.. I still

[2015-10-20 12:21] blairconrad commented on #477
Hi, @alexjamesbrown. Nope. It was discovered on 7 April 2015, and nobody's been interested until now.

[2015-10-20 12:22] alexjamesbrown commented on #477
Damn :(

Does my syntax above look right? I can't even get the workaround working!

[2015-10-20 12:26] blairconrad commented on #477
Just eyeballing it, I don't see a problem…

[2015-10-20 12:27] alexjamesbrown commented on #477
Ok, thanks.
This test is getting `[Ignore]` for now then!

[2015-10-20 13:19] blairconrad commented on #477
@alexjamesbrown

Something odd is going on. I grabbed your code and made minimal changes so it would compile and got a passing "test", not that we test much at this point, but:

[code]

Now I'm using... FakeItEasy 2.0.0-beta007, but I doubt this is that version-specific.

Maybe you can see a substantive difference between our tests?

[2015-10-21 16:16] TimLovellSmith opened #556 "A.CallTo is not side-effect free - can interfere with the usual default behaviour of a faked method"
Probably this topic has come up before but...

We're using FakeItEasy 2.0.0-beta009 and I am noticing a horrible pattern in our test code.
Unlike methods which return void that just silently finish by default, methods returning Task will return null by default and blow up if awaited.
Would there be a downside of having Fakes return a completed Task by default if the method return type is `Task` (a

[2015-10-21 16:59] adamralph commented on #556
Hi @TimLovellSmith

Fake methods have returned a completed task by default since 0.13 - see https://github.com/FakeItEasy/FakeItEasy/issues/129

Can you show an example which is not displaying this behaviour?

[2015-10-21 17:03] TimLovellSmith commented on #556
Oh. :D
I just discovered the same by writing a unit test. I have some code to clean up!

[2015-10-21 17:56] blairconrad commented on #556
Ah. I thought the confusion might've been between `Task` and `Task<T>` - @TimLovellSmith's original comment referenced both but without backticks, so they both looked like "Task".
Glad it's been resolved.

[2015-10-21 17:58] blairconrad commented on #556
While I'm fixing things (no change is too small!) corrected https://github.com/FakeItEasy/FakeItEasy/issues/556#issuecomment-149961907 to indicate the "completed Task" behaviour was added in 1.13, not 0.13 (which I think wasn't a thing).

[2015-10-21 18:42] adamralph commented on #556
Oops, thanks :wink:

[2015-10-21 20:46] TimLovellSmith commented on #556
So... actually reopening as this needs deeper digging. Fake *does* sometimes return a completed Task by default... and it also sometimes does *not*.

Here is a case where it seems to work:

        [Test]
        public void Should_return_completed_task_for_task_method()
        {
            // Arrange
            var fake = A.Fake<IFoo>();
            // Act
            Task t = fake.BarAsync();

[2015-10-21 21:24] adamralph commented on #556
[code]

is an incomplete statement and achieves nothing. It should be followed by

[code]

Incidentally I'm not sure why you are using this pattern of assigning the call to a variable and then adding a return value to it? Why not just

[code]

[2015-10-21 21:52] TimLovellSmith commented on #556
@adamralph It is so that we can write theCall.MustHaveHappened(); as an assertion at the end

[2015-10-21 22:16] adamralph commented on #556
OK, fair enough. I almost never have the need to verify a call so I tend to forget about that.

But still, in the example you've given, you are not setting up a return value so the reference to the call is way too early, i.e. it should happen only in the assertion.

[code]

[2015-10-21 22:51] TimLovellSmith commented on #556
Great that there's a workaround.
But should doing A.CallTo() without any return value configuration actually mess with the return value behavior? It gets kind of inconvenient if you have to move the code around when you switch it from having a return value to not having one but still having an assertion.

[2015-10-22 00:00] blairconrad commented on #556
I see both points. The intent of FakeItEasy's API, as I understand it, is to provide a nice, fluent interface.
Assigning the result of `A.CallTo` circumvents that.
On the other hand, I've done it a number of times when I've had to configure a method and also wanted to verify a call. It's quite convenient.
On the gripping hand, I've never done it when I haven't been both configuring and verifying a

[2015-10-22 00:18] blairconrad commented on #556
If we do attempt alter the behaviour of a naked `A.CallTo`, we might consider #534 as well, which highlights that if the result of `A.CallTo` is saved away and configuration specified upon it more than once, the behaviours don't stack up, but rather override.
The issues may be addressable independently (assuming we want to address either or both), but good to keep them both in mind.

[2015-10-22 03:03] blairconrad commented on #534
The more I think about this, I'm wondering if the best course isn't to detect and disallow setting conflicting behaviour on a given call configuration instance.

[2015-10-22 11:45] thomaslevesque commented on #534
Yes, that's probably the safest way to handle it. I think it would be pretty easy to do. Maybe I'll give it a try in the next few days.

[2015-10-22 14:33] adamralph commented on #534
:+1:

[2015-10-22 14:35] adamralph commented on #556
And the current behaviour violates the Principle of Least Astonishment. I think it's preferable for A.CallTo(()=>…) to have no side effect.

:+1:

I'm inclined to rename this issue to describe the generic problem (that invoking A.CallTo can interfere with the usual default behaviour of a faked method—it's not really a Task-related problem), argue for a few days over whether fixing it is an enhance

[2015-10-22 14:49] blairconrad commented on #556
Sure, but I think these are separable.
I mean they _could_ be fixed at the same time, but I bet the changes would be different enough that we'd have separate commits that could as happily live in separate PRs. But I'm just guessing.

[2015-10-23 00:16] thomaslevesque commented on #534
@blairconrad @adamralph, I submitted a PR for this change. I handled this in the `BuildableCallRule.Applicator` setter, since apparently all methods that define method behavior end up setting this property. Not sure it was the best way to do it; waiting for your comments.

[2015-10-23 00:46] blairconrad commented on #534
Thanks, @thomaslevesque. We appreciate it. I'll make sure to take a look by the weekend's end.

[2015-10-25 21:54] thomaslevesque commented on #534
Continuing the discussion from the pull request

Do you mean tests in the FakeItEasy.Specs project? I can add them if needed. I'm not familiar with Xbehave, but there are enough examples to get me going.

Ah, forgot to check the error list... I will fix the warnings.

Why is it a problem? As far as I can tell, they're the only methods that define the behavior for a rule. Well, there's also Invoke,

[2015-10-25 22:00] thomaslevesque commented on #534
Actually I can't find a spec where Returns and Throws are tested... Should I create a new Specs class ?

[2015-10-25 22:48] thomaslevesque commented on #534
I added a few scenarios in ConfigurationSpecs. Not sure if it's the right place to put them, or if they're correctly implemented...

[2015-10-25 23:26] blairconrad commented on #534
@thomaslevesque, I'm back a little.

In no particular order:

Yes, ConfigurationSpecs seems a good place. I'm not a BDD/XBehave expert (yet), but am working on it!

As you point out, `Invokes` does allow the user to specify multiple actions.
Which can be explained away, but some users may be confused about why they are allowed to specify multiple `Invokes`es, when everything else is locked down to

[2015-10-26 00:15] blairconrad commented on #534
My mistake. `Invokes` doesn't provide access to `Once()`.
I'm constantly learning things about FakeItEasy!

[2015-10-26 00:44] thomaslevesque commented on #534
Good point. The code explicitly supports specifying multiple actions with `Invokes` (it maintains a list of actions), but IMO it makes no sense (you can put everything in the same action). Ideally I think the ability to do that should be removed, but it would be a breaking change...

Yes, didn't think about that one. I'll see if I can handle `AssignsOutAndRefParameters` as well.

[2015-10-26 01:06] blairconrad commented on #534
I sort of feel the same way. I wouldn't really want to remove functionality without a good reason, I'm not sure of the benefit. And if order of operations becomes important (I hope it wouldn't, but people write different code. I once met a fella who tried to use `Returns` on the same configuration object! :stuck_out_tongue_winking_eye: ), then these `Invokes` are about the only thing in FakeItEasy

[2015-10-27 00:50] thomaslevesque commented on #534
I updated the code to use `Record.Exception`, and prevent multiple calls to `AssignsOutAndRefParameters`. I also updated the exception message. Not sure it's clearer, but at least it doesn't mention the rule anymore.

[2015-11-03 11:17] blairconrad commented on #525
It occurs to me that we could programmatically force externally-implemented extension points to use non-negative priorities by throwing whenever we encounter an offending factory/options builder/formatter. I do like the idea of backing up our "reserved for FakeItEasy" tough talk.

[2015-11-10 14:15] alexjamesbrown commented on #477
sorry for delay - in this example, `provider` always appears to be null?

[2015-11-10 14:57] blairconrad commented on #477
It does. From your sample, I didn't know what `users.Provider` (or even `users` was, so I made the `provider` variable just to get things compiling. You suspect that's why my test worked? I'm happy to change to something else, if you've any guidance.

[2015-11-10 15:18] alexjamesbrown commented on #477
I just have my users setup like:

            var users = new[]
            {
                new PortalUser
                {
                    Id = "abc123",
                    Email = "testing@123.com",
                }
            }.AsQueryable();

then I do this:

            A.CallTo(() => ((IQueryable<PortalUser>)fakeDbSet).Provider).Returns(users.Provider);

[2015-11-10 15:45] blairconrad commented on #477
I've incorporated that, and get a green test:

[code]

Perhaps you could include more information around the exception you're getting, such as the full stack trace?
And maybe more of your test code? I'm a little thrown because the message "Test doubles for 'DbSet`1' must provide implementations of methods and properties that are used." does not appear one of FakeItEasy's.

[2015-11-12 13:32] thomaslevesque commented on #469
Actually, it wouldn't be that easy. `A.CallTo` takes an expression, and FIE analyzes that expression to recognize `A<T>.Ignored` or `A<T>._`. Just making another method that returns `A<T>.Ignored` won't work, because it won't be recognized by FIE when it analyzes the expression. This is the same reason why this doesn't work:

[code]

I think it would be a good thing to make `A<T>.Ignored` throw an

[2015-11-12 13:42] thomaslevesque opened #559 "Make A<T>.Ignored throw an exception when it is invoked"
I know, that sounds crazy... but it's not ;)

`A<T>.Ignored` (or its shortcut `A<T>._`) is used in call specifications to denote that any value of this argument should be a match. If you have long type names (e.g. `IEnumerable<CustomerInvoiceDetailLine>` or something like that), it can be tempting to do this:

[code]

However, this doesn't work, because FIE analyzes the expression in `A.CallTo` to

[2015-11-12 14:03] blairconrad commented on #469
YES! Excellent point, @thomaslevesque. How embarrassing.

I've not performed an analysis, but it sounds right to me.
The now-private `Now` [works the same way](https://github.com/FakeItEasy/FakeItEasy/blob/bd57a05c0de5ff37609230fd1b8bc4ec45bc9d4d/Source/FakeItEasy/Core/Raise.of.TEventArgs.cs#L72).

[2015-11-12 14:09] blairconrad commented on #559
Not crazy at all. I've not analyzed,but this sounds like a great idea  to me, @thomaslevesque.
The now-private `Now` [works the same way](https://github.com/FakeItEasy/FakeItEasy/blob/bd57a05c0de5ff37609230fd1b8bc4ec45bc9d4d/Source/FakeItEasy/Core/Raise.of.TEventArgs.cs#L72).

[2015-11-12 14:20] blairconrad commented on #469
@thomaslevesque has raised #559 to cover exception-throwing from `Ignored`.

[2015-11-12 15:01] blairconrad commented on #559
@thomaslevesque, I may have been hasty. And maybe I'm being hasty now, but you said

But really `Ignored` looks like this:

[code]

So the code is executed, but we rely on it being executed within the context of the `A.CallTo`, as that's when we capture the [event raised by `Matches`](https://github.com/FakeItEasy/FakeItEasy/blob/bd57a05c0de5ff37609230fd1b8bc4ec45bc9d4d/Source/FakeItEasy/Core/Defa

[2015-11-12 15:18] thomaslevesque commented on #559
OK, it seems it might be a bit more complex than I thought...

[2015-11-12 15:33] thomaslevesque commented on #559
I thought it could be detected in `ArgumentConstraintTrap.ReportTrappedConstraint`, but apparently there are valid scenarios where `trappedConstraints` is null (two tests fail if I throw an exception when it's null)

[2015-11-12 16:04] blairconrad commented on #559
Oh, novel approach. Now I'm curious about which tests.
Don't do this to me while I'm at work!

[2015-11-12 20:45] blairconrad commented on #559
@thomaslevesque, I took a quick peek (thanks to slow compiles), and I suspect the failing tests may not be ones that need to keep working as is. That is, they may be performing the equivalent action of "saving away an `A<T>.Ignored` for later use" for no real reason.

I also wonder if we couldn't make it possible to save away the constraint for later use by adding an implicit conversion operator t

[2015-11-13 00:01] thomaslevesque commented on #559
I'm looking at `ExpressionArgumentConstraintFactoryTests.Should_get_aggregate_constraint_when_multiple_items_are_passed_to_parameters_array`, and I don't really understand what's going on... At one point we end up calling `ReportTrappedConstraint`, but not from within `TrapConstraints`, so `trappedConstraints` is null. Not sure what this means, or what this test is supposed to do.

If we can just

[2015-11-13 03:02] blairconrad commented on #559
Yeah. I was looking at that too. Ultimately, it appears to be checking that when multiple constraint items are passed in the expression, we parse them properly and get one "aggregate constraint" - just a constraint that embodies all the little ones.
The way that we make these calls in the unit tests may not reflect legitimate usage.

Since I think we only want to use Ignored when specifying constr

[2015-11-13 03:15] blairconrad commented on #559
Aha. @thomaslevesque , I believe `CallMatchingSpecs.ParameterArrays` covers the functionality that `ExpressionArgumentConstraintFactoryTests.Should_get_aggregate_constraint_when_multiple_items_are_passed_to_parameters_array` cares about.
Toodles.

[2015-11-13 15:02] blairconrad commented on #559
I tried it. And of course it didn't work, because we can't add an implicit cast operator that casts to an interface.

[2015-11-13 15:34] alexjamesbrown commented on #477
Sorry, I must have fat-fingered something, it's working now

I think I had a second collection I wasn't setting up correctly.
I also used EntityFramework.Testing.FakeItEasy - https://github.com/mgibas/EntityFramework.Testing.FakeItEasy

This makes it much easier to test what i was trying to test.

Thanks for your help

[2015-11-13 17:54] thomaslevesque commented on #559
So, what do you think? Should we just drop those tests to allow the new behavior?

[2015-11-13 18:17] blairconrad commented on #477
@alexjamesbrown, glad to have been some small help. Good luck!

[2015-11-14 12:26] blairconrad commented on #559
I think that's appropriate for `Should_get_aggregate_constraint_when_multiple_items_are_passed_to_parameters_array`. Its functionality is clearly covered elsewhere.

I'm slightly nervous about `Should_not_fail_when_reporting_trapped_constraint_outside_call_to_trap_constraints`. It was explicitly written to ensure that the change you propose would not work. That being said, I can't see why this beh

[2015-11-17 09:50] patrik-hagne commented on #559
@blairconrad I can't remember why that test is explicit about not failing. Could it have anything to do with NextCall.To...?

[2015-11-17 11:13] blairconrad commented on #559
Oh, excellent point, @patrik-hagne. We'll check that out. Thanks!

[2015-11-17 11:28] blairconrad commented on #556
While we're at it, we should take a gander at `NextCall.To`.

[2015-11-17 11:42] blairconrad commented on #559
@patrik-hagne, I think it does not have anything to do with `NextCall.To`, or at least it doesn't as the code is in master right now.
`NextCall.To` either takes a custom matcher via `WhenArgumentsMatch(Func<ArgumentCollection, bool> argumentsPredicate)`, or it relies on equality matching the arguments supplied in the next call.
In either case, there's no active argument trap, and the event raised

[2015-11-19 14:29] HenrikPoulsen opened #560 "Make unconfigured methods that return type Lazy<T> and Task<T> behave more like methods that return T"
Version: 1.25.3
So I noticed today when I tried this framework for the first time that it hangs when the code calls a method with the signature:
`Task<QueueDescription> CreateQueueAsync(string queueName);`
Checking the output I can see:
[code]

After wasting some time on it the problem seems to be because QueueDescription has an internal constructor, and for some reason FakeItEasy is trying to ins

[2015-11-20 01:36] blairconrad commented on #560
Hi, @HenrikPoulsen. Thanks for writing.

I'm a little surprised that the call hangs (but then again I don't use `await` very often, so we may just be hitting a hole in my knowledge, something that happens all too frequently). I will take a look.
In the meantime, I _can_ shed some light on one comment you made

This is by design. FakeItEasy's default behaviour for `Task<T>` return types is to retur

[2015-11-20 02:48] blairconrad commented on #560
Since `QueueDescription` does not have an accessible constructor, FakeItEasy can't make a Dummy of it. So it falls back on other, non-Task-specific, strategies to make a Dummy `Task<QueueDescription>`. These involve trying to create a Fake `Task<QueueDescription>`, which ultimately succeeds, but this requires FakeItEasy to try to find an acceptable `Task<QueueDescription>` constructor, [of which t

[2015-11-20 08:38] HenrikPoulsen commented on #560
Assuming this works:
`ClassWithInternalConstructor BreakIt();`
Without the Task, then I would say the expected behaviour would be that it should work with the Task as well.
In a world where every unit test is perfect and all code is written according to S.O.L.I.D there would be no issue with manually faking every single call you want faked in the method you are testing, since there would be so few

[2015-11-20 12:00] blairconrad commented on #560
Hi, @HenrikPoulsen. In no particular order:

I'm not really sure how this influences the matter at hand. Are you saying that your codebase has many calls to methods that return `Task<ClassWithInternalConstructor>` and faking the return values in each case is inconvenient? I sympathize with your pain. While we look for a resolution for this issue, you could ease your pain by using an [IDummyDefinit

[2015-11-20 14:11] HenrikPoulsen commented on #560
I guess I was a bit vague, and misunderstood some things in your initial responses.
When I mentioned I expected it to return null, I should of course have indicated that I meant a Task.FromResult<ClassWithInternalConstructor>(null); when for some reason it cannot instantiate a dummy for it.

Also when you said

I Interpreted that as "By design. Wont fix", which is what most of my response was tryi

[2015-11-20 14:26] blairconrad commented on #560
Sir.

A reasonable interpretation, as that was the direction I was leaning. I was rushing a little when I typed that out (never a good idea), and probably should've reworded. And also been clear that even when I think that things should work a certain way, I'm always open to being convinced. Your response did a much better job of that than the initial post.

And one of my big goals of my initial r

[2015-11-20 14:33] blairconrad commented on #560
@FakeItEasy/owners, I think @HenrikPoulsen has identified a good improvement for our built-in `Lazy` and `Task` Dummy creation. Any objections to the proposed fix?

@HenrikPoulsen, if there are no objections to the proposed improvement, is this something you're interested in working on?

[2015-11-23 20:16] adamralph commented on #560
Do I understand correctly:

* When a fake method returns a reference type `T` which has an internal constructor only, it returns `null`
* When a fake method returns `Task<T>` (with `T` as above), it blows up with these exceptions?

[2015-11-23 20:31] blairconrad commented on #560
1. Yes.
2. Almost? When we return the Dummy `Task<T>`, it's actually an unconfigured Fake, which presents as a not-completed Task (because IsCompleted returns false) so the `await` hangs. All the exceptions listed occur because FakeItEasy is trying out base constructors to make a fake `Task`. But FakeItEasy catches each exception, rejects that constructor and just moves on to the next, before ulti

[2015-11-23 20:45] blairconrad commented on #560
… so @HenrikPoulsen is proposing that the Dummy Task instead be completed, and created with the same Result we would've gotten had we called an analogous non-Tasky method.

[2015-11-24 13:38] adamralph commented on #560
Oh dear...

I agree with the proposal.

[2015-11-24 18:29] blairconrad commented on #560
Marking as up-for-grabs, as altering the behaviour of `ResolveByCreatingTaskStrategy` and `ResolveByCreatingLazyStrategy` to return a `Type.GetDefaultValue`
when `TryResolveDummyValue` fails shouldn't be too onerous.

[2015-11-30 10:12] timvanderweijde opened #562 "FakeItEasy failed assertion with randomly <ignored> param (and there is a match in the calls)"
I'm trying to implement a unit test with a methodcall assertion. (MustHaveHappened)

I'm using the following code:

[code]

But I get randomly a failed test, whereby some arguments are mentioned as "ignored". However, the assertion is with exact parameters.

Error:

    Assertion failed for the following call:
        AlfaProNext.Repositories.Settings.ISettingsRepository.GetUserSetting(1, <Ignored

[2015-11-30 11:04] blairconrad commented on #562
@timvanderweijde, can you tell me what version of XUnit and FakeItEasy you're using?

Without seeing more, I fear that you're using XUnit 2.0, which runs tests in parallel, and a FakeItEasy earlier than 2.0.0-beta009.
That release included a fix for #476, a bug where argument matching was not threadsafe.
If my guesses about the versions are right, consider upgrading. Or running the tests in a sing

[2015-11-30 11:07] timvanderweijde commented on #562
hi @blairconrad,

You are right, we are using XUnit. I will try the latest FakeItEasy beta to resolve this.

Thanks for the fast response!

Regards, Tim

[2015-11-30 11:24] blairconrad commented on #562
@timvanderweijde, cool.

I look forward to hearing how it goes. Keep in mind there are some technically breaking changes in 2.0, but we have worked to minimize them.
If in doubt, consult the [list of all changes so far in 2.0](https://github.com/FakeItEasy/FakeItEasy/wiki/Changes-in-version-2.0). And/or ask us!

[2015-11-30 11:27] timvanderweijde commented on #562
@blairconrad

Every looks great now! Thanks again!

[2015-11-30 11:27] #562 closed

[2015-11-30 11:29] blairconrad commented on #562
Gee. That was quick. Great. In the meantime, I put essentially the same answer in the StackOverflow question, on faith.

Happy FakeItEasying!

[2015-11-30 11:32] timvanderweijde commented on #562
haha I was doing the same thing in StackOverflow. :-) Better then no answer I suppose. ;-)

[2015-12-02 10:34] jamiehumphries commented on #433
I have added the Issue Stats badges. Are all of the others wanted?

- Build/TeamCity CodeBetter
- Downloads/NuGet
- Version/NuGet
- Miscellaneous/GitHub Issues
- Miscellaneous/GitHub forks
- Miscellaneous/GitHub stars

[2015-12-02 11:32] blairconrad commented on #433
Thanks, @jamiehumphries. The PR looks good to me.

Me, I'd prefer to skip all the GitHub ones—the info is right there on the page with the README).
I'm on the fence about the TeamCity badge—why even entertain the possibility of having a failing build? But I guess it _happens_.

How about two lines of buttons:

[Version/NuGet] [Downloads/NuGet]
[PRs Closed in] [ Issues Closed in] [Build/TeamCity Co

[2015-12-02 12:05] jamiehumphries commented on #433
@blairconrad, I have added the extra badges that you suggest.

Unfortunately, if just using the standard Markdown for badges something slightly odd is happening with the image alignment if there are two rows of badges:

![image](https://cloud.githubusercontent.com/assets/3533273/11530448/99f34b6a-98ec-11e5-8ef5-9785fd2e0fb4.png)

I think it looks fine in one line, but it's your call:
![image](http

[2015-12-02 15:10] blairconrad commented on #433
@jamiehumphries
That's odd. I stole your text and put it in [my own branch](https://github.com/blairconrad/FakeItEasy/tree/f96f558afd18224401cba0be603dc47097a386f9) and got this:

![image](https://cloud.githubusercontent.com/assets/3275797/11534430/bac60a72-98dc-11e5-803b-d1aa51b9a5ce.png)

Do you see the same thing I do?

[2015-12-03 05:30] blairconrad commented on #433
But I think you're right, @jamiehumphries, all on one line looks good. I worried that it would introduce wrapping problems, but it doesn't.

[2015-12-03 05:31] #433 closed

[2015-12-03 10:07] odyth commented on #33
Tonight I started getting the same error and didn't see a fix in this thread so I just decided to delete everything and re-clone my project.  I then reran my unit test and it passed no issues.  I then went into debug > exceptions to turn on some of the exceptions that my app throws that i like seeing when debugging.  I was being lazy so i just checked all like in the screenshot.
![image](https://c

[2015-12-03 12:39] blairconrad commented on #33
@odyth, thanks for that report. It's very interesting.
Can you tell me what version of FakeItEasy you're using? I don't suppose you can do that again and include a stack trace?
I'll try to replicate your procedure as well and see what I can learn.

[2015-12-03 13:10] blairconrad commented on #33
Just breaking on all CLR exceptions didn't make a difference for me. Perhaps there's something specific to your calls or environment.

[2015-12-03 13:10] blairconrad commented on #433
Thanks, @jamiehumphries. I'm enjoying the new README!

[2015-12-03 13:34] jamiehumphries commented on #433
Thanks @blairconrad. FWIW, it turns out that the image alignment is different for me from browser to browser weirdly. If I look at the branch you linked in Chrome it looks misaligned, but it actually looks fine in Firefox or Edge. Weird!

Either way, not a problem if it's all on one line :smile:

[2015-12-03 14:25] blairconrad commented on #433
That's super weird, since I took my screenshot using Chrome.
Regardless, thanks for your work!

[2015-12-03 15:39] adamralph commented on #433
:+1: nice work guys!

[2015-12-04 02:09] blairconrad commented on #433
Ha. Thanks, @adamralph, but it was all @jamiehumphries. All I did was hit the "looks good" button. Which it did.

[2015-12-08 09:17] adamralph commented on #545
Note that this can be done bit by bit, a PR for a test here, another PR for a test there, etc.

One thing that will be required before converting the first test from NUnit to xUnit.net is the introduction of a second pass at executing each test DLL in the rakefile, using the xUnit.net console. I.e. each test DLL will need two passes, one with NUnit console and one with xUnit.net console.

[2015-12-08 09:24] mat-mcloughlin commented on #545
That sounds fine to me. Happy to pick up the rake file, also happy to start shifting some across If you like.

Also would you want to move to using fluent assertions as well?

[2015-12-08 09:25] adamralph commented on #545
@mat-mcloughlin that would be awesome.

Yeah, for each test you touch, you may as well switch to FA too, that's generally been our policy. Thanks!

[2015-12-08 09:26] mat-mcloughlin commented on #545
np, I feel the need to pick up something as this to payback for the fact I haven't contributed to an OSS in months :D

[2015-12-08 12:55] blairconrad commented on #545
In order to head off PR comments from the future, how do we feel about having 2 commits per changed file: one for the NUnit Asserts→FluentAssertions (if necessary, many won't be), and one for NUnit→xUnit conversion? It may make things a little easier to read.

[2015-12-08 13:44] adamralph commented on #545
:+1: to separating the commits

[2015-12-09 19:08] blairconrad commented on #545
@mat-mcloughlin, I'm inclined to remove the **up-for-grabs** label and mark it as **taken** by you.
Suits?

[2015-12-09 19:51] mat-mcloughlin commented on #545
sure. planning to start hitting some of theme tomorrow morning

[2015-12-09 20:02] blairconrad commented on #545
Thanks, sir!

[2015-12-10 23:06] mat-mcloughlin commented on #545
Started moving over to fluent. I'll break it into two separate commits as you say. One for moving to fluent and one for moving to xunit.

Want me to set up a PR now or leave it until complete?

https://github.com/mat-mcloughlin/FakeItEasy/commit/9c74353de6047f35f876174c4cc225a75bf6949f

[2015-12-10 23:06] mat-mcloughlin commented on #545
You have a lot of tests :)

[2015-12-11 02:17] blairconrad commented on #545
@mat-mcloughlin, thanks for the work!
I've made some early bonus comments on your commit (perhaps premature, your xUnit changes were probably not headed for the PR anyhow), in case you're interested.

Regarding the PR, whatever's easiest for you. If you don't care either way, why not set it up? If you push or repush to the branch, I can take a look as things spill in. It may help streamline the pr

[2015-12-11 08:30] mat-mcloughlin commented on #545
thanks for the comment, I'll set up the PR.

Yeah the xunit changes snook in there, I was going to remove them before it got to the PR :). Regarding that though, `v2.1` requires `dotnet4.5` and the project is currently at `dotnet4.0` afaik

[2015-12-11 12:45] blairconrad commented on #545
@mat-mcloughlin you're right about `dotnet4.0` of course. My initial reaction was "switch it to 4.5".

But that's going to be tricky for the .Net 3.5 tests, which will pull in two copies of `Tuple` and `Zip`.
Also, there's a ripple effect when changing the Tests project to 4.5: many of the other projects depend on it, such as the examples and integration tests.
We could explore untangling the proj

[2015-12-13 03:18] blairconrad commented on #545
It seems to me that all the test projects could be switched to 4.5, save the .NET 3.5 one.

I'm not sure what to do about the duplicate `System.Tuple` for that one. The warning could be suppressed, but the compiler is choosing the version from mscorlib (4.5), so there's not really any help there.

Options that I can think of:

1. use older xUnit (or even keep NUnit) for the 3.5 tests, as @mat-mclo

[2015-12-13 11:40] adamralph commented on #545
Could we also upgrade `FakeItEasy.Net35.Tests` to .NET 4.5 and somehow force it to use the shims in `FakeItEasy.Net35` instead of the types in mscorlib?

[2015-12-13 12:30] blairconrad commented on #545
Yes, that was my first thought. I can't figure out how, other than to rename (or renamespace). Closest I've come is suppressing the warning and letting the compiler pick the wrong ones.

In case it helps, the warning is

[code]

I've tried referencing System.Core using a different alias, but it made no difference. I'm probably not doing that right.
I'll keep looking.

[2015-12-13 16:40] blairconrad commented on #545
I think moving the shims to a different namespace is the approach most likely to work. See a very rough attempt in #564.

[2015-12-14 07:55] odyth commented on #33
sorry for the delay i am running FakeItEasy 1.25.3, NUnit 2.6.4 and Resharper 9.2.  Visual Studio 2013 Ultimate w/ Sp5 on Windows 10 Pro

A first chance exception of type 'System.MissingMethodException' occurred in mscorlib.dll
Additional information: Cannot create an instance of an interface.
**StackTrace**
   at System.RuntimeTypeHandle.CreateInstance(RuntimeType type, Boolean publicOnly, Boolea

[2015-12-14 09:54] mat-mcloughlin commented on #545
A bit out of my understand of FIE with this. So I'll just move the assertions over and wait for you guys to decide on what you want to do

That ok?

[2015-12-14 11:18] blairconrad commented on #545
Maybe me too! Really, it's not so much FIE-ish, as it is Framework-Shimmy. But still not something I do on a daily basis.

@mat-mcloughlin, that would be fantastic. It's valuable work and shouldn't affect or be affected by the change in project target with luck, we'll have it sorted and will be able to upgrade the projects when you're done that phase. Then if you'd like, you can keep going with th

[2015-12-14 11:58] blairconrad commented on #523
I should've said, but the exception details (from "Copy exception detail to clipboard" ![image](https://cloud.githubusercontent.com/assets/3275797/11780436/e90eee88-a22f-11e5-8359-5ff10db73c30.png)) look like

[code]

[2015-12-14 11:59] blairconrad commented on #33
@sergyr, thanks for the extra info. It goes a long way in figuring out what's happening.
Correct me if I'm missing some of the details, but this sounds exactly like #523.

[2015-12-14 17:25] blairconrad commented on #33
Oops. I replied to @sergyr this morning. Should've written:

@odyth, thanks for the extra info. It goes a long way in figuring out what's happening.
Correct me if I'm missing some of the details, but this sounds exactly like #523.

[2015-12-15 00:18] blairconrad opened #565 "remove .NET 3.5 project shims from the public API"
The shims were first added when the 3.5 project was created.
Later on `ImportManyAttribute` and `InheritedExportAttribute` were never removed when we stopped using MEF internally (in 2b33fa75b18950e751552f87bf03af050974ae8a).

The other shims in Compatibility.cs could've been internal all long.
These should've been hidden as part of #374, but I'd analyzed the .NET 4.0 DLL, not the 3.5 one.

[2015-12-15 15:01] blairconrad commented on #565
I should've said. I took a peek at 3.5, and I think these are the only stragglers.

[2015-12-16 07:13] adamralph commented on #523
I see from the source we are try...catching the creation of objects and explicitly suppressing the code analysis warning regarding catch general exception types, so the first chance exceptions are by design. Is this causing any problems?

[2015-12-16 11:26] blairconrad commented on #523
Sorry, do you mean "are the first class exceptions causing any problems?"?
Yeah. When debugging in "break on first chance exceptions" mode, users are interrupted with the "there was a first chance exception" dialogue.
I believe this is causing https://github.com/FakeItEasy/FakeItEasy/issues/33#issuecomment-164371645.

[2015-12-16 11:48] adamralph commented on #523
The use of exception catching by design is ugly, but sometimes it's the best and/or only way. If a users settings say "break on all exception types" when thrown, they are explicitly saying that when any dependency uses this pattern, they want to break. E.g. when using Nancy, there are *plenty* of first chance exceptions thrown during the handling of a vanilla request. I'm not sure we should commit

[2015-12-16 14:20] blairconrad commented on #523
I see your points about not being able to protect everything.

On the other hand, we're taking types pass the `CanBeInstantiatedAs` filter and trying to instantiate them. I think it's reasonable to make `CanBeInstantiatedAs` do a slightly better job in this case (probably by checking [IsGenericTypeDefinition](https://msdn.microsoft.com/en-us/library/system.type.isgenerictypedefinition(v=vs.110).as

[2015-12-16 17:51] #565 closed

[2015-12-16 17:56] adamralph commented on #523
:+1:

[2015-12-25 00:46] blairconrad commented on #224
"breaking" + "out of 2.0" suggests to me that this is a P3 at best. Objections to demoting?

[2015-12-26 13:52] adamralph commented on #224
Agreed. Demoted.

[2015-12-27 12:22] blairconrad commented on #545
@mat-mcloughlin, I think #568 removed the last barrier to using xUnit 2.0 in all the test projects. If you find any problems, please give me a hoot.

[2015-12-28 13:07] mat-mcloughlin commented on #545
will do. Sorry I stepped away from this. Holidays and what have you got in the way :)

[2015-12-28 13:33] blairconrad commented on #545
Please, no apologies necessary. You should spend time on things that are important to you. FakeItEasy (and projects of its ilk) are at best a hobby.
We're happy to have your help, and there's no timeline!

[2016-01-07 06:23] #534 closed

[2016-01-07 15:50] adamralph commented on #60
Note, via @dennisdoomen,  https://twitter.com/ddoomen/status/685108134269026304?s=09

[2016-01-07 16:30] blairconrad commented on #60
Yup, I also refer readers to #484.

[2016-01-07 20:29] thomaslevesque commented on #520
I totally agree; it's something that used to confuse me when I started using FIE.

[2016-01-08 01:31] IharBury commented on #484
I see two possible ways of dealing ways of dealing with this issue:
1) CreateScope method can be marked obsolete with clarification that it doesn't support parallel tests
2) FakeScope.Current can be modified to store the value in ExecutionContext instead of static field. This will make all fakes a bit slower but will allow child contexts in parallel tests including async code support.

[2016-01-09 00:04] #520 closed

[2016-01-09 11:09] adamralph commented on #484
If we decide to throw in the towel then we can just remove it from 2.0, rather than marking obsolete, since that is a major breaking release anyway.

[2016-01-09 11:22] adamralph commented on #533
Yes, FakeItEasy should treat both members the same. The fake is effectively an implementation of the two interfaces and since the two interface properties have the same type, the single implementation should satisfy the two interface members. Only when the return type is different between the two interface implementations should FIE treat them separately, since, effectively, it will have to genera

[2016-01-09 11:30] adamralph commented on #533
@FakeItEasy/owners if in agreement, I think we can label this `100 - Ready` and `up-for-grabs`.

[2016-01-09 12:27] blairconrad commented on #484
It's true. I'm not a scope fan, personally. I think they have limited use, and would prefer to encourage other patterns, such as just throwing away fakes and getting new ones or reconfiguring methods.
On that front, I wouldn't mind removing them. Also I think that removing `CreateScope(IFakeObjectContainer )` would allow us to clean up some stuff around `IFakeObjectContainer` that I was afraid to

[2016-01-09 12:35] blairconrad commented on #533
:+1:

[2016-01-09 12:42] adamralph commented on #533
I've added it to the 2.0 milestone, assuming we'd rather roll this breaking change in now.

[2016-01-09 12:42] adamralph commented on #533
In fact, this could be considered a bug...

[2016-01-09 12:43] blairconrad commented on #533
Agreed for bug.

[2016-01-09 13:18] matkoch commented on #484
@blairconrad, I appreciate that you thought of me :grinning:

Of course I'd like to argue to keep the API. I've been a very intensive FIE user and I'm very ambitious about testing. Based on my experience, I'd say that using fake scopes should mostly be avoided, but there are cases, when you really need them. So taking them away from v2 would really be a pain, and also may be a reason to switch to

[2016-01-09 13:18] blairconrad opened #571 "Remove all write-only properties"
Per @thomaslevesque's remark: https://github.com/FakeItEasy/FakeItEasy/pull/529#discussion_r49126608.

While we're at it, I think it has some friends that are in a similar state. See the [FakeManager constructor](https://github.com/FakeItEasy/FakeItEasy/blob/bd57a05c0de5ff37609230fd1b8bc4ec45bc9d4d/Source/FakeItEasy/Core/FakeManager.cs#L43).

[2016-01-09 13:25] adamralph commented on #484
Agreed that fixing it is the most desirable outcome.

I propose we write a failing test and spike fixing it before making further assumptions.

[2016-01-09 13:27] adamralph commented on #571
I think that we should sweep up all instances of this anti-pattern in one go. Shall we change the title to

?

[2016-01-09 13:28] blairconrad commented on #571
Some may be harder than the family that we've identified, but I'm all for taking a crack at it.

[2016-01-09 13:28] blairconrad commented on #571
Good thinking.

[2016-01-09 13:31] blairconrad commented on #484
@matkoch, thanks for chiming in.

I also think fixing is best.

Off the top of my head, there are two things to make sure work:

1. creating a Scope in one thread should not adversely affect Scopes from other threads. Certainly we've seen situations where two threads are running and the CurrentScope is changed underneath one of them.
2. when we spawn a new thread (logical or otherwise) we should b

[2016-01-09 13:31] adamralph commented on #571
If any of them turn out to be public, I think we should remove the `refactoring` label and add the `feature` and `breaking` labels, and probably get it into 2.0.

[2016-01-09 13:37] blairconrad commented on #571
Cool. So... how does one _find_ write-only properties? Anything easier than writing code to reflect over all the members of all the types and examine access levels?
Regardless, we should do all the libraries, not just the .Net 4.0 like I did when looking for unused types…

[2016-01-09 13:38] blairconrad commented on #571
Adding to 2.0 for now, since we'll need to do the analysis before deciding whether it's in 2.0…

[2016-01-09 14:04] thomaslevesque commented on #571
If any of them are public, they should probably be treated in priority. Private usages of this pattern are not a really big issue, they can be fixed at any time

if they're auto-properties, it's pretty easy: just search for `private get`

[2016-01-09 14:20] thomaslevesque commented on #533
Actually, I'm not really convinced... `IBase.Dependency` and `IDerived.Dependency` really are two different members; they just occur to have the same name. A class implementing `IDerived` could implement both:

    class Test : IDerived
    {
        public IDependency Dependency { get; }
        IDependency IBase.Dependency { get; }
    }

So I think they should be treated as different members, a

[2016-01-09 14:25] thomaslevesque commented on #533
[This comment](http://stackoverflow.com/questions/32405776/fakeiteasy-problems-with-new-modifier#comment52779445_32406325) summarizes the issue pretty well:

I'm in the "keep the flexibility" camp.

[2016-01-09 14:27] thomaslevesque commented on #533
Perhaps we could add a method to make it easier; something like this:

    A.CallTo(() => derived.Dependency).OrHiddenBaseDefinition().Returns(null);

[2016-01-09 14:34] adamralph commented on #571
:+1: good call

[2016-01-09 14:44] adamralph commented on #533
I guess the question is, how does the fake effectively implement the interface. If we claim it is:

[code]

then yes, the current behaviour is correct.

If, however, we claim it is

[code]

then the current behaviour is incorrect.

Currently (correct me if I'm wrong) there is no way to tell FakeItEasy whether or not to implement the base member explicitly or not.

Perhaps, it is the very behaviour

[2016-01-09 14:49] thomaslevesque commented on #533
Indeed, but we could had a way to tell FIE to implement both members, as I suggested above.

Yes, and I think it's fine, because it leaves the user in control. Also, changing it could be a breaking change, if someone actually configures the members differently.

[2016-01-09 15:05] adamralph commented on #533
OK, I propose we close this discussion and raise a new (perhaps P3) feature to add a new option to control whether to implement base members implicitly or explicitly. We could consider making implicit the default. It's the simpler option and the one I would expect as a user and indeed explicit by default is the reason this discussion was created. This would make it a breaking change, but I think f

[2016-01-09 15:23] thomaslevesque commented on #533
@adamralph, I agree

[2016-01-09 17:38] patrik-hagne commented on #533
Implicit interface implementation is a C#-concept, not a .Net concept, so
I'd vote for keeping the current behaviour.
Den 9 jan 2016 16:23 skrev "Thomas Levesque" <notifications@github.com>:

[2016-01-09 17:44] adamralph commented on #533
@patrik-hagne that's a fair argument for keeping the current behaviour as default. Would you be opposed to having an option for implicit?

[2016-01-09 17:49] patrik-hagne commented on #533
That sounds reasonable!
Den 9 jan 2016 18:44 skrev "Adam Ralph" <notifications@github.com>:

[2016-01-09 17:51] blairconrad commented on #533
:+1:

[2016-01-09 18:04] adamralph opened #572 "Option for implicit implementation of base interfaces"
*from https://github.com/FakeItEasy/FakeItEasy/issues/533 raised by @dotnerdify*

Currently, a fake effectively implements each interface in an inheritance tree explicitly, as evidenced by:

[code]

We should introduce an option for the fake to implement all members in the tree with matching signatures in a single member, i.e.

[code]

[2016-01-09 18:06] adamralph commented on #533
Thanks to @dotnerdify for starting this discussion. It has resulted in the creation of #572.

[2016-01-09 18:06] #533 closed

[2016-01-09 18:10] thomaslevesque commented on #572
As I proposed in the other discussion, it could be something like this:

    A.CallTo(() => derived.Foo).OrHiddenBaseDefinition().Returns(123);

[2016-01-09 18:17] adamralph commented on #572
Given that it's effectively changing the shape of the fake, I think it should be an option on fake creation, rather than individual method configuration. Whilst this restricts the fake to all or nothing WRT to members, it would be strange to do something like:

[code]

since then the shape of the fake would effectively change between calls to `Foo`.

[2016-01-09 18:27] adamralph commented on #361
Is it worth creating a separate net45 assembly in the nupkg for this?

[2016-01-09 18:29] adamralph commented on #547
Is this a duplicate of https://github.com/FakeItEasy/FakeItEasy/issues/484 ?

[2016-01-09 18:31] adamralph commented on #461
@blairconrad

They are resolved :smile:.

I'd like to give you some feedback for some of the proposals above, but I fear I'm rather lost in the lengthy history of this issue.

[2016-01-09 18:35] adamralph commented on #525
Why is this one slated for 2.0? Is it breaking?

[2016-01-09 18:36] adamralph commented on #525
And btw - yes, if we do make our priorities -1, I think throwing when we see some other impl. using -1 or lower is a good idea, otherwise, silent failure.

[2016-01-09 20:34] blairconrad commented on #525
Yes, breaking if someone had had a custom priority less than 0. We'd be mucking up which extension point was found. I should've had the tag on there all along.

[2016-01-09 20:34] blairconrad commented on #461
Oh, I'll just send a PR today or tomorrow anyhow. Pick that apart.

[2016-01-10 02:56] blairconrad commented on #547
They could be lumped together, but this is an error could occur when we (intentionally, even) use a single instance of `ChildScope` from multiple threads. Not when we unintentionally swap in a scope that will usurp the one that should've been  used in another thread.
We could rename #484 to be more specific.

[2016-01-10 03:06] blairconrad commented on #361
It seems like a lot of effort for the benefit. Off the top of my head, I'm not sure whether there would be anything else we could leverage.

Then again, it would provide a nice experience for users who are using what appears to be the new blessed event format. I'm not against it, but amn't in a huge rush…

If we decide to do so, though, should we examine mechanisms for building these without the m

[2016-01-10 03:33] blairconrad commented on #461
I'm back.

Short version is that I propose creating

[code]

and a corresponding `IFakeOptionsBuilder<TFake>` to replace `IFakeConfigurator`.
`IFakeOptions` will let you do everything you can do with `IFakeOptions<TFake>` (but without the compile-time type safety).

[2016-01-10 07:41] adamralph commented on #361
We can also use this method https://github.com/xbehave/xbehave.net/blob/7c49a81af810ee7a9902ffea6008ed7a046d1f2a/src/Xbehave.Sdk.Net45/Xbehave.Sdk.Net45.csproj#L71-L75

Shared projects would seem to be the obvious answer, but I know at least one project (xUnit.net) which tried them but ultimately abandoned them due to difficulties.

[2016-01-10 07:45] adamralph commented on #461
@blairconrad can you give an example of what this will allow the user to do? That's what I'm missing right now. Or is that somewhere in the tests in the #574 changeset?

[2016-01-10 12:19] thomaslevesque commented on #361
Shared projects are the way to go IMO. I've been using them for a while on projects at work, and haven't regretted it. The only drawback is that some tools (e.g. ReSharper) don't always handle them properly, but it got better in the recent versions.

Is this really an issue? Contributors are usually enthusiasts that don't wait too long before adopting a new VS release...

[2016-01-10 12:28] thomaslevesque commented on #525
Sounds reasonable. However if we want to change that, we probably need to do it the base class (e.g. `FakeConfigurator`, so we need to make `Priority` non-virtual and introduce a virtual method or property that would be called by `Priority`.

[2016-01-10 12:47] thomaslevesque commented on #572
Not really... It's changing the shape of the fake _with regard to a given member_. It's perfectly reasonable (and common) to implement one member explicitly, and another implicitly.

IMO, in any reasonable case of hiding a member of the base interface, the new member should actually have a different purpose than the base member, otherwise why would you hide the base member with a new identical one

[2016-01-10 13:05] blairconrad commented on #461
Currently, the only configuration that can be performed via the `IFakeConfigurator` is to manipulate an already-created fake via the `ConfigureFake(object)` mechanism. So it's mostly being able to set properties or call methods on the fake or to use `A.CallTo` to configure it.

With this change, anything you can do with an `IFakeOptions<T>` can be done to the fake (even before it's created):

- `C

[2016-01-10 13:14] blairconrad commented on #361
@thomaslevesque, I don't think requiring VS2015 is a deal-breaker. I just thought we might want to be aware of it when making the switch.
(And if we make the switch, we could start using bling strings and other new C# goodness…)

[2016-01-10 13:16] thomaslevesque commented on #361
Sounds good to me :smile:

[2016-01-10 13:25] blairconrad commented on #525
I'd imagined performing the check as we're importing all the types (which begins in `ImportsModule.RegisterDependencies`).
I'd been thinking that we wanted to allow users to continue to create extension points just by implementing our interfaces, rather than forcing them to extend a class. Had the major .NET languages supported multiple inheritance, I wouldn't worry at all…

[2016-01-10 13:30] blairconrad commented on #572
Maybe I'm crazy, but I prefer this notation to

[code]

Aside from liking the way it looks, now I'm wondering what happens when we have `IBase`, `IMiddle`, `IDerived`. Will we be in a situation where from `IDerived` we don't know whether the `HiddenBaseDefinition` is on `IBase` or `IMiddle`?

[2016-01-10 13:52] thomaslevesque commented on #525
Good point, I forgot about that. But then how do you decide which types are allowed to have a negative priority? Just a white-list of known internal types?

[2016-01-10 14:01] thomaslevesque commented on #572
Well, technically it could be on both, if you inherit two interfaces that have the same member. But it doesn't really matter, if we just say that we configure the call for this member and all hidden base definitions.
Perhaps the method should be named `OrHiddenBaseDefinitions` (plural) to account for the fact that there might be several base definitions.

[2016-01-10 14:26] blairconrad commented on #572
I'm a little missing something. It may be that I'm not thinking deeply enough about this, but mightn't someone want _three_ different behaviours?

[2016-01-10 14:26] blairconrad commented on #525
Types that FakeItEasy defines. I'd check the type's assembly.

[2016-01-10 17:21] adamralph commented on #461
OK, I think I'm getting it, so it would allow us to add APIs which allow doing things to fakes after creation, which can currently only be done during creation? E.g.

[code]

[2016-01-10 17:25] adamralph commented on #361
One thing to bear in mind before adopting C# 6, is that StyleCop.MSBuild will have to be removed since it doesn't (and almost certainly never will) support C# 6. A potential replacement is https://github.com/DotNetAnalyzers/StyleCopAnalyzers.

[2016-01-10 17:33] adamralph commented on #572
Yes, but you would not expect the type definition to change between two calls to a member :smile:.

However:

That's a reasonable way to think about it, and I agree. So this means that we are, in fact, always explicitly implementing the base members, but this just becomes a shortcut for configuring both in one go.

However:

This is a valid point. I'm starting to think the benefit of this syntacti

[2016-01-10 17:34] adamralph commented on #525
:+1:

[2016-01-10 17:41] blairconrad commented on #461
Rather the opposite, I think. I seem to be doing a terrible job of explaining things. :disappointed:

Consider the existing discoverable `IFakeConfigurator` extension point. A selected `IFakeConfigurator` is passed a fully-constructed Fake and then gets the option of modifying it via its `ConfigureFake` method. But since the Fake is already constructed, we can't (for example) cause it to implement

[2016-01-10 17:56] adamralph commented on #461
Ah, I see. In the interest of making this new feature easily grok-able by users, shall we change the title to something like "Replace IFakeConfigurator with IFakeOptionsBuilder" and perhaps prune down the description to focus on describing why an `IFakeOptionsBuilder` will be better?

[2016-01-10 19:07] blairconrad commented on #461
Excellent idea. The description did not keep up with the discussion in the comments. Take a gander.

[2016-01-10 21:04] thomaslevesque commented on #525
Sounds reasonable ;)

[2016-01-10 21:06] thomaslevesque commented on #572
Sure, and nothing prevents you from doing it:

    A.CallTo(() => derived.Foo).Returns(1);
    A.CallTo(() => ((IMiddle)derived).Foo).Returns(2);
    A.CallTo(() => ((IBase)derived).Foo).Returns(3);

[2016-01-10 21:11] adamralph commented on #461
:+1: looks good

[2016-01-10 21:12] thomaslevesque commented on #361
Well, to be honest, I'm not a big fan of StyleCop (too finicky for my taste), so I wouldn't be very upset if we dropped it completely :wink:. But if you want to keep it, then yes, StyleCopAnalyzers seems to be a good replacement; looks like all the rules are implemented, most of them with a corresponding codefix (which is certainly an improvement over StyleCop)

[2016-01-10 21:15] thomaslevesque commented on #461
Just to make sure I understand... If I do `A.Fake<IFoo>()` without specifying options, and there is a fake configurator (or options builder, whatever it's called) for `IFoo`, then the options specified by the fake configurator will be used, right? Is there a way to override that? For instance, if the fake configurator says that the fake must be strict, will I still be able to create a non-strict f

[2016-01-10 21:27] adamralph commented on #361
It's only as finicky as the rules you switch on, and that can be a team decision

E.g. in FIE, we have almost all switched on. In scriptcs, we only have a handful.

I am always surprised how people love to blame the tool. :smile:

[2016-01-10 21:28] thomaslevesque commented on #361
True

[2016-01-10 21:32] blairconrad commented on #572
Yes, I thought that was what I was arguing for over `OrHiddenBaseDefinitions`. But I'm kind of confused by the whole conversation!

[2016-01-10 21:40] thomaslevesque commented on #572
Me too... I'm not even sure anymore what we're trying to do here ;)

If you prefer to configure each member explicitly rather than using `OrHiddenBaseDefinitions`, it's already possible now. So what do you think we should do? I thought we had agreed that the current default behavior should be kept (see @patrik-hagne's [comment](https://github.com/FakeItEasy/FakeItEasy/issues/533#issuecomment-17026

[2016-01-10 21:46] blairconrad commented on #461
Actually, the fake configurator (or options builder, in my hopeful future) would be applied regardless to any of the fakes.
Then if you specify options either via `A.Fake<IFoo>(o => …)` or by subsequent `A.CallTo`s, they will take precedence - last in wins, kind of thing.
As far as making something non-strict, just as if it were specified via `o => o.Strict()`, you'd have to add overriding configu

[2016-01-10 21:52] thomaslevesque commented on #461
Do you mean adding a `NonStrict()` method ?

[2016-01-10 22:25] adamralph commented on #572
I'm not sure we need to do anything. The case of an interface member hiding an identical base member is an edge case, and I can't really see why anyone would do it.

[2016-01-10 22:33] blairconrad commented on #361
More rules! All the rules!

[2016-01-10 22:35] blairconrad commented on #461
I just meant overriding `A.CallTo()`s. I'd prefer not to add a `NonStrict`, since non-strict is the default. If people want fakes to not be strict, just don't make them strict. If they want some of their objects to be strict, turn those ones strict as needed.

[2016-01-10 22:36] blairconrad commented on #572
I'm not sure why one would either.
If @thomaslevesque's `A.CallTo(() => ((IBase)derived).Foo).Returns(123)` example works, I'd leave everything as is.

[2016-01-10 23:12] blairconrad commented on #361
In all seriousness, I don't agree with all the rules (it still feels weird to me to specify `this.` all the time), but I have really come to enjoy that the rules are there. I like the consistent spacing and line endings and ordering of members and whatnot. Ah well, we've veered off course a little.

[2016-01-10 23:55] thomaslevesque commented on #572
I think it's the best option. Anything else would only introduce more confusion.

[2016-01-11 00:03] #572 closed

[2016-01-11 03:00] blairconrad commented on #571
Because I love this sort of thing, I've been poking. I used ReSharper to find property bits that could be made private, as a first step. Because why purge the write-only properties and then find out there are more?I found some gets that could be made private while I was at it. Would you rather I left them for a separate issue?
(Also some properties that can just be removed altogether.)

[2016-01-11 08:52] thomaslevesque commented on #571
I don't think it needs to be done in a separate issue (perhaps just a separate commit)

[2016-01-11 09:15] IharBury commented on #484
I've created a pull request for this: https://github.com/FakeItEasy/FakeItEasy/pull/575. But it breaks FakeScopeSpecs.CreatingFakeInsideScope scenario. Any ideas how to fix it?

[2016-01-11 21:17] adamralph commented on #571
Write only properties is an anti-pattern we want to get rid of and it needs restructuring of some classes in order to do it.

Reducing the scope of gets and removing properties altogether sounds like it's just redundant code removal. Or would it also involve some structural change?

If we can find a way of wording this issue nicely to contain all the change then we leave as one, but if they are qu

[2016-01-11 23:45] blairconrad commented on #571
I ran an analysis on the head of 461-new-fake-options-builder, and everything that ReSharper found whose accessibility could be reduced is private or internal or in a test project, so there's no external changes.
And there's a conflict relative #575 in FakeScope.
I can create a "reduce type member visibility" issue (or even a PR) when the time comes, and then proceed here.

[2016-01-12 11:13] blairconrad commented on #571
… and as it turns out, the only types that currently have write-only properties are also internal or private.
Removing from 2.0.

[2016-01-12 11:41] blairconrad commented on #156
We're close enough, I think, and work for 2.0 is dwindling. I'm starting.

[2016-01-13 07:39] adamralph commented on #156
:+1:

[2016-01-13 13:02] ardonjr commented on #491
It is now January 2016.. and I'm still running into this issue. Does that mean that FakeItEasy is never going to be usable on a Universal W10 project? Because that would be a sad thing.

[2016-01-13 13:20] adamralph commented on #491
@ardonjr FakeItEasy is completely dependent on Castle.Core. I raised [an issue](https://github.com/castleproject/Core/issues/41) to get PCL support into Castle.Core but as you can see, the owners stated that it's not possible and closed the issue.

There is an [open issue](https://github.com/castleproject/Core/issues/90) for .NET core support in Castle.Core. If that is done, depending on the metho

[2016-01-13 13:20] #491 closed

[2016-01-13 13:28] ardonjr commented on #491
@adamralph That explains a lot.. but is still a sad thing though. I used FakeItEasy with much joy.. until now I suppose.
I did a quick checked around the internet but there is no mocking framework available for UWP 10 due to this same issue. So I guess we'll have to find a way to mock things our self now.. thanks Microsoft!

Anyhow.. thanks for the fast reply.

[2016-01-13 13:47] adamralph commented on #491
We're glad you've enjoyed FIE so much :smile:

Yes, I guess this is a general problem in .NET with many of the new platforms. My main hope in this area is that the new netstandards initiative unifies everything and hopefully Castle.Core will come to support that, so that FIE and the rest of the Castle.Core based framworks can also support it. That way, you'll be able to write the bulk of your app

[2016-01-14 07:19] #156 closed

[2016-01-16 14:39] thomaslevesque opened #578 "Support collections of fakes in Fake.InitializeFixture"
I was playing with the `[Fake]` and `[UnderTest]` attributes and the `Fake.InitializeFixture`, and I realized it doesn't support collections of fakes. I was trying to do something like this:

[code]

Currently this doesn't work, because `Fake.InitializeFixture` attempts to create a fake array of `IBar`s, rather than an array of fake `IBar`s.

If support for this was added, perhaps it should be don

[2016-01-18 01:03] D3-LucaPiombino opened #579 "Expression Parser global extension point"
Hi,
i would like to know if an extension point to preprocess expression trees before they are handled by the rest of the pipeline is available (or if the same could be done indirectly in some way).
From what i have seen looking at the sources it appear that no such extension point exists (at least not a public one).

Since the FakeItEasy codebase is pretty decoupled and modular (**nice work BTW!**

[2016-01-18 11:42] blairconrad commented on #579
Hi, @D3-LucaPiombino, that's an interesting idea. I can't say that I understood all your sample code upstairs, but I can at least answer your question: there's no such facility available. Yours would be the first.

Out of curiosity, do you have other applications in mind, or is syntactic sugar for `A<T>._` the only driver so far?

[2016-01-20 20:54] D3-LucaPiombino commented on #579
Sorry for the late reply.

No, nothing else. But it could come handy to let the user customize the DSL in ways that are very domain specific.

Unfortunately i realized that even if we had the the extension point, this cannot be implemented like the example above because the overload with the additional parameter cannot be added to a static class anyway (c# has no static extension methods unfortuna

[2016-01-20 21:30] thomaslevesque commented on #579
I like the idea of simplifying how ignored arguments are specified. I guess we _could_ add an overload of `A.CallTo` that supports the syntax you propose, but I t think a general purpose extensibility mechanism for this wouldn't be useful to most people.

Also, the `(MyClass)_` syntax isn't much less verbose than the current `A<MyClass>._` ; it only saves 2 characters, so is it really worth the tr

[2016-01-20 21:33] thomaslevesque commented on #579
By the way @D3-LucaPiombino, in the example you mentioned, since all parameters are ignored, you could use the `WithAnyArguments()` method:

    A.CallTo(_ => instance.SomeMethod(0, null)).WithAnyArguments().Returns(0);

[2016-01-21 09:49] D3-LucaPiombino commented on #579
Yeah, it's true. i guess thai i (*subjectively*) find more terse the first syntax.

[code]
with _ declared as dynamic. Unfortunately dynamic operations are not supported in expression trees...

I am following with much interest what goes around in the roslyn repo . :)
Another idea that i am toying with, would be to leverage roslyn and some metaprogramming (if is it's either added to roslyn or by u

[2016-01-21 11:47] blairconrad commented on #579
As things stand, I'm inclined to agree with the "close" suggestions. The whole idea is very cool, but for the originally-stated goal of being able to specify a barely-different form of `Ignored`, I don't think there's much value.
Of course, if users could build other significant improvements, then there may be something there for them.
My concerns over tackling expression rewriting are:

1. We're

[2016-01-21 11:57] D3-LucaPiombino commented on #579
Ok, i agree with all the points.
I think this issue can be closed then :)

For the improved syntax i think i will look into it to see how much work a spike will require.
But i cannot make any promises :D

Thanks for your time and the very collaborative discussion.

[2016-01-21 13:04] #579 closed

[2016-01-21 13:25] blairconrad commented on #579
@D3-LucaPiombino thank you. And I forgot to mention in my previous comment - I tend to be a little down on new features or changes, especially at first, but am always interested in learning why my position's wrong. :grin:

Thanks for your interest!

[2016-01-21 16:39] blairconrad opened #580 "Make That hide object members"
(Raised by @dealproc in a private chat.)

… probably by extending `IHideObjectMembers`?

Otherwise we see this in the IDE:

![image](https://cloud.githubusercontent.com/assets/3275797/12486933/d6ca622c-c032-11e5-9399-f5e257e86141.png)

Then you accidentally pick `Equals` instead of `IsEqualTo`, and, to quote @dealproc without his permission

[2016-01-21 16:46] blairconrad commented on #580
There's probably other places that could benefit, but I think that it's `That`'s role in establishing conditions that really causes the confusion.

[2016-01-21 17:24] thomaslevesque commented on #580
It shouldn't be hard at all, and could probably be included in 2.0.0.

[2016-01-21 18:37] blairconrad commented on #580
I expect it's super easy, which was one of the reasons for adding the **up-for-grabs** label.
Could easily be done in time for 2.0.0, but it's non-breaking, so if it happens not to make it in, there's no harm—it could be go in 2.1.0 or later as well!

[2016-01-22 16:19] blairconrad commented on #580
Bumping to **P2** because I feel bad - even though there's no behavioural change, fixing this would remove an annoyance that was reported by a valued community member.

[2016-01-23 06:32] dealproc commented on #580
see what i can do, i'm the one that reported it, so see if i can contrib it back.

[2016-01-23 06:46] dealproc commented on #580
We can add it in for use within 2013, but won't be recognised in 2015 until https://github.com/dotnet/roslyn/issues/4434 is resolved and RTM.

[2016-01-24 00:36] blairconrad commented on #580
Oops. Should've removed **up-for-grabs** when I added **taken**.

[2016-01-25 11:50] blairconrad opened #582 "Clean up specs touched by #574"
Rework all the Specs, according to a comment made by @adamralph: https://github.com/FakeItEasy/FakeItEasy/pull/576#discussion_r49584676

- [x] CreationOptionsSpecs.cs
- [x] CreationSpecs.cs
- [x] FakeOptionsBuilderSpecs.cs
- [x] FakeScopeSpecs.cs

In addition to changes inspired by that comment,  @thomaslevesque and I have had some additional conversation in #574, where I ultimately ended up propo

[2016-01-25 20:19] blairconrad opened #583 "make IFakeOptions of T hide object members."
Very much like #580.
Otherwise we get offered `Equals` and `ToString` and so on, for no good reason.

[2016-01-26 02:04] #461 closed

[2016-01-26 03:02] blairconrad commented on #525
Rather than throwing if someone uses a negative Priority, perhaps we should stop the potential misusers from committing an error, rather than catching them after.
We could make `Priority` some type that users can't make bad values out of.
Safest, and probably easiest to understand would be to make a `Priority` a  type, like this:

[code]

Alternatively, I suppose `Priority` could be a `ushort` and

[2016-01-26 03:40] blairconrad commented on #461
Thanks! I'll update the release notes in the morning if nobody else has.
@thomaslevesque I think you wanted this in the next beta, and @adamralph and I were happy to have a release any time.
If I've not muddled that, shall we release? It may be the last one before 2.0.0 is "feature complete" (I can dream).

[2016-01-26 03:41] blairconrad commented on #461
If we want to release, I should be around starting at about 11:00 UTC for an hour or so to chat about unclear release processes, @thomaslevesque.

[2016-01-26 03:43] blairconrad commented on #461
Of course, one of the things needed for a release is good release notes. I updated them.

[2016-01-26 08:09] dealproc commented on #583
Mind if I take it?

[2016-01-26 08:19] dealproc commented on #583
Odd... in master, it seems to be there:

https://github.com/FakeItEasy/FakeItEasy/blob/master/Source/FakeItEasy/Creation/IFakeOptions.cs#L15

If you're using vs2015, there's a bug with Roslyn that is not respecting the `EditorBrowsable` attribute.

[2016-01-26 10:43] thomaslevesque commented on #583
It's already there in `IFakeOptions`, but not in `IFakeOptions<T>`

[2016-01-26 10:46] thomaslevesque commented on #461
Yes, we can release whenever you want.

I won't be available before 19:00 UTC... too much to do at work

[2016-01-26 10:48] thomaslevesque commented on #525
The `Priority` class is probably the cleanest approach

[2016-01-26 11:07] blairconrad commented on #461
Oh, sure. I didn't mean to suggest you should start at 11:00 or anything. Just indicating when I start being around. Hoot me whenever you like. Of course, I'll still be at work at 19:00, but that shouldn't preclude some chatting. :-)

[2016-01-26 11:07] blairconrad commented on #525
Woo hoo. It sounds like fun.

[2016-01-26 11:13] blairconrad commented on #583
My mistake. I've updated the description to exclude `IFakeOptions`. I made the issue at work while I happened to see the problem when showing a colleague something. And I made an assumption about where the lack was.

[2016-01-26 11:13] blairconrad commented on #583
@dealproc, You're more than welcome to it!

[2016-01-26 17:56] adamralph commented on #582
The proposed extension method is kinda cool :sunglasses:, but it does lose the `BuildOptions` part of `// see DomainEventFakeOptionsBuilder.BuildOptions`

[2016-01-26 17:56] adamralph commented on #582
FWIW, I'm not sure this is a P1 :wink:

[2016-01-26 18:01] adamralph commented on #525
The only problem with signed types is that (IIRC) they are not CLS compliant.

[2016-01-26 18:21] blairconrad commented on #582
@adamralph said

It does. Originally the extension method was intended for the `// see type` comments, and I was working on a tortured version for referring to methods, and nothing came of it.
Then I thought, "well, there's only one thing of interest in `DomainEventFakeOptionsBuilder`, and it's clear from context, so I floated the idea of just using the type-See.

Regarding **P1**, sure, I agree.

[2016-01-26 18:24] blairconrad commented on #525
Yes. I hit this a few minutes before leaving the house today and would've commented, but work's been, well, work.

I'll come back with proposals later.

[2016-01-26 18:52] thomaslevesque commented on #525
I guess you meant _unsigned_ types ;)

I'm not sure how big an issue this is. C#, VB.NET and F# all support unsigned types, but I guess there might be other, less well known .NET languages that don't.

Anyway, another option is to make the priority a `byte`, which is CLS compliant. Sure, it has a much smaller range, but I don't think there are many scenarios where you would need more than 256 prio

[2016-01-26 18:58] thomaslevesque commented on #582
Actually, the syntax you came up with wasn't that bad, just a little verbose:
[code]
It could also be written like this:
[code]
which looks a little nicer IMO (every bit as verbose, though)

[2016-01-26 19:48] blairconrad commented on #525
Yeah, I was giving @adamralph a break on the signed/unsigned. Although I _do_ like seeing him nitpicked!

I had your thoughts about C#/VB.NET/F# as well (I had to look up the F# support to be sure), but worry a little bit about alienating some other .NET language-users. [Boo](https://en.wikipedia.org/wiki/Boo_(programming_language))?

I would be more than content using a `byte`. As you say, "256 d

[2016-01-26 19:51] blairconrad commented on #582
Oh, if we don't hate `.See<DomainEventFakeOptionsBuilder>(ob => ob.BuildOptions);` that much, I'd be happy to go with that.

Regardless, sometime later I'll start a PR so we can assess the "textual" changes to the Specs and then we can optionally wrangle over fancy extension methods.

[2016-01-27 04:43] adamralph commented on #525
Sorry, yes, *un*signed types :grin:

I don't think it's a huge problem, but I wanted to make sure we'd considered it.

I also like the `byte` proposal, and the `Priority` type proposal in general, it's an excellent idea. Perhaps it should be a `struct`?

[2016-01-27 09:24] thomaslevesque commented on #525
Yes, probably.

[2016-01-27 09:40] adamralph opened #585 "Move IHideObjectMembers to top level namespace"
It's currently in `FakeItEasy.Configuration` because, I can only guess, it was originally only used for types in that namespace. We're already using it for several types not in that namespace, e.g. `IFakeOptions`. It should be in the namespace `FakeItEasy`.

[2016-01-27 10:34] blairconrad commented on #525
Sorry, yes. Already was here. Thanks for the early code review!

[2016-01-27 10:36] blairconrad commented on #585
Good idea. Let's wait until other **in-progress** `IHideObjectMembers` members are merged, though…

[2016-01-27 10:47] adamralph commented on #585
:+1:

[2016-01-27 19:16] blairconrad opened #586 "Add a .editorconfig"
for use with http://editorconfig.org/

Some potential contributors struggle with formatting issues, specifically around whitespace.
In some cases, these are easily worked around, and sometimes not.

The presence of a `.editorconfig` file may help avoid some problems. Not everybody is using an editor (or has the plugin) that will respect these settings, but if even a few do, it's no great hardship

[2016-01-27 19:20] thomaslevesque commented on #586
I like the idea. I never used editorconfig myself, but I'm willing to give it a try.

[2016-01-27 19:53] thomaslevesque commented on #586
Just added it as an experiment. Perhaps I was a bit hasty in creating a PR, though ;)

[2016-01-27 20:00] blairconrad commented on #586
Ha! PRs are useful for discussion, if nothing else.

[2016-01-27 20:05] blairconrad commented on #586
Does this indicate approval?

[2016-01-28 00:05] adamralph commented on #586
I think this was Waffle, because @thomaslevesque created the PR and wrote in it

[2016-01-28 00:07] adamralph commented on #586
Anyway, I'm all up for `.editorconfig`. I already use it in several other projects.

[2016-01-28 00:14] thomaslevesque commented on #586
Ah, that explains it! I was quite impressed by your reaction time ;)

[2016-01-28 02:46] #586 closed

[2016-01-29 15:49] blairconrad commented on #336
Things seem to be winding down nicely in the [2.0 milestone](https://github.com/FakeItEasy/FakeItEasy/milestones/2.0.0). There are 2 unclaimed issues (I think), and 3 in flight, 2 from a community member.

I am inclined to think about closing off 2.0. Does anyone have anything they think should go in that we've not planned in the milestone? I'm happy to leave non-breaking enhancements and bug fixe

[2016-01-29 20:22] thomaslevesque commented on #336
No, I think it's good. I have a few ideas for improvements, but it can wait until a future release.

Well, typically, a beta is promoted to RC when it's thought to be stable. Will the release including the remaining issues be more stable than the previous beta? I don't know... DId we even receive any feedback on the beta versions? So far there has only been 77 downloads of beta-011, so it's hard t

[2016-01-29 21:03] blairconrad commented on #336
Oh, I'd always thought the RCs came in at "feature complete" time.
Really, none of the betas are any more or less stable than any of the actual production releases! We're just calling them betas because we don't promise not to change the API. And if we think that we have no more breaking changes coming, then I guess we're close to retiring the promise, so... maybe more stable?

[2016-01-29 21:08] thomaslevesque commented on #336
More stable in terms of API surface, anyway... OK, I guess we can make it a RC.

[2016-01-30 02:25] adamralph commented on #336
For me, RC means "we've done all the work and we think we can release this". Ideally, it will just remain available for a period of time for the community to test it and then we can just release RTM without further commits (take a look at xunit 2.1).

The only reason to consider adding another feature to 2.0 now is if it is breaking, since we ought to limit the rate of breaking releases.

@thomasl

[2016-01-30 02:30] adamralph commented on #336
Once we are past 2.0, we are again at liberty to release every time a feature or bug fix hits master. Most of our 1.x releases only ever contained a handful, or sometimes even just one, feature or bug fix.

[2016-01-30 02:52] blairconrad opened #590 "switch branch check to just require continuous-integration/codebetter-ci"
Previously on https://github.com/FakeItEasy/FakeItEasy/settings/branches/master, "default" was required but "continuous-integration/codebetter-ci" was not.

#589 was failing as the "default" check had not completed, but it showed that "continuous-integration/codebetter-ci" was complete, and it looked great!

[Report change status to Github on the CI server settings](http://teamcity.codebetter.com/

[2016-01-30 02:52] blairconrad commented on #590
@adamralph, do you know if we did the right thing?

[2016-01-30 03:31] adamralph commented on #590
Oops! Sorry, yes, this was me fiddling with something which I didn't think would have any bad effect :blush:

In other projects, we've aligned the codebetter build name to use the naming convention dictated by Travis CI which, whilst opinionated, is better then "default", e.g.

![image](https://cloud.githubusercontent.com/assets/677704/12693440/fe1178de-c744-11e5-9296-00dc0045a6d7.png)

If you're

[2016-01-30 03:31] #590 closed

[2016-01-30 03:32] adamralph commented on #590
(And I also thought "codebetter-ci" would be better than "teamcity".)

[2016-01-30 11:16] blairconrad commented on #336
And I'm itching for the day. I really enjoyed that "release almost exactly every 3 weeks" cadence we had going for a while.

[2016-01-30 11:21] blairconrad commented on #590
If nothing else, it will improve my tweets.

In the future, if we're performing these kinds of maintenance operations, it's probably a good idea to char (or better, raise an issue, since we can search on those later) so we can all see what's going on and fix it later, or learn something. For example, I'm going to learn something right now:

What are you doing with both teamcity and travis CI build

[2016-01-30 11:21] blairconrad commented on #590
And thanks for clearing that up!

[2016-01-30 11:28] blairconrad commented on #537
Should we switch this task to a general "use VS2015 / MSBuild 14" for builds?
I'm interested in exploring some of the alternative ways of structuring the projects, specifically using shared folders to manage our linked source (and as a way to potentially make it easier for us to run all the tests for each framework we target), and think that's a first step.

[2016-01-30 14:26] thomaslevesque commented on #590
My guess is that it's because Travis CI uses Mono.

[2016-01-30 14:30] thomaslevesque commented on #537
Yes, I only use VS2015 and I have no trouble building.

Shared projects would indeed make it easier to share code between projects. But they're only supported as of VS2013 update 1 IIRC; not sure if that's an issue.

[2016-01-30 14:34] thomaslevesque commented on #336
That's what I had in mind initially when @blairconrad suggested making it RC, but I don't have a strong opinion either way.

I already raised on here: https://github.com/FakeItEasy/FakeItEasy/issues/578
(probably not breaking)

[2016-01-30 14:39] thomaslevesque commented on #336
Another idea that I had in mind was somewhat related to #578. I really like the "fixture injection" feature, but it would be nice if it could behave more like a real IoC container; so I thought we could provide a way to somehow plug an IoC container into the `Fake.InitializeFixture` mechanism. But I don't yet have a clear idea of how it would work, or even if we could do it without introducing a b

[2016-01-30 18:16] blairconrad commented on #336
Perhaps this isn't the place to discuss it, but I wonder how much further we want to extend the "FakeItEasy as test dependency provider". The basic functionality is cool, but in the end are we just going to replicate [FakeItEasy](https://github.com/AutoFixture/AutoFixture/tree/master/Src/AutoFakeItEasy)?

And if so, that's not necessarily a bad thing. I just want to make sure we'd be doing it inte

[2016-01-30 18:18] blairconrad commented on #537
Not if we make VS2015 the blessed IDE?

[2016-01-30 18:34] thomaslevesque commented on #336
I agree that it's not a core feature, but it's really convenient. AutoFakeItEasy is good, but it doesn't inject fakes into the test fixture itself. I'll create an issue for this when the idea is a bit clearer in my mind

[2016-01-30 18:51] blairconrad commented on #336
:+1: Thanks!

[2016-01-31 01:07] #560 closed

[2016-01-31 01:13] blairconrad commented on #560
Nice work, @thomaslevesque.

[2016-01-31 01:13] blairconrad commented on #560
Thanks for raising this, @HenrikPoulsen. Look for your name in the release notes!

:trophy:

[2016-01-31 02:28] adamralph commented on #590
Sorry, yes, you're absolutely right. I shouldn't have just gone ahead and done it. *Eats humble pie.* Normally I'd at least ping on gitter, if not raise an issue. I'm not sure why I didn't this time. No excuses.

As @thomaslevesque indicates, it's to perform a CI build on Mono, so that the project can claim to "officially support Mono".

[2016-01-31 02:31] adamralph commented on #537
With the recent updates to VS2015 (chiefly the return of some sanity to the NuGet UI) it mostly useable so I'd be happy to make MSBuild 14 the required version.

I'm still a little hesitant around shared projects. I know that the xunit guys went down that route initially for v2 but then abandoned it due to the IDE playing very badly with them in practice.

[2016-01-31 02:43] blairconrad commented on #537
We can still explore other options. Earlier you'd had reservations about the scheme Castle.Core uses as well (building a single project with many configurations), no?

[2016-01-31 02:48] adamralph commented on #537
Yep, I find that very awkward too. It requires multiple build passes over the solution/projects to produce the final output.

Here's the approach I use xbehave - https://github.com/xbehave/xbehave.net/blob/7c49a81af810ee7a9902ffea6008ed7a046d1f2a/src/Xbehave.Sdk.Net45/Xbehave.Sdk.Net45.csproj#L71-L75

[2016-01-31 02:48] blairconrad commented on #590
@adamralph, no worries. I hadn't intended to chasten, just to suggest a guideline for us all in the future.

Oh, Mono. Cool.

[2016-01-31 02:50] blairconrad commented on #537
Ah, right. The magic includes, used here to includ all the Net40 files into the Net35 project:

[code]

I remember you showing me this once before.

[2016-01-31 02:52] blairconrad commented on #537
But I've caused us to digress. At least we've established that we're happy to go MSBuild v14 only.
I don't _anticipate_ this being a breaking change, so no rush. I was just wondering. Thanks!

[2016-01-31 03:04] adamralph commented on #537
Sure, but only if there is a reason to do so. Shared projects would be a reason, but I'm not seeing much value over the recursive include.

@bradwilson - I remember you mentioning that you ran into horrible problems with shared projects. Is that written up anywhere?

[2016-01-31 09:56] thomaslevesque commented on #537
Shared projects is not the only reason. Switching to VS 2015 also means we can use C# 6 ;)

[2016-01-31 10:03] thomaslevesque commented on #537
Perhaps the xunit guys were using VS2013 when they tried? They work fine in VS2015 as far as I can tell. I've been using shared projects in a rather large solution (30 or 40 projects), and I haven't encountered any major issue so far. I did have some issues with ReSharper in the beginning, but the latest version of R# fixed all that.

Miguel de Icaza recently published [an interesting blog post](h

[2016-01-31 16:45] bradwilson commented on #537
Yep, it was a combination of the poor implementation in VS2013 + the lack of any support for the third party tools like CodeRush or Resharper. All of that has been resolved now.

[2016-02-01 01:00] adamralph commented on #537
Great, so perhaps shared projects is indeed the way to go now. It would also be nice to use C# 6 - string interpolation, for one thing, is pure bliss.

[2016-02-01 01:20] #580 closed

[2016-02-01 01:20] #583 closed

[2016-02-01 02:37] blairconrad commented on #580
Thanks for your contribution, @dealproc. Look for your name in the release notes!
:trophy:

[2016-02-01 02:37] blairconrad commented on #583
Thanks for your contribution, @dealproc. Look for your name in the release notes!
:trophy:

[2016-02-01 09:16] #585 closed

[2016-02-02 14:57] blairconrad commented on #494
I should've said earlier, but the fix was release in 2.0.0-beta10.
I've retroactively added you name to the release notes, @hshilling!

[2016-02-03 11:05] #525 closed

[2016-02-03 11:19] blairconrad commented on #144
Rereading, I think there are two reasonable approaches to fixing this issue. Both involve creating a new interface, say `IObjectFormatter`, and then providing an implementation of this interface to users' argument value formatters. When called, this helper instance would run an object through the existing argument value formatter pipeline (calling `GetArgumentValueAsString` on it)

The trick is to

[2016-02-03 11:49] blairconrad commented on #205
I apologize for the delay. I had forgotten about this issue. Testing with modern FakeItEasy (2.0.0-beta009), I found that the first test in https://github.com/FakeItEasy/FakeItEasy/issues/205#issuecomment-29887787 **passes**, once I rewrote it to compile:

[code]

The second test continues to fail:

[code]

with result

[code]

As @patrik-hagne pointed out in https://github.com/FakeItEasy/FakeItEa

[2016-02-03 11:55] blairconrad commented on #219
Is there still interest here? I'm (surprise!) inclined to not pursue the feature, and would recommend the issue for closing. To me, it seems like an edge case, probably tricky to implement and understand, and nobody's had a thing to say about it for over two years.

[2016-02-03 11:56] alexjamesbrown commented on #219
Hmm, I'd close it for now, I guess someone can always stumble across this via google and re-open it (or implement it!)

[2016-02-03 11:57] blairconrad commented on #224
I'm just taking a rerunthrough of all the issues before we hit 2.0, and am thinking that _nobody_ is going to want to do this. It sounds like a cubic boatload of work, for quite possibly no gain at all. How do we feel about closing it?

[2016-02-03 11:59] blairconrad commented on #229
Two years with no movement. Does anyone care, or should we close?

[2016-02-03 12:04] blairconrad commented on #341
Still valid!

[code]

fails with

[code]

[2016-02-03 12:27] blairconrad commented on #219
Oh, thanks for the speedy feedback, @alexjamesbrown. As you say, nothing's permanent, so we can always reopen.

[2016-02-03 12:27] #219 closed

[2016-02-03 12:31] blairconrad commented on #414
It's official. My enthusiasm is lost.

[2016-02-03 12:46] adamralph commented on #205
We could look into it more but, IMHO, post 2.0.

[2016-02-03 12:48] adamralph commented on #144
I'm finding it difficult to set aside enough time to go back through this and understand it properly. If, in the meantime, it gets closed, I won't complain.

[2016-02-03 12:49] adamralph commented on #224
I'm :+1: to close.

[2016-02-03 12:49] adamralph commented on #229
I'm :+1: to close.

[2016-02-03 12:51] hmemcpy commented on #229
Pretty much who was involved in this discussion had moved to greener pastures :)
That's not going to happen... :+1: to close as well.

[2016-02-03 12:53] #229 closed

[2016-02-03 13:13] #224 closed

[2016-02-03 14:49] blairconrad commented on #144
I'm not sure there's a burning need for this, but if we decided a week after releasing 2.0.0 that we wanted it, and the preferred implementation was breaking, I'd be gutted.

I'll summarize the situation/problem, but the "too long; didn't read" version is:

**should we alter the argument value formatter extension point to allow an implementation to build upon other argument value formatter extensi

[2016-02-03 15:42] thomaslevesque commented on #414
I agree that supporting .NET Fiddle in particular isn't very important; however, doesn't the same problem occur anytime the code runs in a medium or low trust context? If it's the case, we should probably consider fixing it (if it's possible)

Related: http://stackoverflow.com/questions/11714762/castle-windsor-does-not-work-under-medium-trust

[2016-02-03 16:22] blairconrad commented on #414
I'm not against working in a low trust environment. I'm not very savvy with the trust levels, and am not sure when we'd need to run FakeItEasy in such an environment (outside tools/sites) such as .NET Fiddle. We can reopen, if you'd like, or start a new "run in lower trust environment" issue.

[2016-02-03 17:31] thomaslevesque commented on #414
I agree that it's unlikely that someone would actually need to run their unit tests in low trust. I also don't know much about trust levels, so I'm not sure how to investigate the issue...

[2016-02-03 19:56] thomaslevesque commented on #144
Another way to solve this without breaking anything would be to expose the internal `ArgumentValueFormatter` class publicly. Of course this raises the issue of how to create an instance of it... perhaps there could be a static `ArgumentValueFormatter.Default` property to fetch it from the `ServiceLocator`. Not very elegant, though.

Otherwise, I like @blairconrad's proposal to add an `IObjectForma

[2016-02-03 20:14] thomaslevesque commented on #144
For consistency with `IArgumentConstraintManager<T>`, perhaps we should use `IOutputWriter` for argument formatting, rather than returning a string. This would also add support for indentation. `IOutputWriter` also has a `WriteArgumentValue` method, but it doesn't use `ArgumentValueFormatter`, which is probably an oversight. If we fixed that, we could do something like this:

[code]

And the imple

[2016-02-03 20:18] blairconrad commented on #144
@thomaslevesque, I like the idea of increasing consistency with what `Matches` provides!
And it's true that what you've written isn't quite as convenient as `string.Format` or bling strings, but users would still be free to use the more convenient option if they didn't care about super-fancy formatting.

[2016-02-03 20:20] blairconrad commented on #144
I'm not sure exactly how much we'd gain from indentation support, but I'm sure it wouldn't hurt. I'm excited to take a look at the output writer and how `Matches` is formatted. Unfortunately, I am busy tonight.
I'll steal what time I can.

[2016-02-03 20:30] thomaslevesque commented on #144
Anyway, I'm curious to know how much real users care about this feature... I suspect that the vast majority never wrote an argument value formatter (I never did). If your test fails and the output isn't clear enough, well, you just put a breakpoint and look at the object yourself...

So perhaps a more useful improvement would be to provide a default formatter that writes the object with its proper

[2016-02-03 22:55] blairconrad commented on #144
Oh, I bet most users don't care at all. Just like I bet most users don't know about Dummy factories and Fake options builders (or Fake configurators in 1.x.x). Or Scopes.
Of course, when I made this issue, I _was_ a real user, thankyouverymuch. (And some days I like to think that I'm _still_ a real user. :wink:) And on that day, whatever I thought I was trying to have rendered (an enumerable of an

[2016-02-04 01:22] blairconrad commented on #377
There's been no movement on this in over a year, and I'm still not sure that there's any benefit in providing different orders for effects to be applied.
Are there any objections to closing the issue until/unless someone comes back and expresses interest (preferably with a good interface and plan for implementation, although I wouldn't make those requirements…)?

[2016-02-04 04:22] blairconrad commented on #287
I wonder if we're not doing okay with our current API. With the advent of `nameof`, we can

[code]

which provides typesafety and (some) convenience.

Alternatively, as @JulianRooze seemed happy with

[code]

if we need to disambiguate between same-named methods (or just prefer this style).

Since the original asker seemed content, and there's been no movement here in 18 months, perhaps we should

[2016-02-04 04:30] blairconrad commented on #56
Since we have a **wontfix** on this, perhaps we should close it. Objections?

[2016-02-04 04:32] blairconrad commented on #505
We have #490 planned, and have agreed that an analyzer is the preferred approach, so I'd like to close this. Objections?

[2016-02-04 04:36] blairconrad commented on #514
Closing due to lack of understanding on my part and participation on the part of the raiser.

[2016-02-04 04:36] #514 closed

[2016-02-04 04:39] blairconrad commented on #530
@jimmyheaddon, since you've gone quiet on this issue, I'm going to close it and return it back to the generally available pool. Thanks for your work so far. If you decide you'd like to come back to work on this or anything else, we'd welcome it.

[2016-02-04 13:05] adamralph commented on #414
I can't see any reason to run a regular test lib in low trust. .NET Fiddle would be nice though, since we could point users directly to running examples from GitHub issues, SO answers etc.

[2016-02-04 14:07] tvanfosson commented on #377
I can live with it as is.

[2016-02-04 14:07] #377 closed

[2016-02-04 14:16] blairconrad commented on #377
Thanks for the update, @tvanfosson.

[2016-02-04 14:17] thomaslevesque commented on #505
Nope. I'll resume work on the analyzer when we officially switch to VS2015.

[2016-02-04 14:17] #505 closed

[2016-02-04 14:18] thomaslevesque commented on #56
No objections, closing it now.

[2016-02-04 14:19] thomaslevesque commented on #56
(actually, it was already closed)

[2016-02-04 14:20] thomaslevesque commented on #287
Agreed, closing

[2016-02-04 14:20] #287 closed

[2016-02-04 14:25] blairconrad commented on #56
:blush:

[2016-02-05 06:39] adamralph commented on #377
Marked as `won't fix`.

[2016-02-05 06:40] adamralph commented on #287
marked as `wontfix`

[2016-02-06 04:21] #82 closed

[2016-02-06 04:23] adamralph commented on #82
@galaktor thanks for raising, but given the lack of enthusiasm to have this in the main lib, we decided to close this as a `wontfix`. You can, of course, continue using your own extension, and even consider publishing your own extension FIE extension package with this and any other personal helpers you find useful.

[2016-02-06 04:24] #120 closed

[2016-02-06 04:25] adamralph commented on #120
@danielmarbach thanks for raising this. Given lack of enthusiasm to have this in the core package we decided to close this.

[2016-02-06 04:25] adamralph commented on #121
@danielmarbach thanks for raising this. Given lack of enthusiasm to have this in the core package, and the 3rd party packages mentioned above which provide this kind of functionality, we decided to close this.

[2016-02-06 04:25] #121 closed

[2016-02-06 04:33] #144 closed

[2016-02-06 04:36] adamralph commented on #144
I like the idea of a default formatter. E.g. https://github.com/scriptcs/scriptcs/blob/3a3a4baf933afab7d9f3ca61a7b3289cd743c8fb/src/ScriptCs.Hosting/ObjectSerializer.cs

[2016-02-06 04:42] adamralph commented on #22
Since dumping Resharper from my toolkit for the second time, I'm once again shying away from this. The ubiquitous static analysis solution is promising to be Roslyn based analysers and I think we should lean on them for code consistency using whatever mechanisms they provide for rule customisation.

Resharper is a personal tooling choice and if it doesn't respect Roslyn analyser settings then it s

[2016-02-06 04:44] adamralph commented on #33
Duplicate of #523

[2016-02-06 04:44] #33 closed

[2016-02-06 04:46] adamralph commented on #60
This has been taken care of in several other issues as part of 2.0, with the only known outstanding issue being https://github.com/FakeItEasy/FakeItEasy/issues/484.

If any other problems with parallel execution arise, we can deal with them as bugs at that time.

[2016-02-06 04:46] #60 closed

[2016-02-06 04:51] adamralph commented on #73
pinged the SRN owners on the status of the project https://twitter.com/adamralph/status/695831928482627584

[2016-02-06 04:54] adamralph commented on #90
@hmemcpy how far did you get with this? I don't think there's any enthusiasm to try and build this into FIE, but your POC using {I forget the name of the package} may drive out any extension points that are missing in FIE for someone who wants to swap in a fake generator that allows this capability.

[2016-02-06 04:56] adamralph commented on #93
(At least the 'change build script' part is up-for-grabs.)

[2016-02-06 05:23] adamralph commented on #175
Are we seeing any light at the end of the tunnel for this?

[2016-02-06 07:01] jeremymeng commented on #531
Would it be okay to start the work based on https://github.com/castleproject/Core/tree/netcore? Most of the big changes are already in. I am willing to give it a first stab.

[2016-02-06 07:06] adamralph commented on #531
@jeremymeng I think would be fine to grab some custom binary to reference for now, so long as your are prepared to rebase/squash your commits back to something clean (or have someone else do that) when Castle for netcore (or whatever other name is goes by) is on NuGet.

[2016-02-06 12:40] blairconrad commented on #175
Oh, man. I just reread. I still wish we had a better syntax, but am not sure that anything has come along that helps.
Unless we can Roslyn it up, but that's currently beyond me…

[2016-02-06 12:48] blairconrad commented on #22
@adamralph, I'm not sure I understand what you're saying. I think you're coming down on closing this...
does

mean "… without any changes to the FakeItEasy codebase"?

Like I should run off and update my personal settings and get extensions in order to comply?

I don't mind doing this. In fact, I have been. (Or ignoring the odd warning from ReSharper, because I am familiar enough with FIE's settin